
Fields=	evtType \\
	de \\
	esNN3 \\
	mcTruth \\
        mes \\
	cosT fisher \\
	m2ksks m2ks1kl m2ks2kl \\
	kltype klpcmf klptmiss klplab \\
	emcNN \\
        ks1corrdecayradius ks2corrdecayradius \\

//        runNum
//        hiEvtID loEvtID \\
//        ks1Prob ks2Prob mks1 mks2

runNum = RooStringVar "runNum"
hiEvtID = RooStringVar "TS upperID"
loEvtID = RooStringVar "TS lowerID"
ks1Prob = RooRealVar "ks1Prob" 0. 1. B(100)
ks2Prob = RooRealVar "ks2Prob" 0. 1. B(100)
mks1 = RooRealVar "mks1" .490 .506 B(50)
mks2 = RooRealVar "mks2" .490 .506 B(50)

//mcTruth = RooRealVar "MCTruth bits" 20 0 10
mcTruth = RooCategory "MCTruth bits" 4  0 0 1 1 2 2 7 7

cosT = RooRealVar "cosT" -1. 1. B(100)
fisher = RooRealVar "Fisher" -10 10 B(100)

//de = RooRealVar "#Delta E" -0.01 0.065 B(45) "GeV"
de = RooRealVar "#Delta E" -0.01 0.08 B(45) "GeV"
mes = RooRealVar "M_{es}" 5.19 5.29 B(50) "GeV"

// with opt cuts
m2ksks = RooRealVar "invm2ksks" 0. 25. B(100) "GeV"

m2ks1kl = RooRealVar "invm2ks1kl" 0. 25. B(100) "GeV"
m2ks2kl = RooRealVar "invm2ks2kl" 0. 25. B(100) "GeV"
evtType = evtType RooCategory "kskl type" useIdx "Reg1" 1 "Reg2" 2

kltype = RooCategory "kltype" 3 emc 0 ifr 1 both 2

klpcmf = RooRealVar "P_{cmf}" 0. 3. B(60)
// JpsiKl kinematic
//klpcmf = RooRealVar "P_{cmf}" 1.54 1.84 B(60)
klptmiss = RooRealVar "Pt_{miss}" -.5 4. B(90)
klplab = RooRealVar "P_{lab}" 0 4. B(90)

ks1corrdecayradius = RooRealVar "R_{corr}" 0.8 40 B(80)
ks2corrdecayradius = RooRealVar "R_{corr}" 0.8 40 B(80)

// cuts on emcNN
emcNN = RooRealVar "emc_{NN}" .5 2. B(100)
emcNN2 = RooRealVar "emc_{NN}" -4 6 B(80)

// cuts on esNN
esNN = RooRealVar "es_{NN}" 0 2 B(40)
esNN4 = RooRealVar "es_{NN}" -.2 2 B(40)
esNN2 = RooRealVar "es_{NN}" -1. 2. B(80)
//esNN3 = RooRealVar "es_{NN}" -2 1.2 B(80)
esNN3 = RooRealVar "es_{NN}" .5 .95 B(45)

//echo Done with dsd.config
