
Fields= \\
        mcTruth \\
        cosT fisher \\
        de mes \\
        jpsimass \\
        kltype klpcmf klptmiss klplab klcosthlab \\
        emcNN esNN
//        runNum

runNum = RooRealVar "runNum" 0 +1e10

//mcTruth = RooRealVar "MCTruth bits" 20 0 10
mcTruth = RooCategory "MCTruth bits" 4  0 0 1 1 2 2 7 7

cosT = RooRealVar "cosT" -1. 1. B(100)
fisher = RooRealVar "Fisher" -10 10 B(100)

de = RooRealVar "#Delta E" -0.01 0.08 B(45) "GeV"
mes = RooRealVar "M_{es}" 5.19 5.29 B(50) "GeV"

// with opt cuts
jpsimass = RooRealVar "jpsimass" 3.06 3.13 B(70) "GeV"

kltype = RooCategory "kltype" useIdx emc 0 ifr 1

klpcmf = RooRealVar "P_{cmf}" 0. 3. B(60)
klptmiss = RooRealVar "Pt_{miss}" -.5 4. B(90)
klplab = RooRealVar "P_{lab}" 0 4. B(90)
klcosthlab = RooRealVar "klcosthlab" -1. 1. B(100)

// cuts on emcNN
emcNN = RooRealVar "emc_{NN}" .5 2. B(100)

// cuts on esNN
esNN = RooRealVar "es_{NN}" .5 .95 B(45)

AddOns = pCat tCat
pCat = RooThresholdCategory "klplab cat" noIdx klplab "1.32"  \\
        1.32 1.32 \\
	1.69 1.69 \\
	1.97 1.97 \\
	2.25 2.25 \\
	2.56 2.56 \\
	4.00 4.00

tCat = RooThresholdCategory "klcosthlab cat" noIdx klcosthlab "m.29"  \\
        -.29 m.29 \\
	+.08 p.08 \\
	+.33 p.33 \\
	+.56 p.56 \\
	+.75 p.75 \\
	1.00 1.00

//echo Done with dsd.config
