///////////////////////////////////////////////////////////////////////////////
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// Fit to rho0K*+ 
//////////////////////////////////////////////////////////////////////////////

Fields=	run event             \\
	charge                \\
	fisher deltaE mES     \\
	thrust                \\
	mKst mRho hKst hRho   \\
	phi                   \\
        trueK trueR           \\

run    = RooRealVar "run"        0.0  +1.0e10
event  = RooRealVar "event"      0.0  +1.0e10  
charge = RooRealVar "charge"    -1.5  +1.5
fisher = RooRealVar "fisher"    -2.0  +2.0
deltaE = RooRealVar "#Delta E"  -0.1  +0.1   "GeV"
mES    = RooRealVar "m_{ES}"     5.25  5.29  "GeV/c^{2}"
thrust = RooRealVar "thrust"    -1.0  +1.0
mKst   = RooRealVar "m_{K#pi}"   0.75  1.05  "GeV/c^{2}"
mRho   = RooRealVar "m_{#pi#pi}" 0.52  1.10  "GeV/c^{2}"
hKst   = RooRealVar "h_{K#pi}"  -0.9  +1.0
hRho   = RooRealVar "h_{#pi#pi}" 0.0   0.95
phi    = RooRealVar "#phi"      -3.15 +3.15
trueK  = RooRealVar "true K*"   -2.0  +2.0
trueR  = RooRealVar "true #rho" -2.0  +2.0

AddOns  = chgCat
chgCat  = RooThresholdCategory "Charge category" useIdx charge "Plus" 1 0.5 "Zero" 0  -0.5 "Minus" -1

echo Done with dsd.config
