//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// $Id: dsd_EtapEppKstar_Kspi.config,v 1.2 2007/06/29 08:37:45 zhanglei Exp $
//
// This dsd Fields works with standard Q2BFit dataset format. People do not
// want to have the same dsd structure can choose freely other reasonable
// format, especially if he wants to remove some unnecessary columns
//
// This sample config is intended to demonstrate VV fitting
// using omegaRhop mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

Fields=	deltaT dtErr \\
	zRecTrue dzTrue zUpsTrue dtTrue \\
	onOffRes \\
	bHasAssoc \\
	field09 \\
	pTagB004 tagCatRaw04 pTagB0MT pTagB0TruMT tagCatRawMT \\
	pRecB0 pRecB0Tru \\
	bCharge bDecayMode \\
	hKstar mKs mKstar cosT \\
	pullPion pullKaon \\
	meta metap \\
	fisher de mes \\
	runNum hiEvtID loEvtID \\
	mcTruth \\
	diffDE \\
	field35 field36 field37 field38 field39 field40 field41

deltaT = RooRealVar "#Delta T" -1e10 +1e10 B(400) "ps"
dtErr = RooRealVar "#delta#Delta T" -1e10 +1e10 B(10) "ps"
zRecTrue = RooRealVar "MC true z of reco B" -1e10 +1e10 "um"
dzTrue = RooRealVar "MC true delta(z)" -1e10 +1e10 "um"
zUpsTrue = RooRealVar "MC true z of Ups(4S)" -1e10 +1e10 "um"
dtTrue = RooRealVar "MC true delta(t)" -1e10 +1e10 "ps"
onOffRes = RooCategory "on/off Ups(4S) resonance" useIdx Unknown 0 OnRes 1 OffRes 2
bHasAssoc = RooCategory "bHasAssoc" useIdx NoMC -999    NoMatch 0  Match 1  Special 2
field09 = RooRealVar "field09" -1e10 +1e10
pTagB004 = RooRealVar "Tag side B0 flavour probability for Tag04" 0 1
tagCatRaw04 = RooCategory "Raw Tagging Category for Tag04" useIdx    NoTag 0  Leptons 63  KaonI 64  KaonII 65  Kaon-Pion 66  Pion 67  Other 68
pTagB0MT = RooRealVar "Tag side B0 flavour probability for MT" 0 1
pTagB0TruMT = RooRealVar "Tag side B0 flavour probability for MT" -1e10 +1e10
tagCatRawMT = RooCategory "Raw Tagging Category for MT" useIdx    NoTag 0  ElKaon 50  MuKaon 51  Electron 52  Muon 53  KaonSlowPion 54  Kaon1 55  NT1SlowPion 56  NT1Kaon 57  NT2Other 58
pRecB0 = RooRealVar "Reco side B0 flavour probablity" -1e10 +1e10
pRecB0Tru = RooRealVar "True reco side B0 flavour probablity" -1e10 +1e10
bCharge = RooRealVar "bCharge" -2 2
bDecayMode = RooCategory "B Decay Mode" useIdx "Bp->etapKstar+,etap->epp,Kstar+->Ks pi+" 5006
hKstar = RooRealVar "H_{Kpi}" -0.95 1. B(40)
mKs = RooRealVar "M_{Ks}" 0.486 0.510
mKstar = RooRealVar "M_{Kpi}" 0.755 1.035 B(28)
meta = RooRealVar "M_{eta}" 0.490 0.600
metap = RooRealVar "M_{etapipi}" .910 1.000 B(30)
cosT = RooRealVar "cosT" -1. 1. B(50)
pullPion = RooRealVar "pull_{#pi}"  -1e10 +1e10
pullKaon = RooRealVar "pull_{K}" -1e10 +1e10
fisher = RooRealVar "fisher" -4 5 B(30)
de = RooRealVar "#Delta E" -0.2 0.125 B(40) "GeV"
mes = RooRealVar "M_{ES}" 5.25 5.29 B(20) "GeV"
runNum = RooRealVar "runNum" 0 +1e10
hiEvtID = RooStringVar "TS upperID"
loEvtID = RooStringVar "TS lowerID"
mcTruth = RooRealVar "mcTruth" -1e10 +1e10
diffDE = RooRealVar "diffDE" -1e10 +1e10
field35 = RooRealVar "field35" -1e10 +1e10
field36 = RooRealVar "field36" -1e10 +1e10
field37 = RooRealVar "field37" -1e10 +1e10
field38 = RooRealVar "field38" -1e10 +1e10
field39 = RooRealVar "field39" -1e10 +1e10
field40 = RooRealVar "field40" -1e10 +1e10
field41 = RooRealVar "field41" -1e10 +1e10

AddOns = physCat DataMC runBlock chgCat tagCat tagFlav mixState
physCat = RooMappedCategory "Physics Cat" noIdx bDecayMode "Gold"
DataMC = RooMappedCategory "Data/MC" noIdx runRange "Data"    "da*" "Data"  "mc*" "MC"
runBlock = RooMappedCategory "Run Block" noIdx runRange Run1    "*Run1" "Run1"  "*Run2" "Run2"  "*Run3" "Run3"  "*Run4" "Run4"
// for run1,2 only
//runBlock = RooMappedCategory "Run Block" noIdx runRange Run1    "*Run1" "Run1"  "*Run2" "Run2"
chgCat = RooThresholdCategory "charge Category" useIdx bCharge "Plus" 1    0.5 "Zero" 0  -0.5 "Minus" -1
tagCat = RooMappedCategory "Condensed Tagging Category" noIdx tagCatRaw04 04T1    "Leptons" "04T1"  "KaonI" "04T2"  "KaonII" "04T3"  "Kaon-Pion" "04T4"  "Pion" "04T5"  "Other" "04T6"  "NoTag" "04T0"
tagFlav = RooThresholdCategory "B0 Tagged Flavour State" useIdx pTagB004 "B0" 1    0.5 "B0bar" -1
mixState = RooThresholdCategory "B0-B0bar Mixing State" useIdx mixProb "Mixed" -1    0. "Unmixed" +1

runRange = RooThresholdCategory "Run Range" noIdx runNum "mcRun2"    18000 "daRun1"  30000 "daRun2"  40000 "daRun3"  200000 "daRun4"  770000 "mcRun1"
mixProb = RooFormulaVar "1-2*abs(pTagB0MT-pRecB0)" pTagB0MT pRecB0

//echo Done with dsd.config
