// default dsi section
[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigMC chlsMC onData \\
           gsbData desbData

sigMC    = ascii "sig MC" "mydats/etaggrhop_SIGMC.text" Q // quiet mode
chlsMC     = ascii "peaking BB MC" "mydats/etaggrhop_BBbar.text" Q
onData   = ascii "onpeak Data" "mydats/etaggrhop_ONPEAK.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"

tabulateDatasets = yes

[Dataset Definition]
include dsd_erho.config

// default master pdf config
[mlFitter Config]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
physModels = the_Nmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_Nmodel  = DataMC :  deSig_scale, mRSig_shift, mRSig_scale \\
             DataMC,runBlock : mesSig_shift, mESig_shift, mESig_scale \\
             runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4], Frac_nChls_runBlock[Run4] \\
             chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus]
postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus


// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRmodel
physModels = the_BRmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_BRmodel  = DataMC :  deSig_scale, mRSig_shift, mRSig_scale \\
             DataMC,runBlock : mesSig_shift, mESig_shift, mESig_scale \\
             runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4], Frac_nChls_runBlock[Run4] \\
             chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus]
postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus

[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = SigPdf BkgPdf ChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 54000 L(0 - 100000)
nSig = nSig    96 L(-10 - 5000)
nChls = nChls 160 L(-10 - 5000)
postPdfFloat = nSig nBkg nChls

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = SigPdf BkgPdf ChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 54000 L(0 - 100000)
nChls = nChls 200 L(-10 - 5000)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 6 L(-10 - 100)
nBB = nBB RooRealVar "nBB" 231.8 +/- 0.0 C 
prodBR = prodBR RooRealVar "prodBR" 0.307 +/- 0.0 C 
effcorr = effcorr RooRealVar "effcorr" 0.211 +/- 0.0 C 
fitBias = fitBias RooRealVar "fitBias" 7.3 +/- 0.0 C 
postPdfFloat = measBR nBkg nChls

[SigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = deSig mesSig fisSig mESig mRSig heliSig
fitData = sigMC

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mRBkg
Comps = deBkg mesBkg fisBkg mEBkg helimassBkg
fitData = gsbData

[ChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
Comps = deChls mesChls fisChls mEChls mRChls heliChls
fitData = chlsMC

[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 
[deChls Config]
configStr = TwoGauss
x = de
meanC =  0.13 L(-0.2 - 0.2)
meanT = -0.20 L(-0.3 - 0.2)
sigmaC = 0.06 L( 0.0 - 0.3)
sigmaT = 0.14 L( 0.0 - 0.3)
fracC =  0.35 L( 0.0 - 1.0)

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c
[CB mesChls Config]
configStr = CBShape
x = mes
mean =  5.277 L(5.265 -  5.290)
sigma = 0.006 L(0.001 -  0.050)
alpha = 1.5   L(0.1   - 10.0)
n =     1.0   C(0.1   -  5.0)
[mesChls Config]
configStr = AddPdf
Comps = mesChlsGauss mesChlsArgus
Coeffs = fracG
fracG = fracG "f_{G}" 0.08 L(0.0 - 1.0)
[mesChlsArgus Config]
configStr = ArgusBG
x = mes
max = 5.29 C
c = -380.  L(-800. - -0.1)
pow =  1.5 L(  -3. -  3.0)
[mesChlsGauss Config]
configStr = Gaussian
x = mes
mean =  5.28  L(5.2 - 5.29)
sigma = 0.004 L(0.0 - 0.1)

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)
[fisChls Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)

[mESig Config]
configStr = TwoGauss
x = mEta
meanC =  0.540 L(0.52 - 0.58)
meanT =  0.530 L(0.52 - 0.58)
sigmaC = 0.012 L(0.0  - 0.02)
sigmaT = 0.030 L(0.0  - 0.1)
fracC =  0.65   L(0.0  - 1.0)
shift = T "Offset_{mE}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mE}"  1.0 C L( 0.8 - 1.2)
[mEBkg Config]
configStr = AddPdf
Comps = mESig mEPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.36 L(0 - 1.)
prePdfFix = mESig mESig_shift 0.005 mESig_scale 1.04
postPdfFloat = fracS
[mEPolyBkg Config]
configStr = Chebychev
x = mEta
nOrder = 2
P01 = -0.25 L(-100 - 100)
P02 = 0.0 L(-100 - 100)
postPdfFloat = P01 
[mEChls Config]
configStr = AddPdf
Comps = mEPeak mEPolyChls
Coeffs = fracS
fracS = 0.11 L(0. - 1.)
[mEPeak Config]
configStr = Gaussian
x = mEta
mean =  0.54 L(0.53 - 0.58)
sigma = 0.01 L(0.   - 0.1)
[mEPolyChls Config]
configStr = Chebychev
x = mEta
nOrder = 1
P01 = -0.3 L(-100. - 100.)

[mRSig Config]
configStr = TwoGauss
x = mRho
meanC =  0.78 L(0.76 - 0.80)
meanT =  0.76 L(0.76 - 0.80)
sigmaC = 0.160 L(0.0  - 0.2)
sigmaT = 0.05  L(0.0  - 0.1)
fracC =  0.5   L(0.0  - 1.0)
shift = T "Offset_{mR}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mR}"  1.0 C L( 0.8 - 1.2)
[mRBkg Config]
configStr = AddPdf
Comps = mRSig mRPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.25 L(0 - 1.)
prePdfFix = mRSig mRSig_shift 0.0011 mRSig_scale 1.05
postPdfFloat = fracS
[mRPolyBkg Config]
configStr = Chebychev
x = mRho
nOrder = 2
P01 = -0.20 L(-100 - 100)
P02 = 0.02 L(-100 - 100)
postPdfFloat = P01 
[mRChls Config]
configStr = AddPdf
Comps = mRPeak mRPolyChls
Coeffs = fracS
fracS = 0.70 L(0. - 1.)
[mRPeak Config]
configStr = TwoGauss
x = mRho
meanC =  0.76 L(0.60 - 0.90)
meanT =  0.76 L(0.60 - 0.90)
sigmaC = 0.10 L(0.   - 0.1)
sigmaT = 0.20 L(0.   - 0.1)
fracC =  0.8  L(0.   - 1.0)
[mRPolyChls Config]
configStr = Chebychev
x = mRho
nOrder = 1
P01 = 0.1 L(-100. - 100.)

[heliSig Config]
configStr = Polynomial
x = heli
nOrder = 2
P01 = -3.5 L(-10. - 10.)
P02 = 70.0 L(  0. - 250.)
[helimassBkg Config]
configStr = AddPdf
plotBins_mRho = -1 // suppress this redundant plot
Comps = helimassSG helimassSB
compsDataOnPlot = mRBkg
Coeffs = mRBkg_fracS
prePdfFix = mRBkg_fracS mRSig mRPolyBkg
[helimassSG Config]
configStr = ProdPdf
Comps = mRSig heliBkgSG
[heliBkgSG Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0)/(1.0+exp((@0-@3)/@4))" \\
          heli c1 c2 c3 c4
c1 = T "C_{SG1}"  0.4 L(-2.0 - 2.0)
c2 = T "C_{SG2}" -0.8 L(-2.0 - 2.0)
c3 = T "C_{SG3}"  1.5 C // Turn off rolloff
c4 = T "C_{SG4}"  0.00001 C
[helimassSB Config]
configStr = ProdPdf
Comps = mRPolyBkg heliBkgSB
[heliBkgSB Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0)/(1.0+exp((@0-@3)/@4))" \\
          heli c1 c2 c3 c4
c1 = T "C_{SB1}" 0.6 L(-2.0 - 2.0)
c2 = T "C_{SB2}" 0.0 L(-2.0 - 2.0)
c3 = T "C_{SB3}" 1.5 C
c4 = T "C_{SB4}" 0.00001 C
[heliChls Config]
configStr = Polynomial
x = heli
nOrder = 4
P01 =  -3.5  L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0. L(-50 - 50)
P04 =  0.  L(-50 - 50)

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mESig mEBkg
//pdfToFit = mRSig mRBkg
//pdfToFit = heliSig helimassBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift =  0.00040000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift_{Data;Run1} = 0.0008 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0006 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0004 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0001 +/- 0.0001 C L(-.1 - .1)
mESig_shift_{Data;Run1} = 0.0081 +/- 0.00085288 L(-0.1 - 0.1)
mESig_shift_{Data;Run2} = 0.0051 +/- 0.00085288 L(-0.1 - 0.1)
mESig_shift_{Data;Run3} = 0.0051 +/- 0.00085288 L(-0.1 - 0.1)
mESig_shift_{Data;Run4} = 0.0051 +/- 0.00085288 L(-0.1 - 0.1)
mESig_scale_{Data;Run1} =  1.06 +/- 0.29237 C L(0.8 - 1.2)
mESig_scale_{Data;Run2} =  1.04 +/- 0.29237 C L(0.8 - 1.2)
mESig_scale_{Data;Run3} =  1.04 +/- 0.29237 C L(0.8 - 1.2)
mESig_scale_{Data;Run4} =  1.04 +/- 0.29237 C L(0.8 - 1.2)
mRSig_shift_Data = 0.0011 +/- 0.00085288 C L(-0.1 - 0.1)
mRSig_scale_Data =  1.05 +/- 0.29237 C L(0.8 - 1.2)

[MLAct]
// Datasets config here overrides that in dsi section
Datasets = onData
// mlFit options
mlFit = yes
//mlFitOption = emhr

[eToyAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 108 // nSig embed
toySrc_nChls = chlsMC 150 // nChls embed
preToyReadSecParams = ToyParams

[pToyAct]
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 floated
toySrc_nSig = pdf 108 // nSig pure
toySrc_nChls = pdf 150 // nSig pure

[eToyTestBBAct]
toyStudy=yes
protToyData=onData
toyNexp=500 // # experiments
toySrc_nSig=sigMC 90 // nSig embed
toySrc_nBkg=chlsMC 27 pdf 0 // Bkg has two parts, 27 from chlsMC, the rest from pdf
preToyReadSecParams = ToyParams

[ToyParams]
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
mRSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mRSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)

[ProjAct]
// projectionPlot options
projPlot = yes
projComps = SigPdf 
projVars = mes de fisher mEta mRho heli
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
projLRatioCut_mEta = .925
projLRatioCut_mRho = .925
projLRatioCut_heli = .945
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
plotBins_mEta = 18
plotBins_mRho = 18
plotBins_heli = 17
projFindOptimCut = yes
//projOptimFormula_heli = "pow(@0,4)/@1"
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mRho = "abs(mRho-0.783)<0.025"
projOptimRange_heli = "heli>0.5"

[Action Config]
// default no action
