// -*- Mode: c++ -*-
// default dsi section
[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigMC k2MC chlsMC onData kst1430MC \\
           gsbData desbData

sigMC    = ascii "sig MC" "mydats/etakstar_ggkpim_892_sigMC.text" Q // quiet mode
chlsMC   = ascii "peaking BB MC" "mydats/etakstar_ggkpim_892_BBbarBG.text" Q
onData   = ascii "onpeak Data" "mydats/etakstar_ggkpim_892_r15.text" Q
kst1430MC  = ascii "kst1430 MC" "mydats/etakstar_ggkpim_892_Kst1430.text" Q
k2MC  = ascii "k2 MC" "mydats/etakstar_ggkpim_892_K2st.text" Q

gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"

tabulateDatasets = yes
ub_onData = 91eadc1c5c5e71fbb8b9ef3fd4d66e74 db90329463b677bccfce6f1979aa4275 f957924957c8bcd248cca4144cca0ccf a48bdb34f70a3c8e6cf29bf2314d9c80 0ea8af2ad2486a4418241f116a02225e


[Dataset Definition]
include configs/dsd_etakstar_ggkpim_892_r15.config
//runBlock = RooMappedCategory "Run Block" noIdx runRange Run1    "*Run1" "Run1"  "*Run2" "Run2"

// default master pdf config
[mlFitter Config]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
physModels = the_Nmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_Nmodel  = DataMC :  deSig_scale, deKst1430_scale\\
	      DataMC,runBlock : mesSig_shift, mESig_shift, mESig_scale, mesKst1430_shift, mEKst1430_shift, mEKst1430_scale \\
	      runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5], Frac_nKst1430_runBlock[Run5]\\
              chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nKst1430_chgCat[Minus]

postPdfFloat = Frac_nSig_chgCat_Plus, Frac_nBkg_chgCat_Plus

// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRmodel
physModels = the_BRmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat  // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_BRmodel  = DataMC :  deSig_scale, deKst1430_scale\\
	      DataMC,runBlock : mesSig_shift, mESig_shift, mESig_scale, mesKst1430_shift, mEKst1430_shift, mEKst1430_scale \\
	      runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5], Frac_nKst1430_runBlock[Run5] \\
              chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nKst1430_chgCat[Minus]
postPdfFloat = Frac_nSig_chgCat_Plus, Frac_nBkg_chgCat_Plus
          
[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = SigPdf BkgPdf ChlsPdf Kst1430Pdf
Coeffs = nSig nBkg nChls nKst1430
nBkg = nBkg 12000 L(-1000000 - 1000000)
nSig = nSig   300 L(-1000000 - 1000000)
nChls = nChls  94 L(-1000000 - 1000000)
nKst1430 = nKst1430 72.1 C L(-1000000 - 1000000)
postPdfFloat = nSig nBkg nChls

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = SigPdf BkgPdf ChlsPdf Kst1430Pdf
Coeffs = nSig nBkg nChls nKst1430
nBkg = nBkg 12000 L(-1000000 - 1000000)
nChls = nChls  94 L(-1000000 - 1000000)
nKst1430 = nKst1430 72.1 C L(-1000000 - 1000000)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 19 L(-10 - 100)
nBB = nBB RooConstVar "nBB" 383.6 +/- 4.2 C 
prodBR = prodBR RooConstVar "prodBR" 0.263 +/- 0.0 C 
effcorr = effcorr RooConstVar "effcorr" 0.238 +/- 0.0 C 
fitBias = fitBias RooConstVar "fitBias" 15.4 +/- 1.0 C 
postPdfFloat = measBR nBkg nChls

[SigPdf Config]
configStr = ProdPdf "Signal Pdf"
  //Comps = helKstarSig
Comps = deSig mesSig fisSig mESig mKstarSig helKstarSig
fitData = sigMC

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mKstarBkg
  //Comps = helKstarBkg
Comps = deBkg mesBkg fisBkg mEBkg mKstarBkg helKstarBkg
fitData = gsbData

[ChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
  //Comps = helKstarChls
Comps = deChls mesChls fisChls mEChls mKstarChls helKstarChls
fitData = chlsMC

[Kst1430Pdf Config]
configStr = ProdPdf "Kstar1430 Pdf"
  //Comps = helKstarKst1430
  
Comps = deKst1430 mesKst1430 fisKst1430 mEKst1430 mKstarKst1430 helKstarKst1430
fitData = kst1430MC


[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.02  L( 0.0 - 0.6)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 
[deChls Config]
configStr = TwoGauss
x = de
meanC =  0.30 L( 0.0 - 0.5)
meanT = -0.20 L(-0.4 - 0.0)
sigmaC = 0.15 L( 0.0 - 0.3)
sigmaT = 0.30 L( 0.0 - 0.5)
fracC =  0.35 L( 0.0 - 1.0)
[deKst1430 Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c
[mesChls Config]
configStr = CBShape
x = mes
mean =  5.277 L(5.265 -  5.290)
sigma = 0.006 L(0.001 -  0.050)
alpha = 1.5   L(0.1   - 10.0)
n =     1.0   L(0.0   -  5.0)
[AddPdf mesChls Config]
configStr = AddPdf
Comps = mesChlsGauss mesChlsArgus
Coeffs = fracG
fracG = fracG "f_{G}" 0.08 L(0.0 - 1.0)
[mesChlsArgus Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -380.  L(-800. - -0.1)
pow =  1.5 L(  -3. -  3.0)
[mesChlsGauss Config]
configStr = Gaussian
x = mes
mean =  5.28  L(5.2 - 5.29)
sigma = 0.004 L(0.0 - 0.1)
[mesKst1430 Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)


[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)
[fisChls Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)
[fisKst1430 Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)

[mESig Config]
configStr = TwoGauss
x = mEta
meanC =  0.540 L(0.52 - 0.58)
meanT =  0.530 L(0.0 - 0.6)
sigmaC = 0.012 L(0.0  - 0.02)
sigmaT = 0.030 L(0.0  - 0.1)
fracC =  0.65   L(0.0  - 1.0)
shift = T "Offset_{mE}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mE}"  1.0 C L( 0.8 - 1.2)
[mEBkg Config]
configStr = AddPdf
Comps = mESig mEPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.36 L(0 - 1.)
prePdfFix = mESig mESig_shift 0.0061 mESig_scale 1.05
postPdfFloat = fracS
[mEPolyBkg Config]
configStr = Chebychev
x = mEta
nOrder = 1
P01 = -0.25 L(-100 - 100)
postPdfFloat = P01 
[mEChls Config]
configStr = AddPdf
Comps = mEPeak mEPolyChls
Coeffs = fracS
fracS = 0.11 L(0. - 1.)
[mEPeak Config]
configStr = Gaussian
x = mEta
mean =  0.54 L(0.53 - 0.58)
sigma = 0.01 L(0.   - 0.1)
[mEPolyChls Config]
configStr = Chebychev
x = mEta
nOrder = 1
P01 = -0.3 L(-100. - 100.)
[mEKst1430 Config]
configStr = TwoGauss
x = mEta
meanC =  0.540 L(0.52 - 0.58)
meanT =  0.530 L(0.0 - 0.6)
sigmaC = 0.012 L(0.0  - 0.02)
sigmaT = 0.030 L(0.0  - 0.1)
fracC =  0.65   L(0.0  - 1.0)
shift =  0.0 C L(-0.1 - 0.1)
scale =  1.0 C L( 0.8 - 1.2)
[mEKst1430AddPdf Config]
configStr = AddPdf
Comps = mEkstPeak mEkstPolyChls
Coeffs = fracS
fracS = 0.11 L(0. - 1.)
[mEkstPeak Config]
configStr = Gaussian
x = mEta
mean =  0.54 L(0.53 - 0.58)
sigma = 0.01 L(0.   - 0.1)
[mEkstPolyChls Config]
configStr = Chebychev
x = mEta
nOrder = 1
P01 = -0.3 L(-100. - 100.)

[mKstarSig Config]
//configStr = TwoGauss
//x = mKstar
//meanC = 0.892 L(0.8 - 1.)
//meanT = 0.892 L(0.8 - 1.)
//sigmaC =0.050 L(0. - 0.07)
//sigmaT =0.100  L(0. -  .2)
//fracC = 0.6   L(0. - 1.)
configStr = BreitWigner
x         = mKstar
mean      =  .892  L(0.6 - 0.9) 
sigma     =  .05 L(0 - 0.2)
[mKstarBkg Config]
configStr = AddPdf
Comps = mKstarSig mKstarPolyBkg
Coeffs = fracKst
fracKst = T "f_{K*}" 0.23 L(0 - 1.)
prePdfFix = mKstarSig
postPdfFloat = mKstarBkg_fracKst
[mKstarPolyBkg Config]
configStr = Chebychev
x = mKstar
nOrder = 1
P01 =  0.2  L(-100 - 100)
postPdfFloat = P01 
[mKstarChls Config]
configStr = AddPdf
//Comps = mKstarGChls mKstarPolyChls
Comps = mKstarSig mKstarPolyChls
Coeffs = fracKstChls
fracKstChls = T "f_{K*}" 0.23 L(0 - 1.)
prePdfFix = mKstarSig
//postPdfFloat = mKstarBkg_fracKst
[mKstarPolyChls Config]
configStr = Chebychev
x = mKstar
nOrder = 2
P01 =  0.2  L(-100 - 100)
P02 = -0.02 L(-100 - 100)
//postPdfFloat = P01 
[mKstarGChls Config]
configStr = BreitWigner
x = mKstar

[mKstarKst1430 Config]
configStr = Chebychev
x = mKstar
nOrder = 4
P01 = 0.2 L(-5 - 5)
P02 = 0.5 L(-5 - 5)
P03 = 0 L(-5 - 5)
P04 = 0 L(-5 - 5)

[helKstarSigPoly Config]
configStr = Polynomial
x = hKstar
nOrder = 

[helKstarSig Config]
configStr = Generic
   // (polynomial)*("step" function)   
   // (a1*x+a2*x^2+a3*x^3+a4*x^4)*(1/(1+a5*exp(-(x+a6)/a8)
formula = "(@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0)*(1/(1+@5*exp(-(@0+@6)/@7)))" \\
           hKstar c1 c2 c3 c4 c5 c6 c7

c1 = T "C_{SG1}"  0.0  L // 1st order coeff
c2 = T "C_{SG2}"  1.0  L // 2nd order coeff
c3 = T "C_{SG1}"  0.0  L // 3rd order coeff
c4 = T "C_{SG2}"  0.0  L // 4th order coeff
c5 = T "C_{SG5}"  0.3  L // steepness of roll-off (past rolloff), bigger is steeper
c6 = T "C_{SG3}"  0.95 L // point where "step function" is 1/2
c7 = T "C_{SG4}"  0.01 L // speed of "step" function "turn on", bigger is steeper

[helKstarBkg Config]
configStr = Polynomial
x = hKstar
nOrder = 4

[helKstarChls Config]
configStr = Chebychev
x = hKstar
nOrder = 6
P01 = 0.2 L(-5 - 5)
P02 = 0.5 L(-5 - 5)
P03 = 0 L(-5 - 5)
P04 = 0 L(-5 - 5)
P05 = 0 L(-5 - 5)
P05 = 0 L(-5 - 5)

[helKstarChls AddPdf Config]
configStr = AddPdf
Comps = hkstarGaussChls hkstarPolyChls
Coeffs = frachkstarCh
frachkstarCh = 0.4 L(0. - 1.)
[hkstarGaussChls Config]
configStr = Generic
formula = "exp( - (@1-@0)*(@1-@0) / @2)" \\
          hKstar c1 c2
c1 = T "mean_{Chls}" -1.9 L(-5. - -1.)
c2 = T "sig_{Chls}"  0.9 L(0. - 5.0)
//configStr = Gaussian
//configStr = Exp
//x = hKstar
//c = 1. L(0. - 20.)
[hkstarPolyChls Config]
configStr = Polynomial
x = hKstar
nOrder = 2
p01 = 0.0 L(-5 - 5)
[helKstarKst1430 Config]
configStr = Polynomial
x = hKstar
nOrder = 2

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mESig mEBkg
//pdfToFit = mRSig mRBkg
//pdfToFit = heliSig helimassBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mESig_shift_{Data;Run1} = 0.0087 +/- 0.00057607 C L(-0.1 - 0.1)
mESig_shift_{Data;Run2} = 0.0045 +/- 0.00031308 C L(-0.1 - 0.1)
mESig_shift_{Data;Run3} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mESig_shift_{Data;Run4} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mESig_shift_{Data;Run5} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mESig_scale_{Data;Run1} =  1.22 +/- 0.05134 C L(0.8 - 1.5)
mESig_scale_{Data;Run2} =  1.10 +/- 0.02848 C L(0.8 - 1.2)
mESig_scale_{Data;Run3} =  1.03 +/- 0.01418 C L(0.8 - 1.2)
mESig_scale_{Data;Run4} =  1.03 +/- 0.01418 C L(0.8 - 1.2)
mESig_scale_{Data;Run5} =  1.03 +/- 0.01418 C L(0.8 - 1.2)
deKst1430_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesKst1430_shift_{Data;Run1} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesKst1430_shift_{Data;Run2} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesKst1430_shift_{Data;Run3} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesKst1430_shift_{Data;Run4} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mesKst1430_shift_{Data;Run5} = 0.0000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_shift_{Data;Run1} = 0.0087 +/- 0.00057607 C L(-0.1 - 0.1)
mEKst1430_shift_{Data;Run2} = 0.0045 +/- 0.00031308 C L(-0.1 - 0.1)
mEKst1430_shift_{Data;Run3} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mEKst1430_shift_{Data;Run4} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mEKst1430_shift_{Data;Run5} = 0.0063 +/- 0.00016086 C L(-0.1 - 0.1)
mEKst1430_scale_{Data;Run1} =  1.22 +/- 0.05134 C L(0.8 - 1.5)
mEKst1430_scale_{Data;Run2} =  1.10 +/- 0.02848 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run3} =  1.03 +/- 0.01418 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run4} =  1.03 +/- 0.01418 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run5} =  1.03 +/- 0.01418 C L(0.8 - 1.2)

[MLAct]
// Datasets config here overrides that in dsi section
////Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
mlFitOption = ehmr
//postMLSignf = nSig

[PdfVarAct]
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
postMLSysVars = nSig
postMLSysParams = deSig_scale 0.05V mesSig_shift 0.0002V \\
                  mESig_shift_{Data;Run5} 0.00020V mESig_scale_{Data;Run5} 0.00001V \\
                  mESig_shift_{Data;Run4} 0.00020V mESig_scale_{Data;Run4} 0.00001V \\
		  mESig_shift_{Data;Run3} 0.00020V mESig_scale_{Data;Run3} 0.00001V \\
		  mESig_shift_{Data;Run2} 0.00030V mESig_scale_{Data;Run2} 0.00003V \\
		  mESig_shift_{Data;Run1} 0.00060V mESig_scale_{Data;Run1} 0.00005V \\
		  fisSig_asym 0.0064V fisSig_mean 0.005V fisSig_rms 0.014V
[FixYieldVarAct]
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
postMLSysVars = nSig
		  //postMLSysParams = nKst1430 13.4V
postMLSysParams = nKst1430 15.7V

[eToyAct]
// toy options
toyStudy = yes
toyGenerate = yes

//preToyReadParams = A mlFit
protToyData = onData
toyNexp = 200 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)

toySrc_nSig = sigMC 399 // n892 embed
toySrc_nChls = chlsMC 60 // nChls embed
toySrc_nKst1430 = kst1430MC 67 // n1430 embed
toySrc_nBkg = k2MC 4 pdf 16000 // nBkg embed
preToyReadSecParams = ToyParams

[eToySPlotAct]
// toy options
toyStudy = yes
toyGenerate = yes
toyFit = no
toyDataFilePrefix = yes

//preToyReadParams = A mlFit
protToyData = onData
toyNexp = 1 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)

toySrc_nSig = sigMC 400 // n892 embed
toySrc_nChls = chlsMC 88 // nChls embed
toySrc_nKst1430 = kst1430MC 67 // n1430 embed
toySrc_nBkg = k2MC 6 pdf 16000 // nBkg embed
preToyReadSecParams = ToyParams

sPlot = yes
sPlotData = toySample
//sPlotData = onData
sPlotComps = all
sPlotVars = mes de fisher mEta mKstar hKstar
//sPlotIgnoredVars_mKstar = hKstar
//sPlotIgnoredVars_hKstar = mKstar
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 20
plotBins_mEta = 20
plotBins_mKstar = 20
plotBins_hKstar = 20

[pToyAct]
toyStudy = yes
//preToyReadParams = A mlFit
preToyReadSecParams = yes
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 floated
toySrc_nSig = pdf 108 // nSig pure
toySrc_nChls = pdf 150 // nSig pure

[ToyParams]
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)
mESig_shift_{Data;Run1} = 0.000 +/- 0.0000 C L(-.1 - .1)
mESig_shift_{Data;Run2} = 0.000 +/- 0.0000 C L(-.1 - .1)
mESig_shift_{Data;Run3} = 0.000 +/- 0.0000 C L(-.1 - .1)
mESig_shift_{Data;Run4} = 0.000 +/- 0.0000 C L(-.1 - .1)
mESig_shift_{Data;Run5} = 0.000 +/- 0.0000 C L(-.1 - .1)
mESig_scale_{Data;Run1} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mESig_scale_{Data;Run2} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mESig_scale_{Data;Run3} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mESig_scale_{Data;Run4} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mESig_scale_{Data;Run5} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
deKst1430_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
mesKst1430_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesKst1430_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesKst1430_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesKst1430_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesKst1430_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)
mEKst1430_shift_{Data;Run1} = 0.000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_shift_{Data;Run2} = 0.000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_shift_{Data;Run3} = 0.000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_shift_{Data;Run4} = 0.000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_shift_{Data;Run5} = 0.000 +/- 0.0000 C L(-.1 - .1)
mEKst1430_scale_{Data;Run1} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run2} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run3} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run4} = 1.000 +/- 0.0000 C L(0.8 - 1.2)
mEKst1430_scale_{Data;Run5} = 1.000 +/- 0.0000 C L(0.8 - 1.2)

[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = SigPdf
projLLRPlots = yes
projVars = mes de fisher mEta mKstar hKstar
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
projLRatioCut_mEta = .925
projLRatioCut_mKstar = .925
projLRatioCut_hKstar = .945
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 20
plotBins_mEta = 20
plotBins_mKstar = 20
plotBins_hKstar = 20
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mEta = "abs(mEta-0.5478)<0.025"
projOptimRange_mKstar = "abs(mKstar-0.892)<0.025"
projOptimRange_hKstar = "hKstar>0.5"

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR 0 50
nScanPoints = 50

[AcpScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars =  Frac_nSig_chgCat_Plus 0 1.0
nScanPoints = 50

[Action Config]
// default no action

[SPlotAct]
// sPlot options
//preSPlotReadParams = no
sPlot = yes
sPlotData = onData
sPlotComps = all
sPlotVars = mes de fisher mEta mKstar hKstar
//sPlotIgnoredVars_mKstar = hKstar
//sPlotIgnoredVars_hKstar = mKstar
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 20
plotBins_mEta = 20
plotBins_mKstar = 20
plotBins_hKstar = 20
//sPlotNormIgnoredObs = dtErr tagFlav























