//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// $Id: EtapEppKstar_Kspi.config,v 1.3 2007/06/29 08:37:44 zhanglei Exp $
//
// This sample config is intended to demonstrate simultaneous K-pi fitting
// using omegaH mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

[Dataset Definition]
include config/dsd_EtapEppKstar_Kspi.config

[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigMC onData gsbData desbData BBbarMC

sigMC   = ascii "sig kaon MC Data" "flatfiles/EtapEppKstar_Kspi/sigMC/Merged.EtapEppKstar_Kspi.text" //Q // quiet mode
onData   = ascii "onpeak Data" "flatfiles/EtapEppKstar_Kspi/data/Merged.EtapEppKstar_Kspi.text" //Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
BBbarMC = ascii "BBbar MC" "flatfiles/EtapEppKstar_Kspi/BBbar/EtapEppKstar_Kspi_BBbarBG.txt"

tabulateDatasets = yes

[mlFitter Config]
Comps = yieldModel
fitData = onData

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_yieldModel
physModels = the_yieldModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = DataMC(Data) runBlock
protDataVars = DataMC runBlock
protDataEVars = DataMC runBlock
the_yieldModel  = DataMC :  deSig_scale, mEpSig_shift, mEpSig_scale \\
                  DataMC,runBlock : mesSig_shift \\
               runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4],\\
			Frac_nChmls_runBlock[Run4]

// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRModel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRModel
physModels = the_BRModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = DataMC(Data) runBlock
protDataVars = DataMC runBlock
protDataEVars = DataMC runBlock
the_BRModel  = DataMC :  deSig_scale, mEpSig_shift, mEpSig_scale \\
                  DataMC,runBlock : mesSig_shift \\
               runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4],\\
			Frac_nChmls_runBlock[Run4]


[yieldModel Config]
configStr = MLPdf "ml model"
Comps =   Sig Bkg Chmls
Coeffs = nSig nBkg nChmls
nBkg = nBkg 2094 L(0 - 10000)
nSig = nSig    9 L(-10 - 5000)
nChmls = nChmls 11 L(-10 - 5000)
postPdfFloat = nSig nBkg nChmls

[BRmodel Config]
configStr = MLPdf "ml model"
Comps = Sig Bkg Chmls
Coeffs = nSig nBkg nChmls
nBkg = nBkg RooRealVar "Num of Cont Bkg" 2500 0  10000
nChmls = nChmls RooRealVar "Num of Chmls Bkg" 11 -10 500
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBBbar pBR effc fBias
nBBbar = nBBbar RooRealVar "nBBbar" 231.8 +/- 0.0 C
measBR = measBR RooRealVar "Fit BR"         6 -1   100
pBR = pBR RooRealVar "prodBR" 0.891 +/- 0.0 C
fBias = fBias RooRealVar "fitBias" 7.3 +/- 0.0 C
effc = effc RooRealVar "effcorr" 0.3 +/- 0.0 C
postPdfFloat = measBR nBkg


[Sig Config]
configStr = ProdPdf "Signal Pdf"
Comps = deSig mesSig fisSig mEpSig mKstarSig helKstarSig
fitData = sigMC

[Bkg Config]
configStr = ProdPdf "Continuum Pdf"
//xtraPdfs = mKstarBkg
//Comps = deBkg mesBkg fisBkg mEpBkg helimassBkg
Comps = deBkg mesBkg fisBkg mEpBkg mKstarBkg helKstarBkg
fitData = gsbData

[Chmls Config]
configStr = ProdPdf "Charmless Pdf"
Comps = deChmls mesChmls fisChmls mEpChmls mKstarChmls helKstarChmls
fitData = BBbarMC

[deSig Config]
fitData = sigMC
configStr = TwoGauss
x = de
meanC =  0.    L(-.1 - .1)
meanT = -0.04  L(-.1 - .1)
sigmaC = 0.025 L(0 - 0.15)
sigmaT = 0.09  L(0 - 0.3)
fracC =  0.75  L(0.5 - 1.0)
scale  = deSig_scale 1.0 C L(0.8 - 1.2)

[deBkg Config]
configStr = Polynomial
x = de
nOrder = 1
P01 = -1.5 L(-100 - 100)
postPdfFloat = P01

[deChmls Config]
configStr = AddPdf
Comps = deGaussChmls dePolyChmls
Coeffs = fracdeCh
fracdeCh = 0.6 L(0. - 1.)
[deGaussChmls Config]
configStr = Gaussian
x = de
mean = .2 L(.1 - .3)
[dePolyChmls Config]
configStr = Polynomial
x = de
nOrder = 1

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =  5.28   L(5.25 - 5.29)
meanT =  5.27   L(5.25 - 5.29)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95   L(0.5 - 1)
shift =  0.000  C L(-.1 - .1)

[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15.  L(-80. - -0.1)
postPdfFloat = c

[mesChmls Config]
configStr = AddPdf
Comps = mesArgusBGChmls mesDGChmls
Coeffs = fracMES
fracMES = T "f_{mes}" 0.3 L(0. - 1.)
[mesArgusBGChmls Config]
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15. L(-80. - -0.1)
[mesDGChmls Config]
configStr = TwoGauss
x = mes
meanC =  5.284   L(5.28 - 5.29)
meanT =  5.277   L(5.275 - 5.28)
sigmaC = 0.002 L(0. - .005)
sigmaT = 0.006  L(0. - .02)
fracC =  0.5   L(0.0 - 1)

[fisSig Config]
configStr = AddPdf
Comps     = fisSigC fisSigT
Coeffs    = fracFS
fracFS    = T "f_{FS}" 0.97 L(0.5 - 1.)
[fisSigC Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =   0.6 L(0. -  1.)
asym =  0.1 L(-0.5 - 0.5)
[fisSigT Config]
configStr = Gaussian
x = fisher
mean = -0.5 L(-2. - 2.)
sigma = 2. L(1. - 5.)

[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracFBG
fracFBG = T "f_{FBG}" 0.97 L(0.5 - 1.)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)

[fisChmls Config]
configStr = AddPdf
Comps = fisBGChmls fisTGChmls
Coeffs = fracFCCh
fracFCCh = T "f_{core}" 0.9 L(0. - 1.)
[fisBGChmls Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"   -0.5 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.6 L( 0.0 - 1.0)
asym = T "A_{C}"      0.1 L(-0.5 - 0.5)
[fisTGChmls Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)


[mEpSig Config]
configStr = TwoGauss
x = metap
meanC = 0.957 L(0.9 - 1.)
meanT = 0.957 L(0.9 - 1.)
sigmaC =0.003 L(0. - 0.01)
sigmaT =0.009  L(0. -  .1)
fracC = 0.6   L(0. - 1.)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)

[mEpBkg Config]
configStr = AddPdf
Comps = mEpSig mEpPolyBkg
Coeffs = fracEp
fracEp = T "f_{E'}" 0.23 L(0 - 1.)
prePdfFix = mEpSig //mEpSig_shift 0.05 mEpSig_scale 1.05 // don't need for epp
postPdfFloat = mEpBkg_fracEp
[mEpPolyBkg Config]
configStr = Chebychev
x = metap
nOrder = 1
P01 =  0.2  L(-100 - 100)
postPdfFloat = P01 

[mEpChmls Config]
configStr = AddPdf
Comps = mEpSig mEpPolyChmls
Coeffs = fracEpCh
fracEpCh = T "f_{E'}" 0.23 L(0 - 1.)
prePdfFix = mEpSig
//postPdfFloat = mEpBkg_fracEp
[mEpPolyChmls Config]
configStr = Chebychev
x = metap
nOrder = 2

[mKstarSig Config]
//configStr = TwoGauss
//x = mKstar
//meanC = 0.892 L(0.8 - 1.)
//meanT = 0.892 L(0.8 - 1.)
//sigmaC =0.050 L(0. - 0.07)
//sigmaT =0.100  L(0. -  .2)
//fracC = 0.6   L(0. - 1.)

configStr = BreitWigner
x         = mKstar
mean      =  .892  L(0.6 - 0.9) 
sigma     =  .05 L(0 - 0.2)


[mKstarBkg Config]
configStr = AddPdf
Comps = mKstarSig mKstarPolyBkg
Coeffs = fracKst
fracKst = T "f_{K*}" 0.23 L(0 - 1.)
prePdfFix = mKstarSig
postPdfFloat = mKstarBkg_fracKst
[mKstarPolyBkg Config]
configStr = Chebychev
x = mKstar
nOrder = 2
P01 =  0.2  L(-100 - 100)
P02 = -0.02 L(-100 - 100)
postPdfFloat = P01 

[mKstarChmls Config]
configStr = AddPdf
//Comps = mKstarGChmls mKstarPolyChmls
Comps = mKstarSig mKstarPolyChmls
Coeffs = fracKstChmls
fracKstChmls = T "f_{K*}" 0.23 L(0 - 1.)
prePdfFix = mKstarSig
//postPdfFloat = mKstarBkg_fracKst
[mKstarPolyChmls Config]
configStr = Chebychev
x = mKstar
nOrder = 2
P01 =  0.2  L(-100 - 100)
P02 = -0.02 L(-100 - 100)
//postPdfFloat = P01 
[mKstarGChmls Config]
configStr = BreitWigner
x = mKstar

[helKstarSig Config]
configStr = Polynomial
x = hKstar
nOrder = 4

[helKstarBkg Config]
//configStr = Generic
//formula = "(1.0+@1*@0+@2*@0*@0)/(1.0+exp((@0-@3)/@4))" \\
//          hKstar c1 c2 c3 c4
//c1 = T "C_{1}"  0.6 L(.0 - 2.0)
//c2 = T "C_{2}"  0.0 L(.0 - 2.0)
//c3 = T "C_{3}"  1.5 C // Turn off rolloff
//c4 = T "C_{4}"  0.00001 C
configStr = Polynomial
x = hKstar
nOrder = 4


//[helimassBkg Config]
//configStr = AddPdf
//plotBins_mKstar = -1 // suppress this redundant plot
//Comps = helimassSG helimassSB
//compsDataOnPlot = mKstarBkg
//Coeffs = mKstarBkg_fracKst
//prePdfFix = mKstarBkg_fracKst mKstarSig mKstarPolyBkg
//[helimassSG Config]
//configStr = ProdPdf
//Comps = mKstarSig heliBkgSG
//prePdfFix = mKstarSig
//[heliBkgSG Config]
//configStr = Generic
//formula = "(1.0+@1*@0+@2*@0*@0)/(1.0+exp((@0-@3)/@4))" \\
//          hKstar c1 c2 c3 c4
//c1 = T "C_{SG1}"  0.6 L(.0 - 2.0)
//c2 = T "C_{SG2}"  0.0 C // (.0 - 2.0)
//c3 = T "C_{SG3}"  1.5 C // Turn off rolloff
//c4 = T "C_{SG4}"  0.00001 C
//[helimassSB Config]
//configStr = ProdPdf
//Comps = mKstarPolyBkg heliBkgSB
//prePdfFix = mKstarPolyBkg
//[heliBkgSB Config]
//configStr = Generic
//formula = "(1.0+@1*@0+@2*@0*@0)/(1.0+exp((@0-@3)/@4))" \\
//          hKstar c1 c2 c3 c4
//c1 = T "C_{SB1}"  0.4 L(-2.0 - 2.0)
//c2 = T "C_{SB2}"  0.0 C//(-2.0 - 2.0)
//c3 = T "C_{SB3}"  1.5 C
//c4 = T "C_{SB4}"  0.00001 C

[helKstarChmls Config]
//configStr = AddPdf
//Comps = kstarPolyChmls kstarExpChmls
//Coeffs = frackst
//fracjst = T "f_{kst}" 0.2 L(0.0 - 1.)
//[kstarPolyChmls Config]
//configStr = Polynomial
//x = hKstar
//nOrder = 1
//[kstarExpChmls Config]
//configStr = Exp
//x = hKstar

//configStr = Step
//x = hKstar
//nBins = 20
//limits = -1. -.9 -.8 -.7 -.6 -.5 -.4 -.3 -.2 -.1 0. .1 .2 .3 .4 .5 .6 .7 .8 .9 1.
//paramsOnPlot = no

configStr = AddPdf
Comps = hkstarGaussChmls hkstarPolyChmls
Coeffs = frachkstarCh
frachkstarCh = 0.4 L(0. - 1.)
[hkstarGaussChmls Config]
configStr = Generic
formula = "exp( - (@1-@0)*(@1-@0) / @2)" \\
          hKstar c1 c2
c1 = T "mean_{chmls}" -1.9 L(-5. - -1.)
c2 = T "sig_{chmls}"  0.9 L(0. - 5.0)
//configStr = Gaussian
//configStr = Exp
//x = hKstar
//c = 1. L(0. - 20.)

[hkstarPolyChmls Config]
configStr = Polynomial
x = hKstar
nOrder = 2
p01 = 0.0 L(-5 - 5)

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisherSig fisherBkg
//pdfToFit = mKstarSig mKstarBkg
//pdfToFit = mEpSig mEpBkg
//pdfToFit = mKstarSig mKstarBkg helimassBkg
postPdfMakePlot = yes
postPdfWriteParams = yes

postPdfReadParams = yes
// put values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift = 0.0004 +/- 0.0001 C L(-.1 - .1)
//mEpSig_shift_Data = 0.0011 +/- 0.00085288 C L(-0.1 - 0.1)
//mEpSig_scale_Data =  1.05 +/- 0.29237 C L(0.8 - 1.2)

mesSig_shift_{Data;Run1} = 0.0008 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0006 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0004 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0001 +/- 0.0001 C L(-.1 - .1)

[MLAct]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData
// mlFit options
mlFit = yes
//mlFitOption = emhr
preMLReadParams = yes
postMLWriteParams = yes

[eToyAct]
// toy options
toyStudy = yes
postToyWriteParams=yes
protToyData = onData
toyNexp = 1 // # experiments
toyNevt = 0 floated // default: 0 (set to protData #evt), fixed (no fluctuation)
preToyReadSecParams = yes
nSig = 9 L(-30. - 100.)
nChmls = 11 L(-30. - 100.)
nBkg = 2103 L(0. - 10000.)
toySrc_nSig = sigMC 10 // embedded toy
//toySrc_nSig = sigMC 0.01
//toySrc_nChmls = BBbarMC 11
toySrc_nBkg = BBbarMC 11 pdf 0
//toySrc_nBkg = pdf 0
toyDataFilePrefix=default
toyGenerate=yes
toyFit=yes

[pToyAct]
// toy options
toyStudy = yes
postToyWriteParams=yes
protToyData = onData
toyNexp = 1 // # experiments
toyNevt = 0 floated // default: 0 (set to protData #evt), fixed (no fluctuation)
preToyReadSecParams = yes
nSig = 50 L(-30. - 100.)
nChmls = 11 L(-30. - 100.)
nBkg = 2103 L(0. - 10000.)
toySrc_nSig = pdf 50
//toySrc_nSig = pdf 0.01
toySrc_nChmls = pdf 11
toySrc_nBkg = pdf 0
toyDataFilePrefix=default
toyGenerate=yes
toyFit=yes
// nBkg use default, ie pdf nBkgP pdf nBkgK
