[Dataset Definition]
include dsd_jpsikl.config

[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigMC \\
           udsMC ccMC \\
           bpMC bzMC \\
           udscMC \\
           bbMC \\
           simBkg simData \\
           onData

onData = root "onpeak data" "KsKsKl/dat/JPsiKl_ONDATA.root" outNtp
sigMC  = root "sig MC Data" "KsKsKl/dat/JPsiKl_SIGMC.root" outNtp
udsMC  = root "uds MC Data" "KsKsKl/dat/JPsiKl_UDSMC.root" outNtp
ccMC   = root "cc MC Data"  "KsKsKl/dat/JPsiKl_CCMC.root"  outNtp
bpMC   = root "bpm MC Data" "KsKsKl/dat/JPsiKl_BPMC.root"  outNtp
bzMC   = root "bz  MC Data" "KsKsKl/dat/JPsiKl_BZMC.root"  outNtp
udscMC = add "udsc MC Data" udsMC 0 ccMC 0
bbMC   = add "BpmBzMC Data" bpMC 0 bzMC 0
// weighted simulated data sample
simBkg = add "udsc+BB+peaking" udsMC 0.63951 ccMC 0.63267 bpMC 0.19519 bzMC 0.21076
simData = add "sig+udsc+BB+peaking"  sigMC 0.21076 simBkg 0

tabulateDatasets = yes

ub_simBkg =  ccb2a6ae740a992beafe455106e67f9d

ub_simData = 285760370775990d14fc2c46aa98ea44 \\
             1606361e9f6a07fbb2f772b9911723a4 \\
             2bfd70e57433d1f342f32218cbef0d98 \\
             72340a7b60e05a8fca6da909b897d0aa \\
             b4e2382bdb13932406eb68e9bf417c2c \\
             17c7c08a761dbc2cc3d776d830add8c2 \\
             e6167739e4bf303136cdecd714ffcfe9

ub_onData = 5a8cace80e405714021fee85895a07d2


// master pdf for pLab scan
[pLabFitter]
Comps = yModel
// dataset to fit
fitData = onData

simultaneousFit = yes
yieldSplitMethod = semi
physModels = the_yModel
splitCats = kltype(emc,ifr) pCat
protDataVars = kltype pCat
the_yModel = kltype : deSig_meanC, deSig_meanO, deSig_meanT, deSig_sigmaC, \\
                      deSig_sigmaO, deSig_sigmaT, deSig_fracC, deSig_fracO \\
             kltype,pCat : deBB_fracA, deBBA_c \\
             kltype : deBBG_mean, deBBG_sigma

postPdfFloat = Frac_nSig_kltype Frac_nBB_kltype \\
               Frac_nSig_pCat Frac_nBB_pCat

// master pdf for cosT scan
[cosTFitter]
Comps = yModel
// dataset to fit
fitData = onData

simultaneousFit = yes
yieldSplitMethod = semi
physModels = the_yModel
splitCats = kltype(emc,ifr) tCat
protDataVars = kltype tCat
the_yModel = kltype : deSig_meanC, deSig_meanO, deSig_meanT, deSig_sigmaC, \\
                      deSig_sigmaO, deSig_sigmaT, deSig_fracC, deSig_fracO \\
             kltype,tCat : deBB_fracA, deBBA_c \\
             kltype : deBBG_mean, deBBG_sigma

postPdfFloat = Frac_nSig_kltype Frac_nBB_kltype \\
               Frac_nSig_tCat Frac_nBB_tCat

[yModel Config]
configStr = MLPdf
Comps =  deSig  deBB
Coeffs = nSig   nBB
nSig = nSig  2000 L(-1000 - 5000)
nBB  = nBB   4000 L(-1000 - 10000)
postPdfFloat = nSig nBB

[deSig Config]
fitData = sigMC
pdfFit = simFit // to fit for meanC_<kltype>, etc.
configStr = TriGauss
//configStr = TwoGauss
x = de
meanC = 0.001 L(-.01 - 0.08)
meanO = 0 L(-.01 - 0.08)
meanT = 0 L(-.01 - 0.08)
sigmaC = 0.002 L(0 - .1)
sigmaO = 0.01 L(0 - .1)
sigmaT = 0.05 L(0 - .1)
fracC = .8 L(0 - 1)
fracO = .1 L(0 - 1)
//paramsOnPlot=no
//chi2OnPlot=no
postPdfFloat = meanC

[deBB Config]
fitData = bbMC
pdfFit = simFit
configStr = AddPdf
Comps = deBBA deBBG
//Comps = deBBA deBBB
Coeffs = fracA
fracA = T "f_{A1}" .8 L(0 - 1)
//postPdfFloat = fracA
[deBBA Config]
configStr = ArgusBG
x = RooFormulaVar "5.28-@0" de
max = 5.29 C
c = T "#xi_{1}" -80 L(-80 - 0)
//pow = T "n_{1}" 0.5 L(-3 - 3)
//postPdfFloat = c
[deBBB Config]
configStr = ArgusBG
x = RooFormulaVar "5.28-@0" de
max = 5.29 C
c = T "#xi_{2}" -.1 C L(-80 - -.1)
[deBBG Config]
configStr = Landau
//configStr = Gaussian
//configStr = BGGauss
x = de
mean = 0  L(-.01 - 0.02)
sigma = 0.005 L(0 - .1)
rms = 0.005 L(0 - .1)
asym=.5 L(0 - 1)


[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = deSig
//pdfToFit = deBB
postPdfMakePlot = yes
postPdfWriteParams = yes

[MLAct]
// mlFit options
mlFit = yes
mlFitData = onData
//mlFitOption=emhr
postMLWriteParams = yes
postMLSignf = no nSig

[ScanAct]
scanPlot = yes
scanPlotData = onData
nScanPoints = 40
scanVars = nSig1 0 100

[ContourAct]
contourPlot = yes
contourPlotData = onData
nContours = 2
contourVars = nSig -60 60 deBkg_c -40 -1

[SPlotAct]
sPlot = yes
sPlotVars = de esNN
sPlotData = onData

[ProjActP]
// projectionPlot options
projPlot = yes
projLLRPlots = no
projPlotData = onData
projPlotCat = pCat
projComps = deSig
projVars = de
projLRatioCut = .0
plotBins_de = 45
projFindOptimCut = no

[ProjActT]
// projectionPlot options
projPlot = yes
projLLRPlots = no
projPlotData = onData
projPlotCat = tCat
projComps = deSig
projVars = de
projLRatioCut = .0
plotBins_de = 45
projFindOptimCut = no

[ToyAct]
// toy options
toyStudy = yes
//preToyReadParams = A mlFit
preToyReadSecParams = yes
nBB =  1000 +/- 20 L(-1000 - 10000)
nSig = 2000 +/- 20 L(-100 - 5000)
protDatasets = onData
//protDataGenLevel = 1
//protDataGenLevel = 2
protDataGenLevel = 3
toyNexp = 40 // # experiments
toyNevt = 0 extended

// for embedded toy study
//toyEmbdUnCorrelate = de
//toySrc_nSig1 = "sigMC1 evtType==1" "@0 nSig1"

// embed w/ different C and S
//postEmbdRandObs = sigMC tagFlav trueDtPdf

[nSigGenPdf Config]
configStr = Generic
formula = "1" nSigGen
nSigGen = nSigGen 0 L(0 - 100)
