
//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
//
// This sample config is intended to demonstrate full TD fitting
// using eta'(epp)Ks mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

// default dsi section
[Dataset Input]
dsdSec = dt Dataset Definition
Datasets = onData sigMC chlsMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/etapk_rhog_SIGMC_an32.text" Q // quiet mode
chlsMC   = ascii "charmless MC Data" "mydats/etapk_rhog_all_BBbarBG.txt" Q // quiet mode
onData   = ascii "onpeak Data" "mydats/etapk_rhog_ONPEAK_Run15_an32.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = 30c7ab884556d564354b455f35dc3e1d

tabulateDatasets = yes

// dsi section for nodt settings, use command line option -D nodtInput
[nodtInput]
dsdSec = nodt Dataset Definition
Datasets = onData sigMC chlsMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/etapk_rhog_SIGMC_F2Kfix.text" Q // quiet mode
chlsMC   = ascii "charmless MC Data" "mydats/etapk_rhog_all_BBbarBG.txt" Q // quiet mode
onData   = ascii "onpeak Data" "mydats/etapk_rhog_ONPEAK_Run15_an32.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = a2ece467a09bbe6b0f667ad6198dc4ee f6d7681087d73d0e3ef0a65d47428480 d90fa7b8f10d05f650eec0d9c2425b4f dc275c2695e6814d5cb9f433ae1c6e13  8d3b2c684a5557f4c67d5af3f2a75844

tabulateDatasets = yes

// dsd section for dt
[dt Dataset Definition]
include dsd_etapK.config
deltaT=deltaT RooRealVar "#Delta t" -20 20 B(100) "ps"
dtErr=dtErr RooRealVar "#delta#Delta t" 0.0 2.5 B(10) "ps"
heli = RooRealVar "heli_{#rho}" 0 0.90 B(18)
bDecayMode = RooCategory "B Decay Mode" useIdx "B+->eta'K+,eta'->rhogamma" 5041

// dsd section for nodt
[nodt Dataset Definition]
include dsd_etapK.config
heli = RooRealVar "heli_{#rho}" 0 0.90 B(18)
bDecayMode = RooCategory "B Decay Mode" useIdx "B+->eta'K+,eta'->rhogamma" 5041

// default master pdf config
[mlFitter Config]
Comps = dtModel
// dataset to fit
fitData = onData

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_dtModel
physModels = the_dtModel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock tagCat chgCat(Minus,Plus)
protDataVars=DataMC runBlock tagCat chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_dtModel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_dtModel  = DataMC :  deSig_scale, deSig_shift, mesSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\
             chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus] \\
             tagCat :  dtSigAmtr, dtSigDmtr, dtSigMu, dtSigBiasC, dtSigScfaC, Frac_nSig_tagCat[04T0], Frac_nBkg_tagCat[04T0], Frac_nChls_tagCat[04T0]
postPdfFloat = Frac_nBkg_tagCat_04T1 Frac_nBkg_tagCat_04T2 Frac_nBkg_tagCat_04T3 \\
               Frac_nBkg_tagCat_04T4 Frac_nBkg_tagCat_04T5 Frac_nBkg_tagCat_04T6 \\
               Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus


// nodt master pdf config, use command line option -C NFit
[NFit]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_Nmodel
physModels = the_Nmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_Nmodel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_Nmodel  = DataMC :  deSig_scale, deSig_shift, mesSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\
             chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus]
postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus


// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRmodel
physModels = the_BRmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock chgCat(Minus,Plus)
protDataVars=DataMC runBlock chgCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_BRmodel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_BRmodel  = DataMC :  deSig_scale, deSig_shift \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\
             chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus]
postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtSigPdf dtBkgPdf dtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 40000 L(0 -    1.e6)
nSig = nSig  2100 L(0 -    1.e6)
nChls =nChls  950 L(-100 - 1.e6)
postPdfFloat = nSig nBkg nChls

[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 40000 L(0 -    1.e6)
nSig = nSig  2100 L(0 -    1.e6)
nChls =nChls  950 L(-100 - 1.e6)
postPdfFloat = nSig nBkg nChls

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 40000 L(0 -    1.e6)
nChls =nChls  950 L(-100 - 1.e6)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 68 L(0 - 1.e6)
nBB = nBB RooRealVar "nBB" 382.9 +/- 0.0 C 
prodBR = prodBR RooRealVar "prodBR" 0.294 +/- 0.0 C 
effcorr = effcorr RooRealVar "effcorr" 0.292 +/- 0.0 C 
fitBias = fitBias RooRealVar "fitBias" 31.0 +/- 0.0 C 
postPdfFloat = measBR nBkg nChls

[dtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = nodtSigPdf dtSig
fitData = sigMC

[nodtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
xtraPdfs = mEtapSig mRhoSig heliSig
Comps = deSig mesSig fisSig
fitData = sigMC

[dtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = nodtBkgPdf dtBkg dummyFlavPdf
fitData = gsbData

[nodtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mEtapBkg mRhoBkg heliBkg
Comps = deBkg mesBkg fisBkg
fitData = gsbData

[dtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
Comps = nodtChlsPdf dtChls dummyFlavPdf
fitData = chlsMC 

[nodtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
xtraPdfs = mEtapChls mRhoChls heliChls
Comps = deChls mesChls fisChls
fitData = chlsMC 

[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
shift =  0.0 C L(-0.1 - 0.1)
//postPdfFloat = deSig_scale_Data
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 
[deChls Config]
configStr = TwoGauss
x = de
meanC =  0.13 L(-0.2 - 0.2)
meanT = -0.20 L(-0.3 - 0.2)
sigmaC = 0.06 L( 0.0 - 0.3)
sigmaT = 0.14 L( 0.0 - 0.3)
fracC =  0.35 L( 0.0 - 1.0)

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
scale =   1.0  C L(0.5   - 1.5)
//postPdfFloat = mesSig_scale_Data
//postPdfFloat = sigmaC
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c
[CB mesChls Config]
configStr = CBShape
x = mes
mean =  5.277 L(5.265 -  5.290)
sigma = 0.006 L(0.001 -  0.050)
alpha = 1.5   L(0.1   - 10.0)
n =     1.0   C(0.1   -  5.0)
[mesChls Config]
configStr = AddPdf
Comps = mesChlsGauss mesChlsArgus
Coeffs = fracG
fracG = fracG "f_{G}" 0.08 L(0.0 - 1.0)
[mesChlsArgus Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -380.  L(-800. - -0.1)
pow =  1.5 L(  -3. -  3.0)
[mesChlsGauss Config]
configStr = Gaussian
x = mes
mean =  5.28  L(5.2 - 5.29)
sigma = 0.004 L(0.0 - 0.1)

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
//Following line to float Fisher signal params
//postPdfFloat = mean rms asym 
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)
[fisChls Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)

[mEtapSig Config]
configStr = TwoGauss
x = mEtap
meanC =  0.960 L(0.93 - 0.98)
meanT =  0.950 L(0.93 - 0.98)
sigmaC = 0.006 L(0.0  - 0.02)
sigmaT = 0.015 L(0.0  - 0.1)
fracC =  0.56  L(0.0  - 1.0)
shift = T "Offset_{mE}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mE}"  1.0 C L( 0.8 - 1.2)
[mEtapBkg Config]
configStr = AddPdf
Comps = mEtapSig mEtapPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.04 L(0 - 1.)
prePdfFix = mEtapSig mEtapSig_shift 0.0017 mEtapSig_scale 1.09
postPdfFloat = fracS
[mEtapPolyBkg Config]
configStr = Chebychev
x = mEtap
nOrder = 2
P01 =  0.02 L(-100 - 100)
P02 = -0.07 L(-100 - 100)
postPdfFloat = P01 
[mEtapChls Config]
configStr = AddPdf
Comps = mEtapPeak mEtapPolyChls
Coeffs = fracS
fracS = 0.70 L(0. - 1.)
[mEtapPeak Config]
configStr = TwoGauss
x = mEtap
meanC =  0.960 L(0.93 - 0.98)
meanT =  0.940 L(0.93 - 0.98)
sigmaC = 0.006 L(0.0  - 0.02)
sigmaT = 0.025 L(0.0  - 0.1)
fracC =  0.05  L(0.0  - 1.0)
[mEtapPolyChls Config]
configStr = Chebychev
x = mEtap
nOrder = 1
P01 = 1.5 L(-100. - 100.)

[mRhoSig Config]
configStr = TwoGauss
x = mRho
meanC =  0.771 L(0.65 - 0.90)
meanT =  0.700 L(0.60 - 0.90)
sigmaC = 0.065 L(0.0  - 0.3)
sigmaT = 0.126 L(0.0  - 0.3)
fracC =  0.693 L(0.0  - 1.0)
[mRhoBkg Config]
configStr = AddPdf
Comps = mRhoBPeak mRhoBFlat
Coeffs = fracP
fracP = 0.10 L(0. - 1.)
[mRhoBPeak Config]
configStr = Gaussian
x = mRho
mean = T "#mu_{P}"     0.75 L(0.6 - 0.9)
sigma = T "#sigma_{P}" 0.1 L( 0.0 - 0.3)
[mRhoBFlat Config]
configStr = Generic
formula = "(1.0+@1*@0)/(1.0+exp((@0-@2)/@3))" \\
          mRho c1 c2 c3
c1 = T "C_{SG1}"  0.3 L(0 - 0.5)
c2 = T "C_{SG2}"  0.93 L(0.9 - 0.95)
c3 = T "C_{SG3}"  0.02 L(0.01 - 0.1)

[mRhoChls Config]
configStr = AddPdf
Comps = mRhoCPeak mRhoPolyChls
Coeffs = fracP
fracP = 0.20 L(0. - 0.5)
[mRhoCPeak Config]
configStr = AddPdf
Comps = mRhoCRho mRhof0
Coeffs = fracR
fracR = 0.70 L(0.5 - 1.0)
[mRhoCRho Config]
configStr = TwoGauss
x = mRho
meanC =  0.750 L(0.70 - 0.85)
meanT =  0.700 L(0.65 - 0.75)
sigmaC = 0.100 L(0.00 - 1.0)
sigmaT = 0.200 L(0.01 - 0.05)
fracC =  0.80  L(0.5  - 1.0)
[mRhof0 Config]
configStr = Gaussian
x = mRho
mean = T "#mu_{f0}"     0.900 L(0.85 - 0.95)
sigma = T "#sigma_{f0}" 0.020 L(0.01 - 0.05)
[mRhoPolyChls Config]
configStr = Chebychev
x = mRho
nOrder = 1
P01 = 0. L(-0.1 - 0.1)

[heliSig Config]
configStr = Polynomial
x = heli
nOrder = 4
P01 = 0.0 L(-10 - 10)
P02 = -1.  L(-2. - 0)
P03 = 0.0 C L(-10 - 10)
P04 = 0.0 L(-10 - 10)
[heliBkg Config]
configStr = Polynomial
x = heli
nOrder = 2
P01 = 0.0 C L(-10 - 10)
P02 = 0. L(-2. - 2.)
[heliChls Config]
configStr = Polynomial
x = heli
nOrder = 4
P01 = 0.0 C L(-10 - 10)
P02 = 0.  L(-2. - 100.)
P03 = 0.0 C L(-10 - 10)
P04 = 0.0 L(-10 - 10)

[dtSig Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = deltaT
model = sigResModel
tag=tagFlav
// PDG 2006 B+ lifetime: 1.638 +/- 0.011 ps
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-2.0 - 2.0)
S = 0.7 L(-2.0 - 2.0)
//blindStatus = blind
blindStatus = unblind
blindString = Better than Belle
blindValues = .2 .2 .2 .2
postPdfFloat = C S
[sigResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtSigBiasC "Bias_{C}"  -0.16 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  1.0807 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"  -1.1140 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  3.00 C L L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  8. C
fracC  = dtSigFracC "f_{C}"      0.8888 C L(.5 - 1)
fracO  = dtSigFracO "f_{O}"      0.0033 C L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr

[dummyFlavPdf Config]
configStr = Generic
pdfFit = no
pdfPlot = no
formula = "1" tagFlav

[dtBkg Config]
configStr = TriGauss
//plotBins_dtErr = -1 // no plot for dtErr
projWData_deltaT = yes
x = deltaT
meanC =  0.0 L(-20. - 20.)
sigmaC = U " " 1.3 L(  0. - 10.)
meanT =  1.5 L(-20  - 20.)
sigmaT = U " " 5.0 L(  0. - 10.)
meanO =  0. C 
sigmaO = 8. C
fracC =  0.9 L( 0.5 - 1.)
//fracO = 0.02 L(0. - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = T "f_{O}" 0.10 L( 0. - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO fracO0
//postPdfFloat = meanC sigmaC fracC

[Old Gexp dtBkg Config]
configStr = GexpShape
projWData_deltaT = yes
x = deltaT
tau = 0.10 C  L(0.02 - 1.0)
meanC =  0.0  L(-20 -  20)
sigmaC = 0.23 L( 0. - 10.)
meanT =  0.0  L(-20 -  20)
sigmaT = 5.0  L( 0. - 10.)
meanO =  0. C 
sigmaO = 8. C
fracC =  0.85 L( 0.5 - 1.)
//fracO = 0.02 L( 0.0  - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = 0.10 L( 0.0 - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO fracO0

[dtChls Config]
configStr = TriGauss
//plotBins_dtErr = -1 // no plot for dtErr
projWData_deltaT = yes
x = deltaT
meanC = -0.3  L(-20. - 20.)
sigmaC = U " " 3.0  L(  0. - 10.)
meanT = -0.1  L(-20. - 20.)
sigmaT = U " " 1.2  L(  0. - 10.)
meanO =  0. C
sigmaO = 8. C
fracC =  0.55 L( 0.5 - 1.)
//fracO =  0.01 L( 0. - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = 0.05 L( 0. - 0.4)

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = dtBkg
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mEtapSig mEtapBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift =  0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift_{Data;Run1} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.0000 +/- 0.0001 C L(-.1 - .1)

Frac_nChls_tagCat_04T1 =  0.087 +/- 0.0010 C L(0 - 1)
Frac_nChls_tagCat_04T2 =  0.110 +/- 0.0011 C L(0 - 1)
Frac_nChls_tagCat_04T3 =  0.172 +/- 0.0013 C L(0 - 1)
Frac_nChls_tagCat_04T4 =  0.138 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T5 =  0.143 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T6 =  0.096 +/- 0.0010 C L(0 - 1)

Frac_nSig_tagCat_04T1 =  0.087 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.110 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.172 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.138 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.143 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.096 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0297 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0535 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1546 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2349 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3295 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4193 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 = -0.0015 +/- 0.0087 C L(-0.5 - 0.5)
dtSigDmtr_04T2 = -0.0057 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0044 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0237 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0524 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0459 +/- 0.0132 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2) //
dtSigMu_04T1 =  0.0056 +/- 0.0137 C L(-2 - 2) //
dtSigMu_04T2 =  0.0025 +/- 0.0127 C L(-2 - 2) //
dtSigMu_04T3 =  0.0027 +/- 0.0113 C L(-2 - 2) //
dtSigMu_04T4 = -0.0167 +/- 0.0128 C L(-2 - 2) //
dtSigMu_04T5 = -0.0284 +/- 0.0127 C L(-2 - 2) //
dtSigMu_04T6 =  0.0245 +/- 0.0154 C L(-2 - 2) //

dtSigBiasC_04T0 = -0.1805 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0709 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.1805 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1805 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.1805 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.1805 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.1805 +/- 0.0335 C L(-5 - 5) //just do 2-6 the same

dtSigScfaC_04T0 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  1.0631 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.0985 +/- 0.0245 C L(.5 - 5)

[MLAct]
// Datasets config here overrides that in dsi section
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
mlFitOption = emhr
//mlFitOption = ehr
//postMLSignf = nSig measBR
//postMLSysParams = dtSigTau 0.009V dtSigDm 0.005V dtSigAmtr 0.0040V dtSigDmtr 0.0070V Frac_nSig_tagCat 0.001V dtSigBiasC 0.02V dtSigScfaC 0.025V dtSigBiasT 0.1472V dtSigFracC 0.0097V dtSigFracO 0.0006V deSig_scale_Data .05V deSig_shift_Data .002V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data .0002V
//postMLSysVars = dtSig_C dtSig_S
//postMLSysParams = deSig_scale_Data .05V deSig_shift_Data .002V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data .0002V
//postMLSysVars = nSig

[eToyAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.0
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 2375 // nSig embed
toySrc_nChls =chlsMC  795 // nChls embed
preToyReadSecParams = ToyParams

[eToy1BBAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.0
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 3230 // nSig embed
toySrc_nChls =chlsMC  1 // nChls embed
preToyReadSecParams = ToyParams

[pToyAct]
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C = 0.0
dtSig_S = 0.0
protDatasets = onData
toyNexp = 500 // # experiments
toyNevt = 0 floated
toySrc_nSig = pdf 3230 // nSig pure
toySrc_nChls = pdf 1830 // nSig pure

[ToyParams]
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
mEtapSig_shift = 0.0012 +/- 0.000 C L(-0.1 - 0.1)
mEtapSig_scale =  1.14 +/- 0.0 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nChls_tagCat_04T1 =  0.0879 +/- 0.0010 C L(0 - 1)
Frac_nChls_tagCat_04T2 =  0.1127 +/- 0.0011 C L(0 - 1)
Frac_nChls_tagCat_04T3 =  0.1709 +/- 0.0013 C L(0 - 1)
Frac_nChls_tagCat_04T4 =  0.1401 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T5 =  0.1494 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T6 =  0.0987 +/- 0.0010 C L(0 - 1)

Frac_nSig_tagCat_04T1 =  0.0879 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.1127 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.1709 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.1401 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.1494 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.0987 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0294 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0655 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1651 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2626 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3507 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4235 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.0 C
dtSigDmtr_04T1 =  0.0 C
dtSigDmtr_04T2 =  0.0 C
dtSigDmtr_04T3 =  0.0 C
dtSigDmtr_04T4 =  0.0 C
dtSigDmtr_04T5 =  0.0 C
dtSigDmtr_04T6 =  0.0 C

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2)
dtSigMu_04T1 = -0.0041 +/- 0.0137 C L(-2 - 2)
dtSigMu_04T2 =  0.0010 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T3 =  0.0041 +/- 0.0113 C L(-2 - 2)
dtSigMu_04T4 =  0.0106 +/- 0.0128 C L(-2 - 2)
dtSigMu_04T5 = -0.0221 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T6 =  0.0072 +/- 0.0154 C L(-2 - 2)

dtSigBiasC_04T0 = -0.2472 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0618 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.2472 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.2472 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.2472 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.2472 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.2472 +/- 0.0335 C L(-5 - 5)

dtSigScfaC_04T0 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  0.9952 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.0898 +/- 0.0245 C L(.5 - 5)

dtSigBiasT = -1.1782 +/- 0.2670 C L(-5 - 5) // [ps]
dtSigFracC =  0.8894 +/- 0.0121 C L(0.5 - 1)
dtSigFracO =  0.0041 +/- 0.0007 C L(0 - 0.2)
dtSigScfaC =  1.07 +/- 0.0239 C L(0.5 - 5)
dtSigScfaC =  1.07 +/- 0.0239 C L(0.5 - 5)

[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
//projVars = mes de fisher mEtap deltaT
projVars = mes de fisher deltaT
projPlotData_deltaT = onData "tagCat!=tagCat::04T0"
projAsymPlot_deltaT = tagFlav
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
//projLRatioCut_mEtap = .9xx
projLRatioCut_deltaT = .975
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
//plotBins_mEtap = 18
plotBins_deltaT = 12
plotRange_deltaT = -6 -4 -2 -1 0 1 2 4 6
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
//projOptimRange_mEtap = "abs(mEtap-0.957)<0.025"
projOptimRange_deltaT = "abs(deltaT)<3.5"
//projOptimRange_deltaT = "(abs(deltaT)<3.5)&&(abs(mes-5.28)<0.006)"
//projOptimRange_deltaT = "(abs(mes-5.28)<0.006)"

[nodtProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
projVars = mes de fisher
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
//projLRatioCut_mEtap = .9xx
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
//plotBins_mEtap = 18
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
//projOptimRange_mEtap = "abs(mEtap-0.957)<0.025"

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all //nSig
sPlotVars = mes de fisher mEtap mRho heli deltaT
//sPlotVars = mEtap mRho heli
// Following lines are needed because these variables are not part of the fit
sPlotPdfOverlay_mEtap = nSig mEtapSig nBkg mEtapBkg nChls mEtapChls
sPlotPdfOverlay_mRho = nSig mRhoSig nBkg mRhoBkg nChls mRhoChls
sPlotPdfOverlay_heli = nSig heliSig nBkg heliBkg nChls heliChls
//sPlotPdfOverlay = direct
//sPlotPdfOverlay_mEtap = direct
//sPlotPdfOverlay_mRho = direct
//sPlotPdfOverlay_heli = direct
plotBins_mes = 10
plotBins_de = 10
plotBins_fisher = 18
plotBins_deltaT = 40
plotBins_mRho = 17
plotBins_heli = 9
plotBins_mEtap = 10
sPlotNormIgnoredObs = dtErr tagFlav

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR 0 100
nScanPoints = 500

[AcpScan]
scanPlot = yes
scanPlotData = onData
scanVars = Frac_nSig_chgCat_Plus 0.0 1.0
nScanPoints 200

[Action Config]
// default no action
