//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
//
// This sample config is intended to demonstrate full TD fitting
// using eta'(epp)Ks mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

// defaut dsi section
[Dataset Input]
dsdSec = dt Dataset Definition
Datasets = onData sigMC chlsMC \\
           gsbData desbData

sigMC  = ascii "sig MC" "mydats/etapks_both_SIGMC_an32.text" Q // quiet mode
onData = ascii "onpeak Data" "mydats/etapks_both_ONPEAK_Run15_an32.text" Q
chlsMC   = ascii "charmless MC Data" "mydats/etapks_rhog_all_BBbarBG.txt" Q // quiet mode
gsbData  = reduce "gsb Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = b2335b91713dae76f6a6464f7208cf87

tabulateDatasets = yes

// dsi section for nodt settings, use command line option -D nodtInput
[nodtInput]
dsdSec = nodt Dataset Definition
Datasets = onData sigMC chlsMC \\
           gsbData desbData

sigMC  = ascii "sig MC" "mydats/etapks_both_SIGMC.text" Q // quiet mode
chlsMC   = ascii "charmless MC Data" "mydats/etapks_rhog_BBbarMixture.text" Q // quiet mode
onData = ascii "onpeak Data" "mydats/etapks_both_ONPEAK_Run15.text" Q
gsbData  = reduce "gsb Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = ce7a8d003bee604a538993d2f83e9598

tabulateDatasets = yes

// dsd section for dt
[dt Dataset Definition]
include dsd_etapK.config
deltaT=deltaT RooRealVar "#Delta t" -20 20 B(100) "ps"
dtErr=dtErr RooRealVar "#delta#Delta t" 0.0 2.5 B(10) "ps"
heli = RooRealVar "heli_{#rho}" 0 0.90 B(18)

// dsd section for nodt
[nodt Dataset Definition]
include dsd_etapK.config

// default master pdf config
[mlFitter Config]
Comps = dtModel
// dataset to fit
fitData = onData

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
physModels = physCat : Epp=the_dtModel Rhog=the_dtModel
splitCats = DataMC(Data) runBlock tagCat physCat
protDataVars=DataMC runBlock tagCat physCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
// Define both epp and rg models
the_dtModel  = physCat : deBkg_P01, deBkg_P02, deSig_fracC, deSig_meanC, deSig_meanT, deSig_sigmaC, deSig_sigmaT, \\
                         dtBkg_fracC, dtBkg_fracO0, dtBkg_meanC, dtBkg_meanT, dtBkg_sigmaC, dtBkg_sigmaT, \\
                        mesSig_fracC, mesSig_meanC, mesSig_meanT, mesSig_sigmaC, mesSig_sigmaT, nSig, nChls \\
             physCat,tagCat : nBkg \\
             DataMC :  deSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\
             tagCat :  dtSigAmtr, dtSigDmtr, dtSigMu, dtSigBiasC, dtSigScfaC, Frac_nSig_tagCat[04T0], Frac_nBkg_tagCat[04T0], Frac_nChls_tagCat[04T0]
//postPdfFloat = Frac_nBkg_tagCat_04T1 Frac_nBkg_tagCat_04T2 Frac_nBkg_tagCat_04T3 Frac_nBkg_tagCat_04T4 Frac_nBkg_tagCat_04T5 Frac_nBkg_tagCat_04T6

// nodt master pdf config, use command line option -C NFit
[NFit]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_Nmodel
physModels = physCat : Epp=the_Nmodel Rhog=the_Nmodel
splitCats = DataMC(Data) runBlock physCat
protDataVars=DataMC runBlock physCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
// Define both epp and rg models
the_Nmodel  = physCat : deBkg_P01, deBkg_P02, deSig_fracC, deSig_meanC, deSig_meanT, deSig_sigmaC, deSig_sigmaT, \\
                        mesBkg_c, mesSig_fracC, mesSig_meanC, mesSig_meanT, mesSig_sigmaC, mesSig_sigmaT, \\
                        nSig, nChls, nBkg \\
             DataMC :  deSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5]


// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
physModels = physCat : Epp=the_BRmodel Rhog=the_BRmodel
splitCats = DataMC(Data) runBlock physCat
protDataVars=DataMC runBlock physCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
// Define both epp and rg models
the_BRmodel  = physCat : deBkg_P01, deBkg_P02, deSig_fracC, deSig_meanC, deSig_meanT, deSig_sigmaC, deSig_sigmaT, \\
                        mesBkg_c, mesSig_fracC, mesSig_meanC, mesSig_meanT, mesSig_sigmaC, mesSig_sigmaT, \\
                        nChls, nBkg, prodBR, effcorr, fitBias \\
             DataMC :  deSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5]

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtSigPdf dtBkgPdf dtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg  600 L(0 - 100000)
nSig = nSig  190 L(0 -   2000)
nChls =nChls 100 L(-100 - 2000)
postPdfFloat = nSig nBkg nChls_Rhog

[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 10000 L(0 -  100000)
nSig = nSig   450 L(0 -    2000)
nChls =nChls  100 L(-100 - 2000)
postPdfFloat = nSig_Epp nBkg_Epp nSig_Rhog nBkg_Rhog nChls_Rhog

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 10000 L(0 -  100000)
nChls =nChls  100 L(-100 - 2000)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 68 L(0 - 100)
nBB = nBB RooRealVar "nBB" 231.8 +/- 0.0 C 
prodBR = prodBR RooRealVar "prodBR" 0.0602 +/- 0.0 C 
effcorr = effcorr RooRealVar "effcorr" 0.233 +/- 0.0 C 
fitBias = fitBias RooRealVar "fitBias" -0.4 +/- 0.0 C 
postPdfFloat = measBR nBkg nChls

[dtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = nodtSigPdf dtSig
fitData = sigMC

[nodtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
//Comps = deSig mesSig fisSig mEtapSig
Comps = deSig mesSig fisSig
fitData = sigMC

[dtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = nodtBkgPdf dtBkg dummyFlavPdf
fitData = gsbData

[nodtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
//Comps = deBkg mesBkg fisBkg mEtapBkg
Comps = deBkg mesBkg fisBkg
fitData = gsbData

[dtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
//Comps = deChls mesChls fisChls mEtapChls dtChls
Comps = nodtChlsPdf dtChls dummyFlavPdf
fitData = chlsMC 

[nodtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
//Comps = deChls mesChls fisChls mEtapChls
Comps = deChls mesChls fisChls
fitData = chlsMC 

[deSig Config]
pdfFit = simFit
pdfPlot = no
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
[deBkg Config]
pdfFit = simFit
pdfPlot = no
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 
[deChls Config]
configStr = TwoGauss
x = de
meanC =  0.13 L(-0.2 - 0.2)
meanT = -0.20 L(-0.3 - 0.2)
sigmaC = 0.06 L( 0.0 - 0.3)
sigmaT = 0.14 L( 0.0 - 0.3)
fracC =  0.35 L( 0.0 - 1.0)

[mesSig Config]
pdfFit = simFit
pdfPlot = no
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
[mesBkg Config]
pdfFit = simFit
pdfPlot = no
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c
[CB mesChls Config]
configStr = CBShape
x = mes
mean =  5.277 L(5.265 -  5.290)
sigma = 0.006 L(0.001 -  0.050)
alpha = 1.5   L(0.1   - 10.0)
n =     1.0   C(0.1   -  5.0)
[mesChls Config]
configStr = AddPdf
Comps = mesChlsGauss mesChlsArgus
Coeffs = fracG
fracG = fracG "f_{G}" 0.08 L(0.0 - 1.0)
[mesChlsArgus Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -380.  L(-800. - -0.1)
pow =  1.5 L(  -3. -  3.0)
[mesChlsGauss Config]
configStr = Gaussian
x = mes
mean =  5.28  L(5.2 - 5.29)
sigma = 0.004 L(0.0 - 0.1)

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
//Following line to float Fisher signal params
postPdfFloat = mean rms asym 
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)
[fisChls Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)

[mEtapSig Config]
pdfFit = simFit
pdfPlot = no
configStr = TwoGauss
x = mEtap
meanC =  0.960 L(0.76 - 0.80)
meanT =  0.950 L(0.76 - 0.80)
sigmaC = 0.004 L(0.0  - 0.01)
sigmaT = 0.010 L(0.0  - 0.1)
fracC =  0.9   L(0.0  - 1.0)
shift = T "Offset_{mE}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mE}"  1.0 C L( 0.8 - 1.2)
[mEtapBkg Config]
pdfFit = simFit
pdfPlot = no
configStr = AddPdf
Comps = mEtapSig mEtapPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.46 L(0 - 1.)
prePdfFix = mEtapSig mEtapSig_shift 0.0017 mEtapSig_scale 1.09
postPdfFloat = fracS
[mEtapPolyBkg Config]
pdfFit = simFit
pdfPlot = no
configStr = Chebychev
x = mEtap
nOrder = 2
P01 = 0.20 L(-100 - 100)
P02 = 0.10 L(-100 - 100)
postPdfFloat = P01 
[mEtapChls Config]
pdfFit = simFit
pdfPlot = no
configStr = AddPdf
Comps = mEtapPeak mEtapPolyChls
Coeffs = fracS
fracS = 0.46 L(0. - 1.)
[mEtapPeak Config]
pdfFit = simFit
pdfPlot = no
configStr = TwoGauss
x = mEtap
meanC =  0.95 L(0.91 - 1.0)
meanT =  0.95 L(0.91 - 1.0)
sigmaC = 0.01 L(0.   - 0.1)
sigmaT = 0.10 L(0.   - 0.1)
fracC =  0.8  L(0.   - 1.0)
[mEtapPolyChls Config]
pdfFit = simFit
pdfPlot = no
configStr = Chebychev
x = mEtap
nOrder = 1
P01 = 0.2 L(-100. - 100.)

[dtSig Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = deltaT
model = sigResModel
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-2.0 - 2.0)
S = 0.7 L(-2.0 - 2.0)
//blindStatus = blind
blindStatus = unblind
blindString = Physicists do it vivace
blindValues = .2 .2 .2 .2
postPdfFloat = C S
[sigResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtSigBiasC "Bias_{C}"  -0.16 L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  1.0807 L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"  -1.1140 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  3.00 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  8. C
fracC  = dtSigFracC "f_{C}"      0.8888 L(.5 - 1)
fracO  = dtSigFracO "f_{O}"      0.0033 L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr

[dummyFlavPdf Config]
configStr = Generic
pdfFit = no
pdfPlot = no
formula = "1" tagFlav

[dtBkg Config]
pdfFit = simFit
pdfPlot = no
configStr = TriGauss
//plotBins_dtErr = -1 // no plot for dtErr
projWData_deltaT = yes
x = deltaT
meanC =  0.0 L(-20. - 20.)
sigmaC = 1.3 L(  0. - 10.)
meanT =  1.5 L(-20  - 20.)
sigmaT = 5.0 L(  0. - 10.)
meanO =  0. C 
sigmaO = 8. C
fracC =  0.9 L( 0.5 - 1.)
//fracO = 0.02 L(0. - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = T "f_{O}" 0.10 L( 0. - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO fracO0

[Old Gexp dtBkg Config]
configStr = GexpShape
projWData_deltaT = yes
x = deltaT
tau = 0.10 C  L(0.02 - 1.0)
meanC =  0.0  L(-20 -  20)
sigmaC = 0.23 L( 0. - 10.)
meanT =  0.0  L(-20 -  20)
sigmaT = 5.0  L( 0. - 10.)
meanO =  0. C 
sigmaO = 8. C
fracC =  0.85 L( 0.5 - 1.)
//fracO = 0.02 L( 0.0  - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = 0.10 L( 0.0 - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO fracO0

[dtChls Config]
configStr = TriGauss
//plotBins_dtErr = -1 // no plot for dtErr
projWData_deltaT = yes
x = deltaT
meanC = -0.3  L(-20. - 20.)
sigmaC = 3.0  L(  0. - 10.)
meanT = -0.1  L(-20. - 20.)
sigmaT = 1.2  L(  0. - 10.)
meanO =  0. C
sigmaO = 8. C
fracC =  0.55 L( 0.5 - 1.)
//fracO =  0.01 L( 0. - 0.2)
fracO = RooFormulaVar "(1-@0)*@1"  fracC fracO0
fracO0 = 0.05 L( 0. - 0.4)

[PdfAct]
// pdfFit options
pdfFit = yes
pdfPlot = no
//pdfToFit = dtBkg
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mEtapSig mEtapBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift =  0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift_{Data;Run1} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = -0.0004 +/- 0.0001 C L(-.1 - .1)
//mEtapSig_shift_Data = 0.00xx +/- 0.000 C L(-0.1 - 0.1)
//mEtapSig_scale_Data =  1.0x +/- 0.0 C L(0.8 - 1.2)

nSig_Epp = 190.0 +/-  5.0 L(-100 - 1.e6)
nSig_Rhog = 440.0 +/-  10.0 L(-100 - 1.e6)
nBkg_Epp = 420.0 +/-  10.0 L(-100 - 1.e6)
nBkg_Rhog = 8860.0 +/-  50.0 L(-100 - 1.e6)
nChls_Epp = 0.0 +/-  5.0 C L(-200 - 1.e6)
nChls_Rhog = 50.0 +/-  5.0 L(-200 - 1.e6)
prodBR_Epp = prodBR RooRealVar "prodBR" 0.0602 +/- 0.0 C 
effcorr_Epp = effcorr RooRealVar "effcorr" 0.233 +/- 0.0 C 
fitBias_Epp = fitBias RooRealVar "fitBias" -0.4 +/- 0.0 C 
prodBR_Rhog = prodBR RooRealVar "prodBR" 0.102 +/- 0.0 C 
effcorr_Rhog = effcorr RooRealVar "effcorr" 0.255 +/- 0.0 C 
fitBias_Rhog = fitBias RooRealVar "fitBias" 14.3 +/- 0.0 C 

Frac_nChls_tagCat_04T1 =  0.087 +/- 0.0011 C L(0 - 1)
Frac_nChls_tagCat_04T2 =  0.110 +/- 0.0013 C L(0 - 1)
Frac_nChls_tagCat_04T3 =  0.172 +/- 0.0016 C L(0 - 1)
Frac_nChls_tagCat_04T4 =  0.138 +/- 0.0015 C L(0 - 1)
Frac_nChls_tagCat_04T5 =  0.143 +/- 0.0015 C L(0 - 1)
Frac_nChls_tagCat_04T6 =  0.096 +/- 0.0013 C L(0 - 1)

Frac_nSig_tagCat_04T1 =  0.087 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.110 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.172 +/- 0.0016 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.138 +/- 0.0015 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.143 +/- 0.0015 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.096 +/- 0.0013 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0297 +/- 0.0048 C L(0 - 1)
dtSigAmtr_04T2 =  0.0535 +/- 0.0051 C L(0 - 1)
dtSigAmtr_04T3 =  0.1546 +/- 0.0056 C L(0 - 1)
dtSigAmtr_04T4 =  0.2349 +/- 0.0070 C L(0 - 1)
dtSigAmtr_04T5 =  0.3295 +/- 0.0074 C L(0 - 1)
dtSigAmtr_04T6 =  0.4193 +/- 0.0091 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 = -0.0015 +/- 0.0087 C L(-0.5 - 0.5)
dtSigDmtr_04T2 = -0.0057 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0044 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0237 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0524 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0459 +/- 0.0132 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2)
dtSigMu_04T1 =  0.0056 +/- 0.0157 C L(-2 - 2)
dtSigMu_04T2 =  0.0025 +/- 0.0151 C L(-2 - 2)
dtSigMu_04T3 =  0.0027 +/- 0.0136 C L(-2 - 2)
dtSigMu_04T4 = -0.0167 +/- 0.0156 C L(-2 - 2)
dtSigMu_04T5 = -0.0284 +/- 0.0157 C L(-2 - 2)
dtSigMu_04T6 =  0.0245 +/- 0.0185 C L(-2 - 2)

dtSigBiasC_04T0 = -0.1805 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0709 +/- 0.0422 C L(-5 - 5)
dtSigBiasC_04T2 = -0.1805 +/- 0.0422 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1805 +/- 0.0331 C L(-5 - 5)
dtSigBiasC_04T4 = -0.1805 +/- 0.0350 C L(-5 - 5)
dtSigBiasC_04T5 = -0.1805 +/- 0.0341 C L(-5 - 5)
dtSigBiasC_04T6 = -0.1805 +/- 0.0407 C L(-5 - 5)

dtSigScfaC_04T0 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  1.0631 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.0985 +/- 0.0245 C L(.5 - 5)

[MLAct]
// Datasets config here overrides that in dsi section
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
//mlFitOption = ehr
mlFitOption = emhr
//postMLSignf = nSig_Epp nSig_Rhog measBR
//postMLSysParams = dtSigTau 0.009V dtSigDm 0.005V dtSigAmtr 0.0040V dtSigDmtr 0.0070V Frac_nSig_tagCat 0.001V dtSigBiasC 0.02V dtSigScfaC 0.025V dtSigBiasT 0.1472V dtSigFracC 0.0097V dtSigFracO 0.0006V deSig_scale_Data 0.05V mesSig_shift 0.0002V
postMLSysParams = fisSig_asym .0648V fisSig_mean .0256V fisSig_rms .0193V
postMLSysVars = dtSig_C dtSig_S

[eToyAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.7
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 420 // nSig embed
toySrc_nChls = chlsMC 100 // nChls embed
preToyReadSecParams = SigMCToyParams

[eToyScanAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 420 +/- 10 L(0 - 800)
dtSig_C = 0.0
dtSig_S = 0.7
preToyRandParams = dtSig_S "@0*sin(@1) R theta" \\
                   dtSig_C "@0*cos(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
toySrc_nChls = chlsMC 100 // nChls embed
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParams

[Rpdf Config]
configStr = Generic
formula = "@0*@0" R
R = R 0 L(0 - 1)
[thetaPdf Config]
configStr = Generic
formula = "1" theta
theta = theta 0 L(-3.14159265358979323846 - 3.14159265358979323846)

[trueDtModel Config]
configStr = Simultaneous
Comps = trueDtPdf
physModels = the_trueDtPdf
splitCats = tagCat
the_trueDtPdf = tagCat : dtSigAmtr, dtSigDmtr, dtSigMu
[trueDtPdf Config]
// your true dt pdf
configStr = Generic
// See for instance Eqn. 5 in BAD 1109
formula = "0.5*(1+@3*(-@5+@6*(1-2*@4)+(1-2*@4+@3*@6*-@5*@6)*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1)))))/(1+@6*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1))))" \\
dtTrue dtTrueShift dtSigDm tagFlav dtSigAmtr dtSigDmtr dtSigMu dtSig_S dtSig_C
dtTrueShift = dtTrueShift -.000 C

[SigMCToyParams]
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
//mEtapSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
//mEtapSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  0.092 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.115 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.172 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.140 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.146 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.096 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  5.00000e-01 +/- 5.000e-03 C L(0 - 1) 
dtSigAmtr_04T1 =  1.44093e-03 +/- 8.129e-03 C L(0 - 1) 
dtSigAmtr_04T2 =  5.91422e-02 +/- 7.373e-03 C L(0 - 1) 
dtSigAmtr_04T3 =  1.61295e-01 +/- 6.585e-03 C L(0 - 1) 
dtSigAmtr_04T4 =  2.53735e-01 +/- 7.674e-03 C L(0 - 1) 
dtSigAmtr_04T5 =  3.47454e-01 +/- 7.861e-03 C L(0 - 1) 
dtSigAmtr_04T6 =  4.16392e-01 +/- 9.771e-03 C L(0 - 1) 

dtSigDmtr_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigDmtr_04T1 =  1.98489e-02 +/- 2.430e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T2 = -3.10643e-02 +/- 2.060e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T3 = -5.55121e-02 +/- 1.593e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T4 = -6.03672e-02 +/- 1.482e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T5 =  1.98345e-02 +/- 1.106e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T6 =  2.75592e-02 +/- 9.689e-03 C L(-0.5 - 0.5) 

dtSigMu_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigMu_04T1 =  2.21378e-02 +/- 2.518e-02 C L(-2 - 2) 
dtSigMu_04T2 = -2.99714e-02 +/- 2.384e-02 C L(-2 - 2) 
dtSigMu_04T3 = -7.28910e-02 +/- 2.321e-02 C L(-2 - 2) 
dtSigMu_04T4 = -7.85799e-02 +/- 2.870e-02 C L(-2 - 2) 
dtSigMu_04T5 = -1.25728e-01 +/- 3.122e-02 C L(-2 - 2) 
dtSigMu_04T6 = -1.34788e-01 +/- 4.006e-02 C L(-2 - 2) 

dtSigBiasC_04T0 = -2.33776e-01 +/- 1.096e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T1 = -8.82315e-02 +/- 2.690e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T2 = -1.61517e-01 +/- 2.572e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T3 = -1.46943e-01 +/- 2.311e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T4 = -1.76003e-01 +/- 2.629e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T5 = -1.30777e-01 +/- 2.774e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T6 = -1.27679e-01 +/- 3.466e-02 C L(-5 - 5) // [ps]

dtSigBiasT = -1.41717e+00 +/- 1.317e-01 C L(-5 - 5) // [ps]
dtSigFracC =  9.25132e-01 +/- 5.165e-03 C L(0.5 - 1) 
dtSigFracO =  6.46914e-03 +/- 4.667e-04 C L(0 - 0.2) 
dtSigScfaC =  1.14393e+00 +/- 1.052e-02 C L(0.5 - 5) // [ps]

[pToyAct]
// Datasets config here overrides that in dsi section
Datasets = onData
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C =-0.3
dtSig_S = 0.7
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 floated
toySrc_nSig = pdf 420 // nSig pure
toySrc_nChls = pdf 100 // nSig pure

[ToyParams]
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
//mEtapSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
//mEtapSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  0.0879 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.1127 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.1709 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.1401 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.1494 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.0987 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0098 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0570 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1429 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2540 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3416 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4330 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 = -0.0020 +/- 0.0071 C L(-0.5 - 0.5)
dtSigDmtr_04T2 =  0.0008 +/- 0.0076 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0061 +/- 0.0075 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0216 +/- 0.0090 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0751 +/- 0.0089 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0554 +/- 0.0110 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2)
dtSigMu_04T1 = -0.0163 +/- 0.0137 C L(-2 - 2)
dtSigMu_04T2 =  0.0014 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T3 = -0.0145 +/- 0.0113 C L(-2 - 2)
dtSigMu_04T4 =  0.0035 +/- 0.0128 C L(-2 - 2)
dtSigMu_04T5 = -0.0358 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T6 = -0.0050 +/- 0.0154 C L(-2 - 2)

dtSigBiasC_04T0 = -0.2371 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0345 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.2037 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1978 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.2602 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.2360 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.2376 +/- 0.0335 C L(-5 - 5)

dtSigBiasT = -1.4997 +/- 0.2670 C L(-5 - 5) // [ps]
dtSigFracC =  0.9149 +/- 0.0121 C L(0.5 - 1)
dtSigFracO =  0.0056 +/- 0.0007 C L(0 - 0.2)
dtSigScfaC =  1.1337 +/- 0.0239 C L(0.5 - 5)

[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
//projVars = mes de fisher mEtap deltaT
projVars = mes de fisher deltaT
projPlotData_deltaT = onData "tagCat!=tagCat::04T0"
projAsymPlot_deltaT = tagFlav
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
//projLRatioCut_mEtap = .9xx
projLRatioCut_deltaT = .975
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
//plotBins_mEtap = 18
plotBins_deltaT = 12
plotRange_deltaT = -6 -4 -2 -1 0 1 2 4 6
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
//projOptimRange_mEtap = "abs(mEtap-0.957)<0.025"
projOptimRange_deltaT = "abs(deltaT)<3.5"
//projOptimRange_deltaT = "(abs(deltaT)<3.5)&&(abs(mes-5.28)<0.006)"
//projOptimRange_deltaT = "(abs(mes-5.28)<0.006)"

[nodtProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projVars = mes de fisher
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
//projLRatioCut_mEtap = .9xx
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
//plotBins_mEtap = 18
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
//projOptimRange_mEtap = "abs(mEtap-0.957)<0.025"

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all //nSig
//sPlotComps = nChls //nSig
sPlotVars = mes de fisher mEtap deltaT
sPlotPdfOverlay_mEtap = nSig mEtapSig nBkg mEtapBkg
//sPlotVars = deltaT 
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 18
plotBins_deltaT = 40
sPlotNormIgnoredObs = dtErr tagFlav

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR 0 100
nScanPoints = 100

[Action Config]
// default no action
