//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
//
// This sample config is intended to demonstrate full TD fitting
// using eta'(epp)Ks mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

// default dsi section
[Dataset Input]
dsdSec = dt Dataset Definition
Datasets = onData sigMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/etapks_epp_SIGMC_an32.text" Q // quiet mode
onData   = ascii "onpeak Data" "mydats/etapks_epp_ONPEAK_Run15_an32.text"
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = 1d170906bd32bb141e55eaa2aafaa038  bf46d5de07051c91ef6effd50975de1c

tabulateDatasets = yes

// dsi section for nodt settings, use command line option -D nodtInput
[nodtInput]
dsdSec = nodt Dataset Definition
Datasets = onData sigMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/etapks_epp_SIGMC_an32.text" Q // quiet mode
onData   = ascii "onpeak Data" "mydats/etapks_epp_ONPEAK_Run15_an32.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = a36c9c99e046a932b06f7c95fe7b5e0e e6134db3e542bfda01a896db8037cf71 75d8eac756ba826da98c6d7ab29268af

tabulateDatasets = yes

// dsd section for dt
[dt Dataset Definition]
include dsd_etapK.config
deltaT=deltaT RooRealVar "#Delta t" -20 20 B(100) "ps"
dtErr=dtErr RooRealVar "#delta#Delta t" 0.0 2.5 B(10) "ps"
mEtap = RooRealVar "M_{#etapr}" 0.945 0.970 B(25)

// dsd section for nodt
[nodt Dataset Definition]
include dsd_etapK.config
mEtap = RooRealVar "M_{#etapr}" 0.945 0.970 B(25)

// default master pdf config
[mlFitter Config]
Comps = dtModel
// dataset to fit
fitData = onData

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_dtModel
physModels = the_dtModel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock tagCat
protDataVars=DataMC runBlock tagCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_dtModel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_dtModel  = DataMC :  deSig_scale, deSig_shift \\
             DataMC,runBlock : mesSig_shift \\
             tagCat :  dtSigAmtr, dtSigDmtr, dtSigMu, dtSigBiasC, dtSigScfaC \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5] \\
             tagCat : Frac_nSig_tagCat[04T0], Frac_nBkg_tagCat[04T0]

postPdfFloat = Frac_nBkg_tagCat_04T1 Frac_nBkg_tagCat_04T2 Frac_nBkg_tagCat_04T3 \\
               Frac_nBkg_tagCat_04T4 Frac_nBkg_tagCat_04T5 Frac_nBkg_tagCat_04T6
//               Frac_nBkg_tagCat_04T4 Frac_nBkg_tagCat_04T5 Frac_nBkg_tagCat_04T6 mesSig_shift_{Data;Run5} 


// nodt master pdf config, use command line option -C NFit
[NFit]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_Nmodel
physModels = the_Nmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock
protDataVars=DataMC runBlock // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_Nmodel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_Nmodel  = DataMC :  deSig_scale, deSig_shift \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5] \\


// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config" 

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRmodel
physModels = the_BRmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock
protDataVars=DataMC runBlock // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
//the_BRmodel  = DataMC :  deSig_scale, deSig_shift, mEtapSig_shift, mEtapSig_scale \\
the_BRmodel  = DataMC :  deSig_scale, deSig_shift \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5] \\

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtSigPdf dtBkgPdf
Coeffs = nSig nBkg
nBkg = nBkg 600 L(-100 - 1e6)
nSig = nSig 275 L(-100 - 1e6)
postPdfFloat = nSig nBkg

[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = nodtSigPdf nodtBkgPdf
Coeffs = nSig nBkg
nBkg = nBkg 600 L(-100 - 1e6)
nSig = nSig 275 L(-100 - 1e6)
postPdfFloat = nSig nBkg

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = nodtSigPdf nodtBkgPdf
Coeffs = nSig nBkg
nBkg = nBkg 600 L(-100 - 1e6)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 68 L(-100 - 1e6)
nBB = nBB RooRealVar "nBB" 382.9 +/- 0.0 C 
prodBR = prodBR RooRealVar "prodBR" 0.0606 +/- 0.0 C 
effcorr = effcorr RooRealVar "effcorr" 0.232 +/- 0.0 C 
fitBias = fitBias RooRealVar "fitBias" 2.8 +/- 0.0 C 
postPdfFloat = measBR nBkg

[dtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = nodtSigPdf dtSig
fitData = sigMC

[nodtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
xtraPdfs = mEtapSig
Comps = deSig mesSig fisSig
fitData = sigMC

[dtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = nodtBkgPdf dtBkg dummyFlavPdf
fitData = gsbData

[nodtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mEtapBkg
Comps = deBkg mesBkg fisBkg
fitData = gsbData

[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
shift =  0.0 C L(-0.1 - 0.1)
//postPdfFloat = deSig_scale_Data
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
//Following line to float Fisher signal params
//postPdfFloat = mean rms asym 
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)

[mEtapSig Config]
configStr = TwoGauss
x = mEtap
meanC =  0.960 L(0.92 - 0.98)
meanT =  0.950 L(0.92 - 0.98)
sigmaC = 0.004 L(0.0  - 0.01)
sigmaT = 0.010 L(0.0  - 0.1)
fracC =  0.9   L(0.0  - 1.0)
shift = T "Offset_{mE}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mE}"  1.0 C L( 0.8 - 1.2)
[mEtapBkg Config]
configStr = AddPdf
Comps = mEtapSig mEtapPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.46 L(0 - 1.)
prePdfFix = mEtapSig mEtapSig_shift 0.0007 mEtapSig_scale 1.05
postPdfFloat = fracS
[mEtapPolyBkg Config]
configStr = Chebychev
x = mEtap
nOrder = 2
P01 = 0.20 L(-100 - 100)
P02 = 0.10 L(-100 - 100)
postPdfFloat = P01 

[dtSig Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = deltaT
model = sigResModel
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.7 L(-4.0 - 4.0)
//blindStatus = blind
blindStatus = unblind
blindString = Physicists do it vivace
blindValues = .2 .2 .2 .2
postPdfFloat = C S
[sigResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtSigBiasC "Bias_{C}"  -0.16 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  1.0807 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"  -1.1140 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  3.00 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  8. C
fracC  = dtSigFracC "f_{C}"      0.8888 C L(.5 - 1)
fracO  = dtSigFracO "f_{O}"      0.0033 C L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr
xtraGenerators = dtErrGen

[add dtErrGen Config]
configStr = ProdPdf
Comps = dtErrGenL dtErrGenR
[dtErrGenR Config]
configStr = Generic
formula = "1/(1.0+exp((@0-@1)/@2))" dtErr c1 c2
x = dtErr
c1 = .22 C
c2 = -.000000000000001 C
[dtErrGen Config]
//[Landau dtErrGenL Config]
configStr = Landau
x = dtErr
mean = .732813 C L(0 - 2.5)
sigma = .176 C L(0 - .5)

[dummyFlavPdf Config]
configStr = Generic
pdfFit = no
pdfPlot = no
formula = "1" tagFlav

[dtBkg Config]
configStr = BCPGenDecay
projWData_deltaT = yes
x = deltaT
model = bkgResModel
tag = tagFlav
tau = dtBkgTau  0 C L(0.5 - 2.5)
dm  = dtBkgDm   0 C L(0.0 - 1.0)
w   = dtBkgAmtr 0.0  C( 0. - 0.5)
dw  = dtBkgDmtr 0.0 C(-2. - 2.0)
mu  = dtBkgMu   0.0  C(-2. - 2.0)
C = 0.0 C L(-2.0 - 2.0)
S = 0.0 C L(-2.0 - 2.0)
blindStatus = unblind
blindString = Blind the bkg
blindValues = .2 .2 .2 .2
[bkgResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtBkgBiasC "Bias_{C}"   0.0 L(-5 - +5)
sigmaC = dtBkgScfaC "Scale_{C}"  1.0 L(0.0 - 5)
meanT  = dtBkgBiasT "Bias_{T}"   0.0 L(-5 - 5)
sigmaT = dtBkgScfaT "Scale_{T}"  1.00 L(.05 - 5)
meanO  = dtBkgBiasO "Bias_{O}"   0.0 C
sigmaO = dtBkgScfaO "Scale_{O}"  8.0 C
fracC  = dtBkgFracC "f_{C}"      1.00 L(.5 - 1)
fracO  = dtBkgFracO "f_{O}"      0.00 L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = dtBkg
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mEtapSig mEtapBkg
//pdfToFit = dtErrGen
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift_{Data;Run1} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesBkg_c =   -1.6667e+01  +/-  2.15e+00 C L(-80. - -0.1)
fisBkgC_asym =  7.3967e-02 +/- 0.01 C L(-1 - 1)
fisBkgC_mean =  4.3666e-01 +/- 0.01 C L(-1 - 1)
fisBkgC_rms =   5.8581e-01 +/- 0.01 C L(-1 - 1)
fisSig_asym =   1.6657e-01 +/- 0.01 C L(-1 - 1)
fisSig_mean =  -5.1303e-01 +/- 0.01 C L(-1 - 1)
fisSig_rms  =  5.9607e-01 +/-  0.01 C L(-1 - 1)

Frac_nSig_tagCat_04T1 =  0.087 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.110 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.172 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.138 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.143 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.096 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0297 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0535 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1546 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2349 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3295 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4193 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 = -0.0015 +/- 0.0087 C L(-0.5 - 0.5)
dtSigDmtr_04T2 = -0.0057 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0044 +/- 0.0092 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0237 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0524 +/- 0.0110 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0459 +/- 0.0132 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2) //
dtSigMu_04T1 =  0.0056 +/- 0.0137 C L(-2 - 2) //
dtSigMu_04T2 =  0.0025 +/- 0.0127 C L(-2 - 2) //
dtSigMu_04T3 =  0.0027 +/- 0.0113 C L(-2 - 2) //
dtSigMu_04T4 = -0.0167 +/- 0.0128 C L(-2 - 2) //
dtSigMu_04T5 = -0.0284 +/- 0.0127 C L(-2 - 2) //
dtSigMu_04T6 =  0.0245 +/- 0.0154 C L(-2 - 2) //

dtSigBiasC_04T0 = -0.1805 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0709 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.1805 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1805 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.1805 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.1805 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.1805 +/- 0.0335 C L(-5 - 5) //just do 2-6 the same

dtSigScfaC_04T0 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  1.0631 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.0985 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.0985 +/- 0.0245 C L(.5 - 5)

[MLAct]
// Datasets config here overrides that in dsi section
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
mlFitOption = ehr
//mlFitOption = emhr
//postMLSignf = nSig measBR
//postMLSysParams = dtSigTau 0.009V dtSigDm 0.005V dtSigAmtr 0.0040V dtSigDmtr 0.0070V Frac_nSig_tagCat 0.001V dtSigBiasC 0.02V dtSigScfaC 0.025V dtSigBiasT 0.1472V dtSigFracC 0.0097V dtSigFracO 0.0006V deSig_scale_Data .05V deSig_shift_Data .002V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data .0002V
//postMLSysVars = dtSig_C dtSig_S
postMLSysParams = deSig_scale_Data .05V deSig_shift_Data .002V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data .0002V
postMLSysVars = nSig

[eToyAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.7
protToyData = onData
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 329 // nSig embed
preToyReadSecParams = SigMCToyParams

[eToyBrecoAct]
// toy options
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.7
protToyData = onData 
toyNexp = 500 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 290 // nSig embed
preToyReadSecParams = ToyParams

[eToyScanAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 290 +/- 10 L(0 - 300)
dtSig_C = 0.0
//dtSig_C = -0.2
dtSig_S = 0.7
//preToyRandParams = dtSig_S "@0*sin(@1) R theta" \\
//                   dtSig_C "@0*cos(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
toyNevt = 0 floated
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = SigMCToyParams
//preToyReadSecParams = ToyParams

[Rpdf Config]
configStr = Generic
formula = "@0*@0" R
R = R 0 L(0 - 1)
[thetaPdf Config]
configStr = Generic
formula = "1" theta
theta = theta 0 L(-3.14159265358979323846 - 3.14159265358979323846)

[trueDtModel Config]
configStr = Simultaneous
Comps = trueDtPdf
physModels = the_trueDtPdf
splitCats = tagCat
the_trueDtPdf = tagCat : dtSigAmtr, dtSigDmtr, dtSigMu
[trueDtPdf Config]
// your true dt pdf
configStr = Generic
// See for instance Eqn. 5 in BAD 1109
formula = "0.5*(1+@3*(-@5+@6+(1+@3*@6-@5*@6)*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1)))))/(1+@6*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1))))" \\
dtTrue dtTrueShift dtSigDm tagFlav dtSigAmtr dtSigDmtr dtSigMu dtSig_S dtSig_C
dtTrueShift = dtTrueShift -.000 C

[SigMCToyParams]
//signal MC params
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
//mEtapSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
//mEtapSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  0.0925 +/- 1.000e-03 C L(0 - 1) 
Frac_nSig_tagCat_04T2 =  0.1074 +/- 1.100e-03 C L(0 - 1) 
Frac_nSig_tagCat_04T3 =  0.1688 +/- 1.300e-03 C L(0 - 1) 
Frac_nSig_tagCat_04T4 =  0.1374 +/- 1.200e-03 C L(0 - 1) 
Frac_nSig_tagCat_04T5 =  0.1445 +/- 1.200e-03 C L(0 - 1) 
Frac_nSig_tagCat_04T6 =  0.0967 +/- 1.000e-03 C L(0 - 1)

dtSigAmtr_04T0 =  5.00000e-01 +/- 5.000e-03 C L(0 - 1) 
dtSigAmtr_04T1 =  1.3901e-02 +/- 8.129e-03 C L(0 - 1) 
dtSigAmtr_04T2 =  5.9287e-02 +/- 7.373e-03 C L(0 - 1) 
dtSigAmtr_04T3 =  1.6486e-01 +/- 6.585e-03 C L(0 - 1) 
dtSigAmtr_04T4 =  2.5697e-01 +/- 7.674e-03 C L(0 - 1) 
dtSigAmtr_04T5 =  3.4540e-01 +/- 7.861e-03 C L(0 - 1) 
dtSigAmtr_04T6 =  4.1398e-01 +/- 9.771e-03 C L(0 - 1) 

dtSigDmtr_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigDmtr_04T1 =  2.1693e-02 +/- 2.430e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T2 = -7.3390e-02 +/- 2.060e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T3 = -6.0598e-02 +/- 1.593e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T4 = -3.9551e-02 +/- 1.482e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T5 =  2.0607e-02 +/- 1.106e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T6 =  1.8822e-02 +/- 9.689e-03 C L(-0.5 - 0.5) 

dtSigMu_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigMu_04T1 =  1.8479e-02 +/- 2.518e-02 C L(-2 - 2) 
dtSigMu_04T2 = -8.7485e-02 +/- 2.384e-02 C L(-2 - 2) 
dtSigMu_04T3 = -8.3753e-02 +/- 2.321e-02 C L(-2 - 2) 
dtSigMu_04T4 = -2.7544e-02 +/- 2.870e-02 C L(-2 - 2) 
dtSigMu_04T5 = -1.6169e-01 +/- 3.122e-02 C L(-2 - 2) 
dtSigMu_04T6 = -1.3557e-01 +/- 4.006e-02 C L(-2 - 2) 

dtSigBiasC_04T0 = -2.1877e-01 +/- 1.096e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T1 = -5.6845e-02 +/- 2.690e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T2 = -8.2805e-02 +/- 2.572e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T3 = -1.4259e-01 +/- 2.311e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T4 = -1.9770e-01 +/- 2.629e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T5 = -1.0022e-01 +/- 2.774e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T6 = -1.2744e-01 +/- 3.466e-02 C L(-5 - 5) // [ps]

dtSigScfaC_04T0 =  1.1362 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  1.1362 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.1362 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.1362 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.1362 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.1362 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.1362 +/- 0.0245 C L(.5 - 5)

dtSigBiasT = -1.2562e+00 +/- 1.317e-01 C L(-5 - 5) // [ps]
dtSigFracC =  9.2095e-01 +/- 5.165e-03 C L(0.5 - 1) 
dtSigFracO =  6.6623e-03 +/- 4.667e-04 C L(0 - 0.2) 

[pToyAct]
// Datasets config here overrides that in dsi section
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C =-0.25
dtSig_S = 0.6
//protToyData = onData
//protDatasets = onData
//protDataGenLevel = 3
toyNexp = 500 // # experiments
toyNevt = 0 floated 
toySrc_nSig = pdf 288 // nSig pure
preToyReadSecParams = SigMCToyParams

[pToyNodtAct]
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C = 0.0
dtSig_S = 0.0
protDatasets = onData
//protDataGenLevel = 3
toyNexp = 500 // # experiments
toyNevt = 0 floated 
toySrc_nSig = pdf 425 // nSig pure
toySrc_nBkg = pdf 2000 // nBkg pure

[ToyParams]
//breco toy params
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
//mEtapSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
//mEtapSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  0.0879 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.1127 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.1709 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.1401 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.1494 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.0987 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0294 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0655 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1651 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2626 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3507 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4235 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 =  0.0016 +/- 0.0071 C L(-0.5 - 0.5)
dtSigDmtr_04T2 =  0.0016 +/- 0.0076 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0022 +/- 0.0075 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0186 +/- 0.0090 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0604 +/- 0.0089 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0463 +/- 0.0110 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2)
dtSigMu_04T1 = -0.0041 +/- 0.0137 C L(-2 - 2)
dtSigMu_04T2 =  0.0010 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T3 =  0.0041 +/- 0.0113 C L(-2 - 2)
dtSigMu_04T4 =  0.0106 +/- 0.0128 C L(-2 - 2)
dtSigMu_04T5 = -0.0221 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T6 =  0.0072 +/- 0.0154 C L(-2 - 2)

dtSigBiasC_04T0 = -0.2472 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0618 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.2472 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.2472 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.2472 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.2472 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.2472 +/- 0.0335 C L(-5 - 5)

dtSigScfaC_04T0 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T1 =  0.9952 +/- 0.0508 C L(.5 - 5)
dtSigScfaC_04T2 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T3 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T4 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T5 =  1.0898 +/- 0.0245 C L(.5 - 5)
dtSigScfaC_04T6 =  1.0898 +/- 0.0245 C L(.5 - 5)

dtSigBiasT = -1.1782 +/- 0.2670 C L(-5 - 5) // [ps]
dtSigFracC =  0.8894 +/- 0.0121 C L(0.5 - 1)
dtSigFracO =  0.0041 +/- 0.0007 C L(0 - 0.2)

[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
//projVars = mes de fisher mEtap deltaT
projVars = mes de fisher deltaT
projPlotData_deltaT = onData "tagCat!=tagCat::04T0"
projAsymPlot_deltaT = tagFlav
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
//projLRatioCut_mEtap = .9xx
projLRatioCut_deltaT = .975
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
//plotBins_mEtap = 18
plotBins_deltaT = 12
plotRange_deltaT = -6 -4 -2 -1 0 1 2 4 6
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
//projOptimRange_mEtap = "abs(mEtap-0.957)<0.025"
projOptimRange_deltaT = "abs(deltaT)<3.5"
//projOptimRange_deltaT = "(abs(deltaT)<3.5)&&(abs(mes-5.28)<0.006)"
//projOptimRange_deltaT = "(abs(mes-5.28)<0.006)"

[nodtProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
projVars = mes de fisher
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all //nSig
sPlotVars = mes de fisher mEtap deltaT
sPlotPdfOverlay_mEtap = nSig mEtapSig nBkg mEtapBkg
plotBins_mes = 10
plotBins_de = 10
plotBins_fisher = 18
plotBins_mEtap = 10
plotBins_deltaT = 40
sPlotNormIgnoredObs = dtErr tagFlav

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR 0 100
nScanPoints = 1000

[SScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = dtSig_S 0 1.0
nScanPoints = 100
//scanVars = dtSig_S 0 1.4
//nScanPoints = 140

[CScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = dtSig_C -0.6 0.6
nScanPoints = 120

[SCContour]
contourPlot = yes
contourPlotData = onData
nContours = 2
contourVars = dtSig_S 0.0 1.0 dtSig_C -0.5 0.0
