//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// $Id: MesDE.config,v 1.2 2007/06/29 08:37:45 zhanglei Exp $
//
// This sample config is intended to demonstrate simple mes de fitting
// When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

[Dataset Input]
Datasets = onData sigMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "sigMC.text" Q // quiet mode
onData   = ascii "onpeak Data" "onData.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"

tabulateDatasets = yes

[Dataset Definition]
Fields = mes de
mes = RooRealVar "m_{ES}" 5.25 5.29 B(20) "GeV"
de = RooRealVar "#Delta E" -0.2 0.2 B(20) "GeV"

// default master pdf config
[mlFitter Config]
Comps = yieldModel
// dataset to fit
fitData = onData

[yieldModel Config]
configStr = MLPdf "ml yield model"
Comps = Sig Bkg
Coeffs = nSig nBkg
nBkg = nBkg 10000 L(-1e6 - 1e6)
nSig = nSig    96 L(-1e6 - 1e6)
postPdfFloat = nSig nBkg

[Sig Config]
configStr = ProdPdf "Signal Pdf"
Comps = deSig mesSig
fitData = sigMC
[Bkg Config]
configStr = ProdPdf "Continuum Pdf"
Comps = deBkg mesBkg
fitData = gsbData

[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
postPdfFloat = meanC meanT sigmaC sigmaT fracC

[deBkg Config]
configStr = Polynomial
x = de
nOrder = 1
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
postPdfFloat = meanC meanT sigmaC sigmaT fracC

[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c

[Fitter Action]
mlFitData = onData
// mlFit options
mlFit = yes
