[Dataset Definition]
include eric/configfiles/dsd_omegaKpi.config
bDecayMode = RooCategory "B Decay Mode" useIdx "B+->omegaK*+,K*+->K+pi0" 5107
hKstar = RooRealVar "H_{K*}" -.80 1.0 B(36)

[Dataset Input]
dsdSec = Dataset Definition
Datasets = sig1LMC sig1TMC sig0MC sig2LMC sig2TMC sig1MC chlsMC onData on14 \\
          sig1MCR sig1MCX sig1LMCR sig1LMCX sig1TMCR sig1TMCX \\
          sig2MC sig2MCR sig2MCX sig2LMCR sig2LMCX sig2TMCR sig2TMCX \\
          gsbData desbData Proj1SMC Proj2SMC Projtemp ProjSMC

sig1LMC  = ascii "L K*1 MC" "eric/mydats/omegaKpi0_Kst890_long.text" Q
sig1TMC  = ascii "T K*1 MC" "eric/mydats/omegaKpi0_Kst890_trans.text" Q
//sig0MC   = ascii "sigL MC Data" "eric/mydats/omegaKpi0_Kst01430.text" Q 
sig0MC   = ascii "sigL MC Data" "mydats/omegaKpi0_Kst01430_plus1.text" Q 
//sig0MC   = ascii "sigL MC Data" "mydats/omegaKpi0_Kst01430_minus1.text" Q 
sig2LMC   = ascii "sigL MC Data" "eric/mydats/omegaKpi0_Kst21430_long.text" Q 
sig2TMC   = ascii "sigL MC Data" "eric/mydats/omegaKpi0_Kst21430_trans.text" Q 
sig1MC   = add "L+T K*1 MC" sig1LMC 0 sig1TMC 0
chlsMC   = ascii "peaking BB Data" "eric/mydats/omegaKpi0_BBbarBG.txt" Q
onData   = ascii "onpeak Data" "eric/mydats/omegaKpi0_OnData.text" Q
//on14     = ascii "onpeak Data 14" "mydats/omegaKpi0_ondata14.text" Q
sig1MCR  = reduce "Kst1 real signal" sig1MC  "mcTruth==0"
sig1MCX  = reduce "Kst1 SXF signal" sig1MC  "mcTruth==1"
sig1LMCR   = reduce "real L signal" sig1LMC  "mcTruth==0"
sig1LMCX   = reduce "SXF L signal" sig1LMC  "mcTruth==1"
sig1TMCR   = reduce "real T signal" sig1TMC  "mcTruth==0"
sig1TMCX   = reduce "SXF T signal" sig1TMC  "mcTruth==1"
sig2MC    = add "L+T full MC" sig2LMC 0 sig2TMC 0
sig2MCR  = reduce "Kst21430 real signal" sig2MC  "mcTruth==0"
sig2MCX  = reduce "Kst21430 SXF signal" sig2MC  "mcTruth==1"
Proj1SMC  = add "L*fL1raw+T(1-fL1raw) MC" sig1LMC 0.55 sig1TMC 0.45
Proj2SMC  = add "L*fL2raw+T(1-fL2raw) MC" sig2LMC 0.59 sig2TMC 0.41
Projtemp  = add "Temp sum" Proj1SMC 0 Proj2SMC 0
ProjSMC   = add "Mix of MC for proj plot optimization" Projtemp 0 sig0MC 0
sig2LMCR   = reduce "real L signal" sig2LMC  "mcTruth==0"
sig2LMCX   = reduce "SXF L signal" sig2LMC  "mcTruth==1"
sig2TMCR   = reduce "real T signal" sig2TMC  "mcTruth==0"
sig2TMCX   = reduce "SXF T signal" sig2TMC  "mcTruth==1"
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"

on14     = reduce "Run14 Data" onData "runNum<53000" Q 

ub_onData = 4cd0a6e0aad5ba7fb391841fd381cfff

ub_on14   = 4ab2c2dfed4db70f72a685ea4fd222ee

tabulateDatasets = yes



[mlFitter Config]
Comps = NModel
fitData = onData
simultaneousFit = yes
yieldSplitMethod = auto
SimPdfBuilder configs
physModels = the_NModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = chgCat(Minus,Plus)
protDataVars = chgCat // list all splitCats here
the_NModel  = chgCat : Frac_nKst0_chgCat[Minus], Frac_nKst2_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nKst1_chgCat[Minus]
postPdfFloat = Frac_nKst0_chgCat_Plus Frac_nKst2_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nKst1_chgCat_Plus
preMLReadParams = C "mlFitter Config"

[mlFit14 Config]
Comps = NModel
fitData = on14
//simultaneousFit = yes
//yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = the_NModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
//splitCats = chgCat(Minus,Plus)
//protDataVars = chgCat // list all splitCats here
//the_NModel  = chgCat : Frac_nKst0_chgCat[Minus], Frac_nKst2_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nKst1_chgCat[Minus]
//postPdfFloat = Frac_nKst0_chgCat_Plus Frac_nKst2_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nKst1_chgCat_Plus
preMLReadParams = C "mlFitter Config"


[BRFit]
Comps = BRModel
fitData = onData
simultaneousFit = yes
yieldSplitMethod = auto
SimPdfBuilder configs
physModels = the_BRModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = chgCat(Minus,Plus)
protDataVars = chgCat // list all splitCats here
the_BRModel  = chgCat : Frac_nKst0_chgCat[Minus], Frac_nKst2_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nKst1_chgCat[Minus]
postPdfFloat = Frac_nKst0_chgCat_Plus Frac_nKst2_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nKst1_chgCat_Plus
preMLReadParams = C "mlFitter Config"

[BRFit14]
Comps = BRModel14
// dataset to fit
fitData = on14
preMLReadParams = C "mlFitter Config"

[NModel Config]
configStr = MLPdf "ml model"
Comps = Kst1Pdf Kst0Pdf Kst2Pdf BkgPdf ChlsPdf
Coeffs = nKst1 nKst0 nKst2 nBkg nChls
nBkg = nBkg 42114 L(0 - 80000)
nKst1 = nKst1  40 L(-100 - 2000)
nKst0 = nKst0 250 L(-100 -  3000)
nKst2 = nKst2 100 L(-100 -  3000)
nChls= nChls  100  L(-100 - 2000)
//postPdfFloat = nKst1Pdf nKst0Pdf nKst2Pdf nBkg
postPdfFloat = nKst1 nKst0 nKst2 nBkg 
xtraPdfs =  realKst1Pdf sxfKst1Pdf Kst0Pdf realKst2Pdf sxfKst2Pdf SigPdf

[BRModel Config]
configStr = MLPdf "ml model"
Comps = Kst1Pdf Kst0Pdf Kst2Pdf BkgPdf ChlsPdf
Coeffs = nKst1 nKst0 nKst2 nBkg nChls
nBkg = nBkg  35030 L(0 - 80000)
nKst1 = nKst1 RooFormulaVar "@0*@1*@2*@3+@4" measBR1 nBB prodBR1 effcorr1 fitBias1
nKst0 = nKst0 RooFormulaVar "@0*@1*@2*@3+@4" measBR0 nBB prodBR0 eff0 fitBias0
nKst2 = nKst2 RooFormulaVar "@0*@1*@2*@3+@4" measBR2 nBB prodBR2 effcorr2 fitBias2
nChls= nChls  100  L(-100 - 2000)
measBR1 = measBR1 0 L(-20 - 100)
measBR0 = measBR0 0 L(-20 - 100)
measBR2 = measBR2 1 L(-20 - 100)
nBB = nBB RooRealVar "nBB" 465.0 // run1~6
prodBR1 = prodBR1 RooRealVar "prodBR K1*" 0.297
prodBR0 = prodBR0 RooRealVar "prodBR K0*" 0.297
prodBR2 = prodBR2 RooRealVar "prodBR K2*" 0.149
fitBias1 = fitBias1 RooRealVar "fitBias K1*" 3
fitBias0 = fitBias0 RooRealVar "fitBias K0*" 18
fitBias2 = fitBias2 RooRealVar "fitBias K2*" 6
eff0 = eff0  RooRealVar "eff K0*" 0.064
effcorr1 = RooFormulaVar "@0*@1+(1-@0)*@2" fL1 eff1L eff1T
effcorr2 = RooFormulaVar "@0*@1+(1-@0)*@2" fL2 eff2L eff2T
// the following 3 configs should be the same as in [heliKst1 Config]
fL1  = fL1 "f_{L1}" 0.9 C L(0. - 1.5)
eff1L = eff1L 0.091 C //make sure to update these numbers
eff1T = eff1T 0.110 C //
// the following 3 configs should be the same as in [heliKst2 Config]
fL2  = fL2 "f_{L2}" 0.9 C L(0. - 1.5)
eff2L = eff2L 0.079 C //make sure to update these numbers
eff2T = eff2T 0.086 C //
postPdfFloat = measBR1 measBR0 measBR2 nBkg 

[BRModel14 Config]
configStr = MLPdf "ml model Run1-4"
Comps = Kst1Pdf Kst0Pdf Kst2Pdf BkgPdf ChlsPdf
Coeffs = nKst1 nKst0 nKst2 nBkg nChls
nBkg = nBkg  42114 L(0 - 80000)
nKst1 = nKst1 RooFormulaVar "@0*@1*@2*@3+@4" measBR1 nBB prodBR1 effcorr1 fitBias1
nKst0 = nKst0 RooFormulaVar "@0*@1*@2*@3+@4" measBR0 nBB prodBR0 eff0 fitBias0
nKst2 = nKst2 RooFormulaVar "@0*@1*@2*@3+@4" measBR2 nBB prodBR2 effcorr2 fitBias2
nChls= nChls  50  L(-100 - 2000)
measBR1 = measBR1 0 L(-20 - 100)
measBR0 = measBR0 0 L(-20 - 100)
measBR2 = measBR2 1 L(-20 - 100)
nBB = nBB RooRealVar "nBB" 232.8
prodBR1 = prodBR1 RooRealVar "prodBR K1*" 0.297
prodBR0 = prodBR0 RooRealVar "prodBR K0*" 0.297
prodBR2 = prodBR2 RooRealVar "prodBR K2*" 0.149
fitBias1 = fitBias1 RooRealVar "fitBias K1*" -2.52
fitBias0 = fitBias0 RooRealVar "fitBias K0*" -2.52
fitBias2 = fitBias2 RooRealVar "fitBias K0*" -2.52
eff0 = eff0  RooRealVar "eff K0*" 0.064
effcorr1 = RooFormulaVar "@0*@1+(1-@0)*@2" fL1 eff1L eff1T
effcorr2 = RooFormulaVar "@0*@1+(1-@0)*@2" fL2 eff2L eff2T
// the following 3 configs should be the same as in [heliKst1 Config]
fL1  = fL1 "f_{L1}" 0.9 C L(0. - 1.5)
eff1L = eff1L 0.091 C //make sure to update these numbers
eff1T = eff1T 0.110 C //
// the following 3 configs should be the same as in [heliKst2 Config]
fL2  = fL2 "f_{L2}" 0.9 C L(0. - 1.5)
eff2L = eff2L 0.079 C //make sure to update these numbers
eff2T = eff2T 0.086 C //
postPdfFloat = measBR1 measBR0 measBR2 nBkg 

[Kst1Pdf Config]
configStr = AddPdf "Kst1 Pdf"
Comps = realKst1Pdf sxfKst1Pdf
Coeffs = frac1R
frac1R = .707 C // from #McTruth/#total - for long = trans=.754
             // In principle, you should be able to float this fraction
             // in your final ml fit.
pdfFit = no
[realKst1Pdf Config]
configStr = ProdPdf "Real K*1 Pdf"
Comps = deKst1R mesKst1R fisKst1R mOKst1R mKpi1R heliKst1R
fitData = sig1MCR
[sxfKst1Pdf Config]
configStr = ProdPdf "Sxf K*1 Pdf"
Comps = deKst1X mesKst1X fisKst1X mOKst1X mKpi1X heliKst1X
fitData = sig1MCX

[Kst0Pdf Config]
configStr = ProdPdf "All K*0 Pdf"
Comps = deKst0 mesKst0 fisKst0 mOKst0 hOKst0 mKpi0 hKpi0
fitData = sig0MC

[Kst2Pdf Config]
configStr = AddPdf "Kst2 Pdf"
Comps = realKst2Pdf sxfKst2Pdf
Coeffs = frac2R
frac2R = .733 C // from #McTruth/#total for longMC - trans is 0.6901
             // In principle, you should be able to float this fraction
             // in your final ml fit.
pdfFit = no
[realKst2Pdf Config]
configStr = ProdPdf "Real K*2 Pdf"
Comps = deKst2R mesKst2R fisKst2R mOKst2R mKpi2R heliKst2R
fitData = sig2MCR
[sxfKst2Pdf Config]
configStr = ProdPdf "Sxf K*2 Pdf"
Comps = deKst2X mesKst2X fisKst2X mOKst2X mKpi2X heliKst2X
fitData = sig2MCX

[SigPdf Config]
configStr = AddPdf "Total Kst Sig Pdf"
Comps = Kst1Pdf Kst0Pdf Kst2Pdf
Coeffs = frac1S frac0S
// Fractions are the amounts of each of the K* resonances
frac1S = 0.05 C
frac0S = 0.70 C
pdfFit = no

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = deBkg mesBkg fisBkg mOBkg hOBkg mKpiBkg hKpiBkg
fitData = gsbData

[ChlsPdf Config]
configStr = ProdPdf "Chls Pdf"
Comps = deChls mesChls fisChls mOChls hOChls mKpiChls hKpiChls
fitData = chlsMC

[deKst1R Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02 L(0 - 0.15)
sigmaT = 0.12  L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deKst1X Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02   L(0 - 0.15)
sigmaT = 0.12   L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deKst0 Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02 L(0 - 0.15)
sigmaT = 0.12  L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deKst2R Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02 L(0 - 0.15)
sigmaT = 0.12  L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deKst2X Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.15 - .15)
sigmaC = 0.02   L(0 - 0.15)
sigmaT = 0.20   L(0 - 0.5)
fracC = 0.4   L(0.2 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deBkg Config]
configStr = Chebychev // PREVIOUSLY POLYNOMIAL
x = de
nOrder = 2
P01 = 0.0 L(-1 - 1)
P02 = 0.0 L(-1 - 1)
postPdfFloat = P01 P02

[deChls Config]
configStr = AddPdf
Comps = deChlsTG deChlsG
Coeffs = fracG
fracG = T "f_{G}" 0.6 L(0. - 1.0)
[deChlsTG Config]
configStr = TwoGauss
x = de
meanC  =  0.01 L(-1.0 - .3)
meanT  = -0.04 L(-.3 - .3)
sigmaC =  0.1 L(0 - 0.5)
sigmaT =  0.3 L(0. - 0.5)
fracC  =  0.75 L(0.0 - 1.0)
[deChlsG Config]
configStr = Gaussian
x = de
mean  =  0.01 L(-1.0 - .3)
sigma = 0.01 L(0. - 0.15)

[mesKst1R Config]
configStr = TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = 0.0 C L(-.1 - .1)
scale = 1.0 C L(0.8 - 1.2)

[mesKst1X Config]
configStr = AddPdf
Comps = mes1XC mes1XT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[mes1XC Config]
configStr =  TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = mesKst1X_shift  0.0 C L(-.1 - .1)
[mes1XT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-90. - -0.1)

[mesKst0 Config]
configStr = TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = 0.0 C L(-.1 - .1)
scale = 1.0 C L(0.8 - 1.2)

[mesKst2R Config]
configStr = TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = 0.0 C L(-.1 - .1)
scale = 1.0 C L(0.8 - 1.2)

[mesKst2X Config]
configStr = AddPdf
Comps = mes2XC mes2XT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[mes2XC Config]
configStr =  TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = mesKst2X_shift  0.0 C L(-.1 - .1)
[mes2XT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-90. - -0.1)

[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-80. - -0.1)
postPdfFloat = c

[mesChls Config]
configStr = AddPdf
Comps = mesChlsC mesChlsT
Coeffs = fracC
fracC = T "f_{C}" 0.2 L(0. - 1.0)
[mesChlsC Config]
configStr = Gaussian
x = mes
mean  = 5.28 L(5.25 - 5.2893)
sigma = 0.01 L(0 - 0.15)
[mesChlsT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-200. - -0.1)

[fisKst1R Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisKst1X Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisKst0 Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisKst2R Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisKst2X Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"    0.8 L(-1. - 2.)
sigma =T "#sigma_{T}" 2.0 L(0. - 5.)

[fisChls Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)

[mOKst1R Config]
configStr = TwoGauss
x = mOmega
meanC = 0.782 L(0.76 - 0.80)
meanT = 0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0. - 0.01)
sigmaT = 0.02 L(0. - .1)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC =  0.6 L(0. - 1.)

[mOKst1X Config]
configStr = AddPdf
Comps = mO1sxfGaus mO1sxfPoly
Coeffs = FracS
FracS = T "f_{S}" 0.5 L(0 - 1.)
[mO1sxfGaus Config]
configStr = Gaussian
x = mOmega
mean = 0.782 L(0.77 - 0.80)
sigma = 0.01 L(0. - 0.05)
shift = 0.0 C L(-.1 - 0.1)
[mO1sxfPoly Config]
configStr = Polynomial
x = mOmega
nOrder = 2
P01 = -3 L(-100 - 100)
P02 = -2 L(-100 - 100)

[mOKst0 Config]
configStr = TwoGauss
x = mOmega
meanC = 0.782 L(0.76 - 0.80)
meanT = 0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0. - 0.01)
sigmaT = 0.02 L(0. - .1)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC =  0.6 L(0. - 1.)

[mOKst2R Config]
configStr = TwoGauss
x = mOmega
meanC = 0.782 L(0.76 - 0.80)
meanT = 0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0. - 0.01)
sigmaT = 0.02 L(0. - .1)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC =  0.6 L(0. - 1.)

[mOKst2X Config]
configStr = AddPdf
Comps = mO2sxfGaus mO2sxfPoly
Coeffs = FracS
FracS = T "f_{S}" 0.5 L(0 - 1.)
[mO2sxfGaus Config]
configStr = Gaussian
x = mOmega
mean = 0.782 L(0.77 - 0.80)
sigma = 0.01 L(0. - 0.05)
shift = 0.0 C L(-.1 - 0.1)
[mO2sxfPoly Config]
configStr = Polynomial
x = mOmega
nOrder = 2
P01 = -3 L(-100 - 100)
P02 = -2 L(-100 - 100)

[mOBkg Config]
configStr = AddPdf
Comps = mOKst0 mOPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mOKst0 mOKst0_shiftR 0.0008 mOKst0_scale 0.97
postPdfFloat = FracS
[mOPolyBkg Config]
configStr = Chebychev
x = mOmega
nOrder = 2
P01 = 0.2 L(-100 - 100)
P02 = -0.02 L(-100 - 100)
postPdfFloat = P01 

[mOChls Config]
configStr = AddPdf
Comps = mOChlsC mOChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.1 - 1.0)
[mOChlsC Config]
configStr = Gaussian
x = mOmega
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mOChlsT Config]
configStr = Chebychev
x = mOmega
nOrder = 1
P01 = 0.1 L(-10 - 10)
//P02 = -0.6 L(-10 - 10)
//P03 = 0.0 L(-10 - 10)

[heliKst1R Config]
configStr = AddPdf
Comps = heliLKst1R heliTKst1R
Coeffs = fL1raw
fL1raw = fL1raw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL1 eff1LR eff1TR
fL1   = fL1 "f_{L1}" 0.5  L(0. - 1.5)
eff1LR = eff1LR 0.0645 C // eff1LR = effL*frac1R
eff1TR = eff1TR 0.0778 C //These are for truth only //eff1TR=eff1T*frac1R
prePdfFix = fL1 .5 // fix fL1 to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
postPdfFloat = fL1
[heliLKst1R Config]
configStr = ProdPdf
Comps = oHeli1LR kHeli1LR
fitData = sig1LMCR
[heliTKst1R Config]
configStr = ProdPdf
Comps = oHeli1TR kHeli1TR
fitData = sig1TMCR
[oHeli1LR Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmega1AccptR
hOmega1AccptR = hOmega1AccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-10 - 10)
c2 = T "c2_{#omega}" 0.3 L(-1 - 1)
c3 = T "c3_{#omega}" 0 C L(-10 - 10)
c4 = T "c4_{#omega}" -0.2 L(-1 - 1)
[oHeli1TR Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmega1AccptR
[kHeli1LR Config]
configStr = Generic
formula = "@0*@0*@1" hKstar hKst1AccptR
hKst1AccptR = hKst1AccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hKstar c1 c2 c3 c4
c1 = T "c1_{K*}" 0.1 L(-1 - 1)
c2 = T "c2_{K*}" -1 L(-2 - 1)
c3 = T "c3_{K*}" 0 L(-1 - 1)
c4 = T "c4_{K*}" 0 L(-0.5 - 1)
[kHeli1TR Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hKstar hKst1AccptR

[heliKst1X Config]
configStr = AddPdf
Comps = heliLKst1X heliTKst1X
Coeffs = fL1rawX
fL1rawX = fL1rawX RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL1X eff1LX eff1TX
fL1X   = fL1X "f_{L1X}" 0.5 L(0. - 1.5)
eff1LX = eff1LX 0.0267   //eff1LX = eff1LX 0.0150 C //REMOVED C///eff1LX=eff1L*(1-frac1R)
eff1TX = eff1TX 0.0323  //eff1TX=eff1T*(1-frac1R)
prePdfFix = fL1X .5 // fix fL1X to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
[heliLKst1X Config]
configStr = ProdPdf
Comps = oHeli1LX kHeli1LX
fitData = sig1LMCX
[heliTKst1X Config]
configStr = ProdPdf
Comps = oHeli1TX kHeli1TX
fitData = sig1TMCX
[oHeli1LX Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmega1AccptX
hOmega1AccptX = hOmega1AccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-1 - 1)
c2 = T "c2_{#omega}" -0.2 L(-1 - 1)
c3 = T "c3_{#omega}" 0 C L(-1 - 1)
c4 = T "c4_{#omega}" -0.1 L(-1 - 1)
[oHeli1TX Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmega1AccptX
[kHeli1LX Config]	  //CHANGED TO FIX HELICITY PLOTS
configStr = Generic
formula = "@0*@0*@1" hKstar hKst1AccptX
hKst1AccptX = hKst1AccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hKstar c1 c2 c3 c4
c1 = T "c1_{K*}"  0.7 L(-1 - 2) 
c2 = T "c2_{K*}"  0.0 L(-1 - 1)
c3 = T "c3_{K*}" -5.9 L(-8 - 0)
c4 = T "c4_{K*}"  5.0 L( 0 - 7)
[kHeli1TX Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hKstar hKst1AccptX

[hOKst0 Config]
configStr = Polynomial
x = hOmega
nOrder = 2
P01 =  10.0   L(-100 - 100) 
P02 = 900.0   L(0 - 1000) 

[hKpi0 Config]
configStr = AddPdf
Comps = heliKst0C heliKst0T
Coeffs = FracC
FracC = T "f_{C}" 1.0 C L(0.6 - 1.0)
[heliKst0C Config]
configStr = Chebychev
x = hKstar
nOrder = 2
P01 =  0.0 L(-1 - 1) 
P02 =  0.0 L(-1 - 1) 
[heliKst0T Config]
configStr = Gaussian
x = hKstar
mean = 1.0 C L (0.5 - 1.5)
sigma = 0.2 C L(0 - 0.5)

[heliKst2R Config]
configStr = AddPdf
Comps = heliLKst2R heliTKst2R
Coeffs = fL2raw
fL2raw = fL2raw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL2 eff2LR eff2TR
fL2   = fL2 "f_{L2}" 0.5  L(0. - 1.5)
eff2LR = eff2LR 0.0579 C // eff2LR = eff2L*frac2R
eff2TR = eff2TR 0.0628 C //These are for truth only //eff2TR=eff2T*frac2R
prePdfFix = fL2 .5 // fix fL2 to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
postPdfFloat = fL2
[heliLKst2R Config]
configStr = ProdPdf
Comps = oHeli2LR kHeli2LR
fitData = sig2LMCR
[heliTKst2R Config]
configStr = ProdPdf
Comps = oHeli2TR kHeli2TR
fitData = sig2TMCR
[oHeli2LR Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmega2AccptR
hOmega2AccptR = hOmega2AccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-10 - 10)
c2 = T "c2_{#omega}" 1.0 L(-1 - 3)
c3 = T "c3_{#omega}" 0 C L(-10 - 10)
c4 = T "c4_{#omega}" -0.5 L(-1 - 1)
[oHeli2TR Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmega2AccptR
[kHeli2LR Config]
configStr = Generic
formula = "(3*@0*@0-1)**2*@1" hKstar hKst2AccptR
hKst2AccptR = hKst2AccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hKstar c1 c2 c3 c4
c1 = T "c1_{K*}"  0.0 L(-1 - 1)
c2 = T "c2_{K*}" -0.3 L(-1 - 1)
c3 = T "c3_{K*}"  0.1 L(-1 - 1)
c4 = T "c4_{K*}"  0.0 L(-1 - 1)
[kHeli2TR Config]
configStr = Generic
formula = "@0*@0*(1-@0*@0)*@1" hKstar hKst2AccptR

[heliKst2X Config]
configStr = AddPdf
Comps = heliLKst2X heliTKst2X
Coeffs = fL2rawX
fL2rawX = fL2rawX RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL2X eff2LX eff2TX
fL2X   = fL2X "f_{L2X}" 0.5  L(0. - 1.5)
eff2LX = eff2LX 0.0211 C // eff2LX = eff2L*frac2X
eff2TX = eff2TX 0.0229 C //These are for truth only //eff2TX=eff2T*frac2X
prePdfFix = fL2X .5 // fix fL2X to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
[heliLKst2X Config]
configStr = ProdPdf
Comps = oHeli2LX kHeli2LX
fitData = sig2LMCX
[heliTKst2X Config]
configStr = ProdPdf
Comps = oHeli2TX kHeli2TX
fitData = sig2TMCX
[oHeli2LX Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmega2AccptX
hOmega2AccptX = hOmega2AccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-10 - 10)
c2 = T "c2_{#omega}" -0.15 L(-1 - 2)
c3 = T "c3_{#omega}" 0 C L(-10 - 10)
c4 = T "c4_{#omega}" -0.23 L(-1 - 1)
[oHeli2TX Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmega2AccptX
[kHeli2LX Config]
configStr = Generic
formula = "(3*@0*@0-1)**2*@1" hKstar hKst2AccptX
hKst2AccptX = hKst2AccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hKstar c1 c2 c3 c4
c1 = T "c1_{K*}"  0.4 L(-10 - 10)
c2 = T "c2_{K*}"  4   L(-0.5 - 10.0)
c3 = T "c3_{K*}" -5   L(-10 - 10)
c4 = T "c4_{K*}"  3   L(-0.5 - 5.0)
[kHeli2TX Config]
configStr = Generic
formula = "@0*@0*(1-@0*@0)*@1" hKstar hKst2AccptX

[hOBkg Config]
configStr = Chebychev
x = hOmega
nOrder = 4 // CHANGED FROM 4
P01 =  -0.2   L(-1 - 1) 
P02 =  -0.1   L(-1 - 1) 
P03 =  0.0  L(-1 - 1)
P04 =  0.0   L(-1 - 1)
//P05 =  0.0   L(-10 - 10)
//P06 =  70.  L(-10 - 10)

[hOChls Config]
configStr = Chebychev
x = hOmega
nOrder = 2
P01 =  1.0  L(-5 - 5) 
P02 =  0.   L(-5 - 5)
//P03 =  0.0   L(-10 - 10)// extra two polys
//P04 =  70.  L(-10 - 10)//

[mKpi1R Config]
configStr = TwoGauss
x = mKstar
meanC = 0.890 L(0.8 - 1.0)
meanT = 0.850 L(0.7 - 1.0)
sigmaC = 0.05 L(0. - 0.2)
sigmaT = 0.2 L(0. - .5)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC = 0.7  L(0. - 1.)

[mKpi1X Config]
configStr = TwoGauss
x = mKstar
meanC = 0.722 L(0.8 - 1.0)
meanT = 0.760 L(0.7 - 1.0)
sigmaC = 0.05 L(0. - 0.2)
sigmaT = 0.2 L(0. - .5)
shift = 0.0 C L(-.1 - 0.1)
fracC = 0.6  L(0. - 1.)

[mKpi0 Config]
configStr = TwoGauss
x = mKstar
meanC = 1.3 L(0.75 - 1.45)
meanT = 1.0 L(0.75 - 1.45)
sigmaC = 0.10 L(0. - 0.2)
sigmaT = 0.2 L(0. - .4)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC = 0.4  L(0.2 - 0.5)

[mKpi2R Config]
configStr = CBShape  // Crystal Ball shape
x = mKstar
mean =  1.4  L(1.20  - 2.0)
sigma = 0.07 L(0.02  - 0.20)
alpha = 1.4  L(0.1   - 10.0)
n =     5.0  L(0.1   - 10.0)

[mKpi2X Config]
configStr = AddPdf
Comps = mKpi2XC mKpi2XP
Coeffs = fracC
fracC = T "f_{C}" 0.6 L(0. - 1.0)
[mKpi2XC Config]
configStr = CBShape  // Crystal Ball shape
x = mKstar
mean =  1.4  L(1.35 - 1.5)
sigma = 0.07 L(0.02 - 0.20)
alpha = 1.5  L(0.1  - 10.0)
n =     1.0  L(0.1  - 10.0)
[mKpi2XP Config]
configStr = Polynomial
x = mKstar
nOrder = 2
P01 = 0 L(-10 - 10)
P02 = 0 L(-10 - 10)

[mKpiBkg Config]
configStr = AddPdf
Comps = mKpi1R mKpiPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mKpi1R
postPdfFloat = FracS
[mKpiPolyBkg Config]
configStr = Chebychev
x = mKstar
nOrder = 3
P01 = 0.0 L(-10 - 10)
P02 = 0.0 L(-10 - 10)
P03 = 0.0 L(-10 - 10)
postPdfFloat = P01

[mKpiChls Config]
configStr = AddPdf
Comps = mKpi1R mKpiChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.1 - 0.5)
prePdfFix = mKpi1R
//postPdfFloat = FracC
[mKpiChlsC Config]
configStr = Gaussian
x = mKstar
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mKpiChlsT Config]
configStr = Chebychev
x = mKstar
nOrder = 3
P01 =  0.3 L(-1 - 1)
P02 = -0.6 L(-1 - 1)
P03 =  0.0 L(-1 - 1)

[hKpiBkg Config] 
configStr = Polynomial
x = hKstar
nOrder = 6 
P01 =  0.0   L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0.0   L(-100 - 100)
P04 =  70.  L(-100 - 100)
P05 =  0.0   L(-100 - 100)
P06 =  70.  L(-100 - 100)

[hKpiChls Config] 
configStr = Polynomial
x = hKstar
nOrder = 6 
P01 =  0.0  L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0.0  L(-100 - 100)
P04 =  70.  L(-100 - 100)
P05 =  0.0  L(-100 - 100)
P06 =  70.  L(-100 - 100)

[PdfAct]
// pdfFit options
pdfFit = yes
  //pdfToFit = mKpiBkg
//pdfToFit = mesKst1
//pdfToFit =  rHMBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put values you want to fix to the control sample, or for any reason
deKst0_scale =  1.000 C L(0.96 - 1.04)
deKst0_shift =  0.004 C L(0.002 - 0.006)
deKst1R_scale =  1.000 C L(0.96 - 1.04)
deKst1R_shift =  0.004 C L(0.002 - 0.006)
deKst1X_scale =  1.000 C L(0.96 - 1.04)
deKst1X_shift =  0.004 C L(0.002 - 0.006)
deKst2R_scale =  1.000 C L(0.96 - 1.04)
deKst2R_shift =  0.004 C L(0.002 - 0.006)
deKst2X_scale =  1.000 C L(0.96 - 1.04)
deKst2X_shift =  0.004 C L(0.002 - 0.006)
mesKst0_shift = -0.0004 C L(-0.0008 - 0.0)
mesKst0_scale = 1.09 C L(1.04 - 1.13)
mesKst1R_shift = -0.0004 C L(-0.0008 - 0.0)
mesKst1R_scale = 1.09 C L(1.04 - 1.13)
mesKst2R_shift = -0.0004 C L(-0.0008 - 0.0)
mesKst2R_scale = 1.09 C L(1.04 - 1.13)
mOKst0_shift = 0.0008 C L(-0.1 - 0.1)
mOKst0_scale = 0.97  C L(0.8 - 1.2)
mOKst1R_shift = 0.0008 C L(-0.1 - 0.1)
mOKst1R_scale = 0.97  C L(0.8 - 1.2)
mOKst1X_shift = 0.0008 C L(-0.1 - 0.1)
mOKst2R_shift = 0.0008 C L(-0.1 - 0.1)
mOKst2R_scale = 0.97  C L(0.8 - 1.2)
mOKst2X_shift = 0.0008 C L(-0.1 - 0.1)
//fL = 0.9 C THIS FLOATS THIS PARAMETER

[MLAct]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
// Comment next line to run MINOS
mlFitOption = emhr
fL1X=0.32 C
fL2X=0.55 C
//Kst1Pdf_frac1R = 0.746
//Kst2Pdf_frac2R = 0.760
preMLReadParams = yes
postMLWriteParams = yes
postMLSignf = measBR1 measBR0 measBR2

[AcpVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
fL1X=0.32 C
fL2X=0.55 C
Frac_nChls_chgCat_Plus = 0.45 C

[BBVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
fL1X=0.32 C
fL2X=0.55 C
postMLSysVars = nKst1 nKst0 nKst2 fL1 fL2 Frac_nKst1_chgCat_Plus Frac_nKst0_chgCat_Plus Frac_nKst2_chgCat_Plus
postMLSysParams = nChls 30V

[PdfVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
fL1X=0.32 C
fL2X=0.55 C
postMLSysVars = nKst1 nKst0 nKst2 fL1 fL2 Frac_nKst1_chgCat_Plus Frac_nKst0_chgCat_Plus Frac_nKst2_chgCat_Plus
postMLSysParams =   deKst0_scale .04V deKst0_shift .002V   \\
 deKst1R_scale .04V deKst2R_scale .04V deKst1R_shift .002V deKst2R_shift .002V\\
 deKst1X_scale .04V deKst2X_scale .04V deKst1X_shift .002V deKst2X_shift .002V\\
 mesKst0_scale 0.04V mesKst0_shift .0004V \\
 mesKst1R_scale 0.04V mesKst2R_scale 0.04V mesKst1R_shift .0004V mesKst2R_shift 0.004V \\
  fisKst0_asym 0.01V fisKst0_mean 0.03V fisKst0_rms 0.01V \\
  fisKst1R_asym 0.01V fisKst1R_mean 0.03V fisKst1R_rms 0.01V \\
  fisKst1X_asym 0.01V fisKst1X_mean 0.03V fisKst1X_rms 0.01V \\
  fisKst2R_asym 0.01V fisKst2R_mean 0.03V fisKst2R_rms 0.01V \\
  fisKst2X_asym 0.01V fisKst2X_mean 0.03V fisKst2X_rms 0.01V \\
  mOKst0_scale .02V mOKst0_shift .0001V \\
  mOKst1R_scale .02V mOKst1R_shift .0001V mOKst1X_shift .0001V \\
  mOKst2R_scale .02V mOKst2R_shift .0001V mOKst2X_shift .0001V


[MLAct14]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData on14
mlFitData = on14
// mlFit options
mlFit = yes
//mlFitOption = emhr
fL1=0.9 C
fL1X=0.9 C
fL2X=0.9 C
nChls=50 C //FIXING CHARMLESS TO FLOAT PUT nKst1 INTO postPdfFloat
preMLReadParams = yes
postMLWriteParams = yes
postMLSignf = measBR1 measBR0 measBR2
  //postMLSysParams = nKst1 160V 0V
  //postMLSysVars = nKst0 nKst2

[ToyParams]
deKst0_scale =  1.0 C L(0.8 - 1.2)
deKst0_shift =  0.0 C L(-.1 - .1)
deKst1R_scale =  1.0 C L(0.8 - 1.2)
deKst1R_shift =  0.0 C L(-.1 - .1)
deKst1X_scale =  1.0 C L(0.8 - 1.2)
deKst1X_shift =  0.0 C L(-.1 - .1)
deKst2R_scale =  1.0 C L(0.8 - 1.2)
deKst2R_shift =  0.0 C L(-.1 - .1)
deKst2X_scale =  1.0 C L(0.8 - 1.2)
deKst2X_shift =  0.0 C L(-.1 - .1)
mesKst0_shift = 0.0 C L(-.1 - .1)
mesKst0_scale =  1.0 C L(0.8 - 1.2)
mesKst1R_shift = 0.0 C L(-.1 - .1)
mesKst1R_scale =  1.0 C L(0.8 - 1.2)
mesKst1X_shift = 0.0 C L(-.1 - .1)
mesKst2R_shift = 0.0 C L(-.1 - .1)
mesKst2R_scale =  1.0 C L(0.8 - 1.2)
mesKst2X_shift = 0.0 C L(-.1 - .1)
mOKst1R_shift = 0.0 C L(-0.1 - 0.1)
mOKst1R_scale = 1.0 C L(0.8 - 1.2)
mOKst1X_shift = 0.0 C L(-0.1 - 0.1)
mOKst2R_shift = 0.0 C L(-0.1 - 0.1)
mOKst2R_scale = 1.0 C L(0.8 - 1.2)
mOKst2X_shift = 0.0 C L(-0.1 - 0.1)
//fL = 0.9 THIS FLOATS THIS PARAMETER


[eToyAct]
toyStudy = yes
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
  //toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
fL1   = 0.9  C L(0. - 1.5) 
fL1X  = 0.9  C L(0. - 1.5)
fL2   = 0.55 L(0. - 1.5)  
fL2X  = 0.55 C L(0. - 1.5)
eff1L = eff1L 0.091 C //change if you change cuts/mode
eff1T = eff1T 0.110 C //change if you change cuts/mode
eff2L = eff2L 0.079 C //change if you change cuts/mode
eff2T = eff2T 0.086 C //change if you change cuts/mode
fL1raw = fL1raw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL1 eff1L eff1T
fL2raw = fL2raw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL2 eff2L eff2T
nKst1 =  0   L(-300 - 3000) 
//nKst1 =  55   L(-300 - 3000) 
nKst0 = 170   L(-100 - 2000)
nKst2 = 160   L(-100 - 2000)
nChls = 100 C L(-100 - 2000)
toySrc_nKst1 = sig1LMC "@0*@1     nKst1 fL1raw" \\
              sig1TMC "@0*(1-@1) nKst1 fL1raw" 
toySrc_nKst0 = sig0MC 170  // nKst0 embed
toySrc_nKst2 = sig2LMC "@0*@1     nKst2 fL2raw" \\
              sig2TMC "@0*(1-@1) nKst2 fL2raw" 
toySrc_nChls = chlsMC 100  // nChls embed
preToyReadSecParams = ToyParams

[pToyAct]
// toy options
toyStudy = yes
preToyReadParams = A pdfFit
preToyReadSecParams = yes // override params listed here
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
toySrc_nKst1 = pdf 40
toySrc_nKst0 = pdf 250
toySrc_nKst2 = pdf 100
toySrc_nChls = pdf 100
toySrc_nBkg = pdf 42114

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all //nBkg
sPlotVars = mes de fisher mOmega mKstar hOmega hKstar
//sPlotIgnoredVars_mOmega = hOmega hKstar mKstar
//sPlotIgnoredVars_hOmega = hKstar mOmega mKstar
//sPlotIgnoredVars_mKstar = hOmega hKstar mOmega
//sPlotIgnoredVars_hKstar = hOmega mOmega mKstar
plotBins_mes = 16
plotBins_de = 10
plotBins_fisher = 18
plotBins_mOmega = 9
plotBins_mKstar = 16
plotBins_hOmega = 10
plotBins_hKstar = 9

[SPlotAct14]
// sPlot options
sPlot = yes
sPlotData = on14
sPlotComps = all //nBkg
sPlotVars = mes de fisher mOmega mKstar hOmega hKstar
//sPlotIgnoredVars_mOmega = hOmega hKstar mKstar
//sPlotIgnoredVars_hOmega = hKstar mOmega mKstar
//sPlotIgnoredVars_mKstar = hOmega hKstar mOmega
//sPlotIgnoredVars_hKstar = hOmega mOmega mKstar
plotBins_mes = 16
plotBins_de = 10
plotBins_fisher = 18
plotBins_mOmega = 9
plotBins_mKstar = 16
plotBins_hOmega = 10
plotBins_hKstar = 9

[Br1Scan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR1 0 10
nScanPoints = 20

[Br0Scan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
nScanPoints = 25
scanVars = measBR0 0 50

[Br2Scan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
nScanPoints = 20
scanVars = measBR2 0 40

[A0Scan]
scanPlot = yes
scanPlotData = onData
scanVars = Frac_nKst0_chgCat_Plus 0. 1.
nScanPoints = 20

[A1Scan]
scanPlot = yes
scanPlotData = onData
scanVars = Frac_nKst1_chgCat_Plus 0. 1.
nScanPoints = 20

[A2Scan]
scanPlot = yes
scanPlotData = onData
scanVars = Frac_nKst2_chgCat_Plus 0. 1.
nScanPoints = 20

[fL1Scan]
scanPlot = yes
scanPlotData = onData
scanVars = fL1 0. 1.
nScanPoints = 20

[fL2Scan]
scanPlot = yes
scanPlotData = onData
scanVars = fL2 0. 1.
nScanPoints = 20

[Kst1ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = Kst1Pdf 
projLLRPlots = yes
projVars = mes de fisher mOmega mKstar hOmega hKstar
projLRatioCut = .97
projLRatioCut_mes = .81
projLRatioCut_de = .81
projLRatioCut_fisher = .87
projLRatioCut_mOmega = .88
projLRatioCut_mKstar = .96
projLRatioCut_hOmega = .92
projLRatioCut_hKstar = .92
//projLRatioCut_mes = .968
//projLRatioCut_de = .975
//projLRatioCut_fisher = .98
//projLRatioCut_mOmega = .98
//projLRatioCut_mKstar = .96
//projLRatioCut_hOmega = .985
//projLRatioCut_hKstar = .985
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
plotBins_mOmega = 16
plotBins_mKstar = 16
plotBins_hOmega = 10
plotBins_hKstar = 9
//projFindOptimCut = yes
//projOptimStep = .001
//projOptimData = ProjSMC
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_mKstar = "0.75<mKstar<1.5"
projOptimRange_hOmega = "hOmega>0.2"
projOptimRange_hKstar = "abs(hKstar)>0.2"

[Kst0ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = Kst0Pdf 
projLLRPlots = yes
projVars = mes de fisher mOmega mKstar hOmega hKstar
projLRatioCut = .97
projLRatioCut_mes = .81
projLRatioCut_de = .81
projLRatioCut_fisher = .87
projLRatioCut_mOmega = .88
projLRatioCut_mKstar = .96
projLRatioCut_hOmega = .92
projLRatioCut_hKstar = .92
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
plotBins_mOmega = 16
plotBins_mKstar = 16
plotBins_hOmega = 10
plotBins_hKstar = 9
//projFindOptimCut = yes
//projOptimStep = .001
//projOptimData = ProjSMC
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_mKstar = "0.75<mKstar<1.5"
projOptimRange_hOmega = "hOmega>0.2"
projOptimRange_hKstar = "abs(hKstar)>0.2"

[Kst2ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = Kst2Pdf 
projLLRPlots = yes
projVars = mes de fisher mOmega mKstar hOmega hKstar
projLRatioCut = .97
projLRatioCut_mes = .81
projLRatioCut_de = .81
projLRatioCut_fisher = .87
projLRatioCut_mOmega = .88
projLRatioCut_mKstar = .96
projLRatioCut_hOmega = .92
projLRatioCut_hKstar = .92
plotBins_mes = 16
plotBins_de = 20
plotBins_fisher = 36
plotBins_mOmega = 16
plotBins_mKstar = 16
plotBins_hOmega = 10
plotBins_hKstar = 9
//projFindOptimCut = yes
//projOptimStep = .001
//projOptimData = ProjSMC
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_mKstar = "0.75<mKstar<1.5"
projOptimRange_hOmega = "hOmega>0.2"
projOptimRange_hKstar = "abs(hKstar)>0.2"
