[Dataset Definition]
include dsd_omegarho.config
bDecayMode = RooCategory "B Decay Mode" useIdx "B0->omegaRho0,Rho0->pi+pi-" 5110
hRho = RooRealVar "H_{#rho}" 0 0.8 B(16)

[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigLMC sigTMC chlsMC chrmMC onData on14 \\
           sigMC sigLMCR sigTMCR sigLMCX sigTMCX sigMCR sigMCX \\
           gsbData desbData f0MC f0MCR f0MCX ProjSMC

sigLMC   = ascii "sigL MC Data" "jake/mydats/omegarho0_long_sigmc.text"  // quiet mode
sigTMC   = ascii "sigT MC Data" "jake/mydats/omegarho0_trans_sigmc.text" Q // quiet mode
chlsMC   = ascii "peaking BB Data" "jake/mydats/omegarho0_BBbarBG.txt" Q
chrmMC   = ascii "b->c MC" "mydats/omegarho0_charm.text"
onData   = ascii "onpeak Data" "mydats/omegarho0_ondata16.text" Q
//on14     = ascii "onpeak Data 14" "jake/mydats/omegarho0_ondata14.text" Q
sigMC    = add "L+T full MC" sigLMC 0 sigTMC 0
sigMCR   = reduce "L+T real signal" sigMC  "mcTruth==0"
sigMCX   = reduce "L+T SXF signal" sigMC  "mcTruth==1"
ProjSMC  = add "L*fLraw+T(1-fLraw)  MC" sigLMC 0.93 sigTMC 0.07
sigLMCR   = reduce "real L signal" sigLMC  "mcTruth==0"
sigTMCR   = reduce "real T signal" sigTMC  "mcTruth==0"
sigLMCX   = reduce "SXF L signal" sigLMC  "mcTruth==1"
sigTMCX   = reduce "SXF T signal" sigTMC  "mcTruth==1"
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
f0MC     = ascii "epp f0 MC" "jake/mydats/omegarho0_6675MC.text"
f0MCR    = reduce "f0 real signal" f0MC  "mcTruth==0"
f0MCX    = reduce "f0 SXF signal" f0MC  "mcTruth==1"


on14     = reduce "Run14 Data" onData "runNum<53000" Q // the old way

ub_onData = 300af15b5a24812d10b0b07595c9adea 4697ede06cc192a51ec62fa4ecaf539f

ub_on14   = f8c8fa85e7c0989f615471b7ac83e953 

tabulateDatasets = yes



[mlFitter Config]
Comps = NModel
fitData = onData
//simultaneousFit = yes
//yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = the_NModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
//splitCats = chgCat(Minus,Plus)
//protDataVars = chgCat // list all splitCats here
//the_NModel  = chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nNonRes_chgCat[Minus]
//postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus
preMLReadParams = C "mlFitter Config"

[mlFitter14]
Comps = NModel
fitData = on14
//simultaneousFit = yes
//yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = the_NModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
//splitCats = chgCat(Minus,Plus)
//protDataVars = chgCat // list all splitCats here
//the_NModel  = chgCat : Frac_nSig_chgCat[Minus], Frac_nBkg_chgCat[Minus], Frac_nChls_chgCat[Minus], Frac_nNonRes_chgCat[Minus]
//postPdfFloat = Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus Frac_nChls_chgCat_Plus
preMLReadParams = C "mlFitter Config"




[BRFit]
Comps = BRModel
fitData = onData
preMLReadParams = C "mlFitter Config"

[BRFit14]
Comps = BRModel14
// dataset to fit
fitData = on14
preMLReadParams = C "mlFitter Config"

[NModel Config]
configStr = MLPdf "ml model"
Comps = SigPdf  F0Pdf BkgPdf ChlsPdf ChrmPdf
Coeffs = nSig nF0 nBkg nChls nChrm
nBkg = nBkg 26664 L(0 - 80000)
nSig = nSig    25 L(-100 -  3000)
nChls= nChls  166 C L(-100 - 2000)
//nChrm= nChrm 2813 C L(-300 - 4000)
nChrm= nChrm 2813 L(-300 - 4000)
nF0 = nF0 35 L(-50. - 2000)
//postPdfFloat = nSig  nBkg nF0 //nChrm
postPdfFloat = nSig  nBkg nF0 nChrm
xtraPdfs =  realSigPdf sxfSigPdf realF0Pdf sxfF0Pdf

[BRModel Config]
configStr = MLPdf "ml model"
Comps = SigPdf BkgPdf ChlsPdf F0Pdf ChrmPdf
Coeffs = nSig nBkg nChls nF0 nChrm
nBkg = nBkg  26664 L(0 - 80000)
nChls= nChls   166 C L(-10 - 2000)
nChrm= nChrm  2813 L(-300 - 4000)
nF0 = nF0 RooFormulaVar "@0*@1*@2*@3+@4" FBR nBB FprodBR Feff FfitBias
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 0 L(-20 - 100)
FBR = FBR 1 L(-20 - 100)
nBB = nBB RooConstVar "nBB" 465.0 // run1~6
prodBR = prodBR RooConstVar "prodBR" 0.891
fitBias = fitBias RooConstVar "fitBias" -2.8
FprodBR = FprodBR RooConstVar "FprodBR" 0.594
FfitBias = fitBias RooConstVar "FfitBias" 1.4
Feff= Feff  RooConstVar "Feff" 0.144
effcorr = RooFormulaVar "@0*@1+(1-@0)*@2" fL effL effT
// the following 3 configs should be the same as in [heliSig Config]
fL   = fL "f_{L}" 0.8 C L(0. - 1.)
effL = effL 0.0895 C //make sure to update these numbers
effT = effT 0.1502 C //
//postPdfFloat = measBR FBR nBkg //nChrm
postPdfFloat = measBR FBR nBkg nChrm
  //preMLFix =  nF0 25.5



[BRModel14 Config]
configStr = MLPdf "ml model"
Comps = SigPdf BkgPdf ChlsPdf F0Pdf
Coeffs = nSig nBkg nChls nF0
nBkg = nBkg  26664 L(0 - 80000)
nChls= nChls   84  L(-10 - 2000)
nF0 = nF0 RooFormulaVar "@0*@1*@2*@3+@4" FBR nBB FprodBR Feff FfitBias
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 0 L(-20 - 100)
FBR = FBR 1 L(-20 - 100)
nBB = nBB RooConstVar "nBB" 232.8 // run1~4
prodBR = prodBR RooConstVar "prodBR" 0.891
fitBias = fitBias RooConstVar "fitBias" -0.6
FprodBR = prodBR RooConstVar "FprodBR" 0.594
FfitBias = fitBias RooConstVar "FfitBias" 2.0
Feff= Feff  RooConstVar "Feff" 0.144
effcorr = RooFormulaVar "@0*@1+(1-@0)*@2" fL effL effT
// the following 3 configs should be the same as in [heliSig Config]
fL   = fL "f_{L}" 0.8 C L(0. - 1.)
effL = effL 0.0923 C //make sure to update these numbers
effT = effT 0.1549 C //
postPdfFloat = measBR nBkg nChls FBR
  //preMLFix =  nF0 25.5




[SigPdf Config]
configStr = AddPdf "Signal Pdf"
Comps = realSigPdf sxfSigPdf
Coeffs = fracR
fracR = .838 C // from #McTruth/#total for longMC - trans is 0.842
             // In principle, you should be able to float this fraction
             // in your final ml fit.
pdfFit = no

[realSigPdf Config]
configStr = ProdPdf "Real Signal Pdf"
Comps = deSigR mesSigR fisSigR mOSigR mRSigR heliSigR
fitData = sigMCR
                                                                                
[sxfSigPdf Config]
configStr = ProdPdf "Sxf Signal Pdf"
Comps = deSigX mesSigX fisSigX mOSigX mRSigX heliSigX
fitData = sigMCX

[F0Pdf Config]
configStr = AddPdf "f0 Pdf"
Comps = realF0Pdf sxfF0Pdf
Coeffs = fracR
fracR = .720 C // from #McTruth/#total 
             // In principle, you should be able to float this fraction
             // in your final ml fit.
pdfFit = no

[realF0Pdf Config]
configStr = ProdPdf "Real Signal Pdf"
Comps = deF0R mesF0R fisF0R mOSigR hOF0R mRF0R hRF0R
fitData = f0MCR
                                                                                
[sxfF0Pdf Config]
configStr = ProdPdf "Sxf Signal Pdf"
Comps = deF0X mesF0X fisF0X mOSigX hOF0X mRF0X hRF0X
fitData = f0MCX

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = deBkg mesBkg fisBkg mOBkg hOBkg mRBkg hRBkg
fitData = gsbData

[ChlsPdf Config]
configStr = ProdPdf "Chls Pdf"
Comps = deChls mesChls fisChls mOChls hOChls mRChls hRChls
fitData = chlsMC

[ChrmPdf Config]
configStr = ProdPdf "Chrm Pdf"
Comps = deChrm mesChrm fisChrm mOChrm hOChrm mRChrm hRChrm
fitData = chrmMC

[deSigR Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02 L(0 - 0.15)
sigmaT = 0.12  L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deSigX Config]
configStr = TwoGauss
x = de	
meanC = 0.01 L (-.1 - .1)
meanT = -0.05 L(-.1 - .1)
sigmaC = 0.02 L(0 - 0.15)
sigmaT = 0.12  L(0 - 0.3)
fracC = 0.6   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deF0R Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-.1 - .1)
meanT = -0.04  L(-.1 - .1)
sigmaC = 0.025 L(0 - 0.15)
sigmaT = 0.09  L(0 - 0.3)
fracC =  0.75  L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deF0X Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-.1 - .1)
meanT = -0.04  L(-.1 - .1)
sigmaC = 0.025 L(0 - 0.15)
sigmaT = 0.09  L(0 - 0.3)
fracC =  0.75  L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
shift = 0.0 C L(-.1 - .1)

[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 P02

[deChls Config]
configStr = AddPdf
Comps = deChlsTG deChlsG
Coeffs = fracG
fracG = T "f_{G}" 0.6 L(0. - 1.0)
[deChlsTG Config]
configStr = TwoGauss
x = de
meanC  =  0.01 L(-1.0 - .3)
meanT  = -0.04 L(-.3 - .3)
sigmaC =  0.025 L(0 - 0.5)
sigmaT =  0.3 L(0. - 0.5)
fracC  =  0.75 L(0.0 - 1.0)
[deChlsG Config]
configStr = Gaussian
x = de
mean  =  0.01 L(-1.0 - .3)
sigma = 0.01 L(0. - 0.15)

[deChrm Config]
configStr = AddPdf
Comps = deChrmC deChrmPoly
Coeffs = fracC
fracC = T "f_{C}" 0.1 L(0. - 1.0)
[deChrmC Config]
configStr = Gaussian
x = de
mean  = 0. L(-1.0 - .3)
sigma = 0.025 L(0 - 0.3)
[deChrmPoly Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)

[mesSigR Config]
configStr = TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = 0.0 C L(-.1 - .1)
scale = 1.0 C L(0.8 - 1.2)

[mesSigX Config]
configStr = AddPdf
Comps = mesXC mesXT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[mesXC Config]
configStr =  TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = mesSigX_shift 0.0 C L(-.1 - .1)
[mesXT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[mesF0R Config]
configStr = TwoGauss
x = mes
meanC =  5.28   L(5.25 - 5.2893)
meanT =  5.27   L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95   L(0.5 - 1)
shift =  0.000  C L(-.1 - .1)
scale =  1.0 C L(0.8 - 1.2)

[mesF0X Config]
configStr = AddPdf
Comps = mesXC mesXT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[mesXC Config]
configStr =  TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = mesF0X_shift 0.0 C L(-.1 - .1)
[mesXT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-80. - -0.1)
postPdfFloat = c

[mesChls Config]
configStr = AddPdf
Comps = mesChlsC mesChlsT
Coeffs = fracC
fracC = T "f_{C}" 0.6 L(0. - 1.0)
[mesChlsC Config]
configStr = Gaussian
x = mes
mean  = 5.28 L(5.25 - 5.2893)
sigma = 0.01 L(0 - 0.15)
[mesChlsT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-200. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[mesChrm Config]
configStr = AddPdf
Comps = mesChrmC mesChrmT
Coeffs = fracC
fracC = T "f_{C}" 0.1 L(0. - 1.0)
[mesChrmC Config]
configStr = Gaussian
x = mes
mean  = 5.28 L(5.27 - 5.2893)
sigma = 0.003 L(0 - 0.01)
[mesChrmT Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15. L(-200. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[fisSigR Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisSigX Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisF0R Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisF0X Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)

[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"    0.8 L(-1. - 2.)
sigma =T "#sigma_{T}" 2.0 L(0. - 5.)

[fisChls Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)

[fisChrm Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)

[mOSigR Config]
configStr = TwoGauss
x = mOmega
meanC = 0.782 L(0.76 - 0.80)
meanT = 0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0. - 0.01)
sigmaT = 0.02 L(0. - .1)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC =  0.6 L(0. - 1.)

[mOSigX Config]
configStr = AddPdf
Comps = mOsxfGaus mOsxfPoly
Coeffs = FracS
FracS = T "f_{S}" 0.5 L(0 - 1.)
[mOsxfGaus Config]
configStr = Gaussian
x = mOmega
mean = 0.782 L(0.77 - 0.80)
sigma = 0.01 L(0. - 0.05)
shift = mOSigX_shift 0.0 C L(-.1 - 0.1)
[mOsxfPoly Config]
configStr = Polynomial
x = mOmega
nOrder = 2
P01 = -3 L(-100 - 100)
P02 = -2 L(-100 - 100)

[mOBkg Config]
configStr = AddPdf
Comps = mOSigR mOPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mOSigR mOSig_shiftR 0.0008 mOSigR_scale 0.97
postPdfFloat = FracS
[mOPolyBkg Config]
configStr = Chebychev
x = mOmega
nOrder = 1
P01 = 0.2 L(-100 - 100)
//P02 = -0.02 L(-100 - 100)
postPdfFloat = P01 

[mOChls Config]
configStr = AddPdf
Comps = mOChlsC mOChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.1 - 1.0)
[mOChlsC Config]
configStr = Gaussian
x = mOmega
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mOChlsT Config]
configStr = Chebychev
x = mOmega
nOrder = 3
P01 = 0.3 L(-10 - 10)
P02 = -0.6 L(-10 - 10)
P03 = 0.0 L(-10 - 10)

[mOChrm Config]
configStr = AddPdf
Comps = mOChrmC mOChrmT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.1 - 1.0)
[mOChrmC Config]
configStr = Gaussian
x = mOmega
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mOChrmT Config]
configStr = Chebychev
x = mOmega
nOrder = 3
P01 = 0.3 L(-10 - 10)
P02 = -0.6 L(-10 - 10)
P03 = 0.0 L(-10 - 10)

[heliSigR Config]
configStr = AddPdf
Comps = heliLSigR heliTSigR
Coeffs = fLraw
fLraw = fLraw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL effLR effTR
fL   = fL "f_{L}" 0.5  L(0. - 1.)
effLR = effLR 0.0773 C //
effTR = effTR 0.1304 C //These are for truth only
prePdfFix = fL .5 // fix fL to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
[heliLSigR Config]
configStr = ProdPdf
Comps = oHeliLR rHeliLR
fitData = sigLMCR
[heliTSigR Config]
configStr = ProdPdf
Comps = oHeliTR rHeliTR
fitData = sigTMCR
[oHeliLR Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmegaAccptR
hOmegaAccptR = hOmegaAccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-10 - 10)
c2 = T "c2_{#omega}" 0 L(-1 - 1)
c3 = T "c3_{#omega}" 0 C L(-10 - 10)
c4 = T "c4_{#omega}" 0 L(-1 - 1)
[oHeliTR Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmegaAccptR
[rHeliLR Config]
configStr = Generic
formula = "@0*@0*@1" hRho hRhoAccptR
hRhoAccptR = hRhoAccptR RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hRho c1 c2 c3 c4
c1 = T "c1_{#rho}" 0 C L(-10 - 10)
c2 = T "c2_{#rho}" 0 L(-0.5 - 1)
c3 = T "c3_{#rho}" 0 C L(-10 - 10)
c4 = T "c4_{#rho}" 0 L(-0.5 - 1)
[rHeliTR Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hRho hRhoAccptR

[heliSigX Config]
configStr = AddPdf
Comps = heliLSigX heliTSigX
Coeffs = fLrawX
fLrawX = fLrawX RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fLX effLX effTX
fLX   = fLX "f_{LX}" 0.5 L(0. - 1.)
effLX = effLX 0.0150 C //
effTX = effTX 0.0244 C //These are for SXF only
prePdfFix = fLX .5 // fix fL to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
[heliLSigX Config]
configStr = ProdPdf
Comps = oHeliLX rHeliLX
fitData = sigLMCX
[heliTSigX Config]
configStr = ProdPdf
Comps = oHeliTX rHeliTX
fitData = sigTMCX
[oHeliLX Config]
configStr = Generic
formula = "@0*@0*@1"  hOmega hOmegaAccptX
hOmegaAccptX = hOmegaAccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hOmega c1 c2 c3 c4
c1 = T "c1_{#omega}" 0 C L(-10 - 10)
c2 = T "c2_{#omega}" 0 L(-10 - 10)
c3 = T "c3_{#omega}" 0 C L(-10 - 10)
c4 = T "c4_{#omega}" 0 L(-10 - 10)
[oHeliTX Config]
configStr = Generic
formula = "(1-@0*@0)*@1"  hOmega hOmegaAccptX
[rHeliLX Config]
configStr = Generic
formula = "@0*@0*@1" hRho hRhoAccptX
hRhoAccptX = hRhoAccptX RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0+@4*@0*@0*@0*@0" hRho c1 c2 c3 c4
c1 = T "c1_{#rho}" 0 C L(-10 - 10)
c2 = T "c2_{#rho}" 0 L(-10 - 10)
c3 = T "c3_{#rho}" 0 C L(-10 - 10)
c4 = T "c4_{#rho}" 0 L(-10 - 20)
[rHeliTX Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hRho hRhoAccptX

[hOF0R Config]
configStr = Polynomial
x = hOmega
nOrder = 2
P01 =  -3.5  L(-10 - 10)
P02 =  70.  L(-100 - 100)

[hOF0X Config]
configStr = Polynomial
x = hOmega
nOrder = 2
P01 =  -3.5  L(-10 - 10)
P02 =  70.  L(-100 - 100)

[hOBkg Config]
configStr = Polynomial
x = hOmega
nOrder = 2
P01 =  0.  C L(-10 - 10)
P02 = -1.  L(-10 - 10)

[hOChls Config]
configStr = Polynomial
x = hOmega
nOrder = 4
P01 =  0.  C L(-10 - 10)
P02 =  10.  L(-100 - 100)
P03 =  0.  C L(-10 - 10)
P04 =  0.  L(-100 - 100)

[hOChrm Config]
configStr = Polynomial
x = hOmega
nOrder = 6
P01 =  0.  C L(-1 - 1)
P02 =  0.  L(-10 - 10)
P03 =  0.  C L(-10 - 10)
P04 = -0.7 L(-10 - 10)
P05 =  0.  C L(-10 - 10)
P06 =  0.  L(-10 - 10)

[mRSigR Config]
configStr = TwoGauss
x = mRho
meanC = 0.722 L(0.6 - 0.9)
meanT = 0.760 L(0.6 - 0.9)
sigmaC = 0.05 L(0. - 0.2)
sigmaT = 0.2 L(0. - .5)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC = 0.6  L(0. - 1.)

[mRSigX Config]
configStr = TwoGauss
x = mRho
meanC = 0.722 L(0.6 - 0.9)
meanT = 0.760 L(0.6 - 0.9)
sigmaC = 0.05 L(0. - 0.2)
sigmaT = 0.2 L(0. - .5)
shift = 0.0 C L(-.1 - 0.1)
fracC = 0.6  L(0. - 1.)

[mRF0R Config]
configStr = TwoGauss
x = mRho
meanC = 0.980 L(0.8 - 1.)
meanT = 0.980 L(-2. - 2.)
sigmaC =0.050 L(0. - 1.)
sigmaT =0.100 L(0. - 1.)
fracC = 0.7   L(0. - 1.)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)

[mRF0X Config]
configStr = TwoGauss
x = mRho
meanC = 0.980 L(0.8 - 1.)
meanT = 0.980 L(-2. - 2.)
sigmaC =0.050 L(0. - 1.)
sigmaT =0.100 L(0. - 1.)
fracC = 0.7   L(0. - 1.)

[mRBkg Config]
configStr = AddPdf
Comps = mRSigR mRPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mRSigR
postPdfFloat = FracS
[mRPolyBkg Config]
configStr = Chebychev
x = mRho
nOrder = 2
P01 = 0.2 L(-100 - 100)
P02 = -0.02 L(-100 - 100)
postPdfFloat = P01

[mRChls Config]
configStr = AddPdf
Comps = mRChlsC mRChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.5 - 1.0)
[mRChlsC Config]
configStr = Gaussian
x = mRho
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mRChlsT Config]
configStr = Chebychev
x = mRho
nOrder = 3
P01 = 0.3 L(-10 - 10)
P02 = -0.6 L(-10 - 10)
P03 = 0.0 L(-10 - 10)

[mRChrm Config]
configStr = AddPdf
Comps = mRChrmC mRChrmT
Coeffs = FracC
FracC = T "f_{C}" 0.9 L(0.5 - 1.0)
[mRChrmC Config]
configStr = Gaussian
x = mRho
mean = 0.77 L(0.5 - 0.9)
sigma = 0.15 L(0. - 0.3)
[mRChrmT Config]
configStr = Chebychev
x = mRho
nOrder = 3
P01 = 0.3 L(-10 - 10)
P02 = -0.6 L(-10 - 10)
P03 = 0.0 L(-10 - 10)

[hRF0R Config]
configStr = Polynomial
x = hRho
nOrder = 3
P01 = 0.0 L(-10 - 10)
P02 = 0.0 L(-10 - 10)
P03 = 0.2 L(-10 - 10)

[hRF0X Config]
configStr = Polynomial
x = hRho
nOrder = 3
P01 = 0.0 L(-10 - 10)
P02 = 0.0 L(-10 - 10)
P03 = 0.2 L(-10 - 10)

[hRBkg Config]
configStr = Polynomial
x = hRho
nOrder = 6
P01 =  0.0 C  L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0.0 C  L(-100 - 100)
P04 =  70.  L(-100 - 100)
P05 =  0.0 C  L(-100 - 100)
P06 =  70.  L(-100 - 100)

[hRChls Config]
configStr = Polynomial
x = hRho
nOrder = 6
P01 =  0.0 C  L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0.0 C  L(-100 - 100)
P04 =  70.  L(-100 - 100)
P05 =  0.0 C  L(-100 - 100)
P06 =  70.  L(-100 - 100)

[hRChrm Config]
configStr = Chebychev
x = hRho
nOrder = 4
P01 =  0.  L(-10 - 10)
P02 =  0.  L(-100 - 100)
P03 =  0.  L(-100 - 100)
P04 =  0.  L(-100 - 100)

[PdfAct]
// pdfFit options
pdfFit = yes
  //pdfToFit = mRBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mesChls
//pdfToFit = rHMBkg mRBkg mRSig
//pdfToFit =  rHMBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put values you want to fix to the control sample, or for any reason
deSigR_scale =  1.000 C L(0.8 - 1.2)
deSigR_shift = -0.002 C L(-0.1 - 0.1)
deSigX_scale =  1.000 C L(0.8 - 1.2)
deSigX_shift = -0.002 C L(-0.1 - 0.1)
deF0R_scale =  1.000 C L(0.8 - 1.2)
deF0R_shift = -0.002 C L(-0.1 - 0.1)
deF0X_scale =  1.000 C L(0.8 - 1.2)
deF0X_shift = -0.002 C L(-0.1 - 0.1)
mesSigR_shift = 0.0 C L(-0.1 - 0.1)
mesSigR_scale = 1.0 C L(0.8 - 1.2)
mesSigX_shift = 0.0 C L(-0.1 - 0.1)
mesSigX_scale = 1.0 C L(0.8 - 1.2)
mesF0R_shift = 0.0 C L(-0.1 - 0.1)
mesF0R_scale = 1.0 C L(0.8 - 1.2)
mesF0X_shift = 0.0 C L(-0.1 - 0.1)
mesF0X_scale = 1.0 C L(0.8 - 1.2)
mOSigR_shift = 0.0008 C L(-0.1 - 0.1)
mOSigR_scale = 0.97  C L(0.8 - 1.2)
mOSigX_shift = 0.0008 C L(-0.1 - 0.1)
fL = 0.8 C

[MLAct]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
// Comment next line to run MINOS
//mlFitOption = emhr
//nChls=276 C
//SigPdf_fracR = 0.822
//F0Pdf_fracR = 0.692
fLX=0.8 C
preMLReadParams = yes
postMLWriteParams = yes
postMLSignf = measBR FBR

[fLVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
postMLSysVars = nSig measBR
postMLSysParams = fL 0.2V 0.3V

[BBVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
postMLSysVars = nSig nF0
postMLSysParams = nChls 80V nChrm 350V

[PdfVarAct]
Datasets = onData
mlFitData = onData
mlFit = yes
mlFitOption = ehmr
postMLSysVars = nSig nF0
postMLSysParams =   deSigR_scale .04V deSigR_shift .002V   \\
  deSigX_scale .04V deSigX_shift .002V   \\
  deF0R_scale .04V deF0R_shift .002V deF0X_scale .04V deF0X_shift .002V \\
  mesSigR_shift .0004V mesSigR_scale 0.04V mesSigX_shift .0004V \\
  mesF0R_shift .0004V mesF0R_scale .04V mesF0X_shift .0004V \\
  fisSigR_asym 0.01V fisSigR_mean 0.03V fisSigR_rms 0.01V \\
  fisSigX_asym 0.01V fisSigX_mean 0.03V fisSigX_rms 0.01V \\
  fisF0R_asym 0.01V fisF0R_mean 0.03V fisF0R_rms 0.01V \\
  fisF0X_asym 0.01V fisF0X_mean 0.03V fisF0X_rms 0.01V \\
  mOSigR_scale .02V mOSigR_shift .0001V mOSigX_shift .0001V \\
  mRF0R_scale .03V mRF0R_shift .003V 


[MLAct14]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData on14
mlFitData = on14
// mlFit options
mlFit = yes
//mlFitOption = emhr
fLX=0.8 C
preMLReadParams = yes
postMLWriteParams = yes
postMLSignf = measBR FBR
  //postMLSysParams = nChls 160V 0V
  //postMLSysVars = nSig 

[ToyParams]
deSig_scale =  1.0 C L(0.8 - 1.2)
deSig_shift =  0.0 C L(-.1 - .1)
mesSig_shift = 0.0 C L(-.1 - .1)
mesSig_scale =  1.0 C L(0.8 - 1.2)
mOSig_shift = 0.0 C L(-0.1 - 0.1)
mOSig_scale = 1.0 C L(0.8 - 1.2)
mOSig_shift = 0.0 C L(-0.1 - 0.1)
mOSig_scale = 1.0 C L(0.8 - 1.2)
mb1Sig_shift =0.0 C L(-1 - 1)
mb1Sig_shift =0.0 C L(-1 - 1)
fL = 0.8 


[eToyAct]
toyStudy = yes
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
  //toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
fL   = fL "f_{L}" 0.8 C L(0. - 1.2)
effL = effL 0.0923 C //change if you change cuts/mode
effT = effT 0.1549 C //change if you change cuts/mode
fLraw = fLraw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL effL effT
nSig = nSig 25 L(-300 -  3000) // nSig embed
nChrm = 2813   L(-200 -  5000) // 8130/2.89
toySrc_nSig = sigLMC "@0*@1     nSig fLraw" \\
              sigTMC "@0*(1-@1) nSig fLraw" // nSig embed
toySrc_nChls = chlsMC 166  // nChls embed
//toySrc_nChrm = pdf 2813
toySrc_nChrm = chrmMC 2813
toySrc_nF0= f0MC  35  //nF0 embed
preToyReadSecParams = ToyParams

[eToyAct14]
toyStudy = yes
protToyData = on14
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
  //toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
fL   = fL "f_{L}" 0.8 C L(0. - 1.2)
effL = effL 0.0923 C //change if you change cuts/mode
effT = effT 0.1549 C //change if you change cuts/mode
fLraw = fLraw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL effL effT
nSig = nSig 0 L(-300 -  3000) // nSig embed
toySrc_nSig = sigLMC "@0*@1     nSig fLraw" \\
              sigTMC "@0*(1-@1) nSig fLraw" // nSig embed
toySrc_nChls = chlsMC 84  // nChls embed
toySrc_nF0= f0MC  13  //nF0 embed
preToyReadSecParams = ToyParams

[pToyAct]
// toy options
toyStudy = yes
preToyReadParams = A pdfFit
preToyReadSecParams = yes // override params listed here
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
toySrc_nSig = pdf 25
toySrc_nChmls = pdf 166
toySrc_nChrm = pdf 2813 // 3980/2.89
toySrc_nBkg = pdf 43930
toySrc_nF0= pdf  35

[BRToyAct]
// toy options
toyStudy = yes
fL=.8 L(0. - 1.2)
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_measBR = sigLMC "@0*@1     measBR fLraw" \\
                sigTMC "@0*(1-@1) measBR fLraw" // nSig embed
//toySrc_measBR = pdf "@0 measBR" // pure toy
//nChls and nBkg use default, ie pdf nChls and pdf nBkg

[fLvsNsigContour]
// contourPlot options
contourPlot = yes
preContourPlotReadParams = yes
contourPlotFile = default
nContours = 5
contourVars = nSig 0 160 fL .3 1.4
contourRestrictFloatParams = .0001 nBkg 1 nChls 1

[fLvsBRContour]
// contourPlot options
contourPlot = yes
contourPlotData = onData
preContourPlotReadParams = yes
contourPlotFile = default
nContours = 5
contourVars = measBR -5 35 fL .0 1.5
contourRestrictFloatParams = .0001 nBkg 1 nChls 1

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all //nBkg
sPlotVars = mes de fisher mOmega mRho hOmega hRho
//sPlotIgnoredVars_mOmega = hOmega hRho mRho
//sPlotIgnoredVars_hOmega = hRho mOmega mRho
//sPlotIgnoredVars_mRho = hOmega hRho mOmega
//sPlotIgnoredVars_hRho = hOmega mOmega mRho
plotBins_mes = 16
plotBins_de = 10
plotBins_fisher = 18
plotBins_mOmega = 9
plotBins_mRho = 20
plotBins_hOmega = 10
plotBins_hRho = 15

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
//scanVars = measBR 0 3 FBR 0 3
//nScanPoints = 2
scanVars = measBR 0 3
//scanVars = FBR 0 3
nScanPoints = 30


[R0ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = SigPdf 
projLLRPlots = yes
projVars = mes de fisher mOmega mRho hOmega hRho
projLRatioCut = .97
projLRatioCut_mes = .70
projLRatioCut_de = .70
projLRatioCut_fisher = .69
projLRatioCut_mOmega = .79
projLRatioCut_mRho = .96
projLRatioCut_hOmega = .78
projLRatioCut_hRho = .88
//projLRatioCut_mes = .93
//projLRatioCut_de = .955
//projLRatioCut_fisher = .955
//projLRatioCut_mOmega = .963
//projLRatioCut_mRho = .971
//projLRatioCut_hOmega = .98
//projLRatioCut_hRho = .98
plotBins_mes = 16
plotBins_de = 10
plotBins_fisher = 36
plotBins_mOmega = 9
plotBins_mRho = 20
plotBins_hOmega = 10
plotBins_hRho = 15
projFindOptimCut = yes
projOptimStep = .001
projOptimData = ProjSMC
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_mRho = "abs(mRho-0.783)<0.10"
projOptimRange_hOmega = "hOmega>0.2"
projOptimRange_hRho = "abs(hRho)>0.2"

[F0ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = F0Pdf 
projLLRPlots = yes
projVars = mes de fisher mOmega mRho hOmega hRho
projLRatioCut = .97
projLRatioCut_mes = .70
projLRatioCut_de = .70
projLRatioCut_fisher = .69
projLRatioCut_mOmega = .79
projLRatioCut_mRho = .96
projLRatioCut_hOmega = .78
projLRatioCut_hRho = .88
//projLRatioCut_mes = .93
//projLRatioCut_de = .955
//projLRatioCut_fisher = .955
//projLRatioCut_mOmega = .963
//projLRatioCut_mRho = .971
//projLRatioCut_hOmega = .98
//projLRatioCut_hRho = .98
plotBins_mes = 16
plotBins_de = 10
plotBins_fisher = 36
plotBins_mOmega = 9
plotBins_mRho = 20
plotBins_hOmega = 10
plotBins_hRho = 15
projFindOptimCut = yes
projOptimStep = .001
projOptimData = ProjSMC
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_mRho = "abs(mRho-0.783)<0.10"
projOptimRange_hOmega = "hOmega>0.2"
projOptimRange_hRho = "abs(hRho)>0.2"

