//
// Project: BaBar detector at the SLAC PEP-II B-factory// Package: RooRarFit
// $Id: omks.config,v 1.29 2007/06/29 08:37:45 zhanglei Exp $
//
// This sample config is intended to demonstrate full TD fitting
// using omegaKs mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

// default dsi section
[Dataset Input]
dsdSec = dt Dataset Definition
Datasets = onData sigMC bbMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/omegaks_MC_an32.text"  // quiet mode
bbMC     = ascii "peaking BB Data" "mydats/omegaks_feed_R18.text" Q
onData   = ascii "onpeak Data" "mydats/omegaks_ONPEAK_Run15_an32.text" 
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = 12f4ec05bdc84d3e1bf1b8ea77c72a52 3bad7476c842f8508b646bd73cff3515 c6d3a4cc6e6867f27e0739cb2f1524e3 67f55433594b7f15c97544de29b47101 a13291259efa0dbb6ba8901e799478d9 ec9fbd2dfe52e87a02080b50d261aa70

tabulateDatasets = yes

// dsi section for nodt settings, use command line option -D nodtInput
[nodtInput]
dsdSec = nodt Dataset Definition
Datasets = onData sigMC bbMC \\
           gsbData desbData

sigMC    = ascii "sig MC Data" "mydats/omegaks_MC_an32.text" Q // quiet mode
bbMC     = ascii "peaking BB Data" "mydats/omegaks_feed_R18.text" Q
onData   = ascii "onpeak Data" "mydats/omegaks_ONPEAK_Run15_an32.text" Q
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"
ub_onData = af187bbd4f74a8640ea4dea2634f0061 28e26c800fa911667f3c97bcf8b3f85b 6c0a2b390ebe935873f6572ac2979496

tabulateDatasets = yes

// dsd section for dt
[dt Dataset Definition]
include dsd_omk.config
deltaT=deltaT RooRealVar "#Delta t" -20 20 B(100) "ps"
dtErr=dtErr RooRealVar "#delta#Delta t" 0.0 2.5 B(10) "ps"

// dsd section for nodt
[nodt Dataset Definition]
include dsd_omk.config

// default master pdf config
[mlFitter Config]
Comps = dtModel
// dataset to fit
fitData = onData

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_dtModel
physModels = the_dtModel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock tagCat
protDataVars=DataMC runBlock tagCat // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_dtModel  = DataMC :  deSig_scale, deSig_shift, mOSig_shift, mOSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             tagCat :  dtSigAmtr, dtSigDmtr, dtSigMu, dtSigBiasC, dtSigScfaC, dtSigScfaC \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\
             tagCat : Frac_nSig_tagCat[04T0], Frac_nBkg_tagCat[04T0], Frac_nChls_tagCat[04T0]
postPdfFloat = Frac_nBkg_tagCat

// nodt master pdf config, use command line option -C NFit
[NFit]
Comps = Nmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config"

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_Nmodel
physModels = the_Nmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock
protDataVars=DataMC runBlock // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_Nmodel  = DataMC :  deSig_scale, deSig_shift, mOSig_shift, mOSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\


// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRmodel
// dataset to fit
fitData = onData
preMLReadParams = D "Dataset Input"   C "mlFitter Config"

simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRmodel
physModels = the_BRmodel // Please remember the RooFit pdf is created with a
                       // "the_" before the name of rarPdf object.
splitCats = DataMC(Data) runBlock
protDataVars=DataMC runBlock // list all splitCats here
protDataEVars = DataMC runBlock // for Embedded events
the_BRmodel  = DataMC :  deSig_scale, deSig_shift, mOSig_shift, mOSig_scale \\
             DataMC,runBlock : mesSig_shift \\
             runBlock : Frac_nSig_runBlock[Run5], Frac_nBkg_runBlock[Run5], Frac_nChls_runBlock[Run5] \\

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtSigPdf dtBkgPdf dtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 10000 L(-1e6 - 1e6)
nSig = nSig   150 L(-1e6 - 1e6)
nChls = nChls 50 L(-1e6 - 1e6)
postPdfFloat = nSig nBkg nChls

[Nmodel Config]
configStr = MLPdf "ml yield model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 10000 L(-1e6 - 1e6)
nSig = nSig    150 L(-1e6 - 1e6)
nChls = nChls 46 L(-1e6 - 1e6)
postPdfFloat = nSig nBkg
//postPdfFloat = nSig nBkg nChls

[BRmodel Config]
configStr = MLPdf "ml BR model"
Comps = nodtSigPdf nodtBkgPdf nodtChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 10000 L(-1e6 - 1e6)
nChls = nChls 46 C L(-1e6 - 1e6)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 6 L(-1e6 - 1e6)
nBB = nBB RooRealVar "nBB" 382.9 +/- 0.0 C 
prodBR = prodBR RooRealVar "prodBR" 0.308 +/- 0.0 C 
effcorr = effcorr RooRealVar "effcorr" 0.204 +/- 0.0 C 
fitBias = fitBias RooRealVar "fitBias" 10.3 +/- 0.0 C 
postPdfFloat = measBR nBkg
//postPdfFloat = measBR nBkg nChls

[dtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = nodtSigPdf dtSig
fitData = sigMC

[nodtSigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = deSig mesSig fisSig mOSig heliSig
fitData = sigMC

[dtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mOBkg
Comps = nodtBkgPdf dtBkg dummyFlavPdf
fitData = gsbData

[nodtBkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mOBkg
Comps = deBkg mesBkg fisBkg mOBkg heliBkg
fitData = gsbData

[dtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
Comps = nodtChlsPdf dtChls dummyFlavPdf
fitData = bbMC 

[nodtChlsPdf Config]
configStr = ProdPdf "Charmless Pdf"
Comps = deChls mesChls fisChls mOChls heliChls
fitData = bbMC 

[deSig Config]
configStr = TwoGauss
x = de
meanC =  0.    L(-0.1 - 0.1)
meanT = -0.04  L(-0.1 - 0.1)
sigmaC = 0.025 L( 0.0 - 0.15)
sigmaT = 0.09  L( 0.0 - 0.3)
fracC =  0.75  L( 0.5 - 1.0)
scale =  1.0 C L( 0.8 - 1.2)
shift =  0.0 C L(-0.2 - 0.2)
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 
[deChls Config]
configStr = TwoGauss
x = de
meanC =  0.13 L(-0.2 - 0.2)
meanT = -0.20 L(-0.3 - 0.2)
sigmaC = 0.06 L( 0.0 - 0.3)
sigmaT = 0.14 L( 0.0 - 0.3)
fracC =  0.35 L( 0.0 - 1.0)

[mesSig Config]
configStr = TwoGauss
x = mes
meanC =   5.28   L( 5.25 - 5.29)
meanT =   5.27   L( 5.25 - 5.29)
sigmaC =  0.0028 L( 0.0  - 0.01)
sigmaT =  0.008  L( 0.0  - 0.10)
fracC =   0.95   L( 0.5  - 1.0)
shift =   0.0  C L(-0.1  - 0.1)
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -15.0 L(-80. - -0.1)
postPdfFloat = c
[CB mesChls Config]
configStr = CBShape
x = mes
mean =  5.277 L(5.265 -  5.290)
sigma = 0.006 L(0.001 -  0.050)
alpha = 1.5   L(0.1   - 10.0)
n =     1.0   C(0.1   -  5.0)
[mesChls Config]
configStr = AddPdf
Comps = mesChlsGauss mesChlsArgus
Coeffs = fracG
fracG = fracG "f_{G}" 0.08 L(0.0 - 1.0)
[mesChlsArgus Config]
configStr = ArgusBG
x = mes
max = 5.2893 C
c = -380.  L(-800. - -0.1)
pow =  1.5 L(  -3. -  3.0)
[mesChlsGauss Config]
configStr = Gaussian
x = mes
mean =  5.28  L(5.2 - 5.29)
sigma = 0.004 L(0.0 - 0.1)

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2.0 -  2.0)
rms =   0.6 L( 0.0 -  1.0)
asym =  0.1 L(-0.5 -  0.5)
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.0)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2.0 - 2.0)
rms = T "#sigma_{C}"  0.60 L( 0.0 - 1.0)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym 
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"     0.8 L(-1.0 - 2.0)
sigma = T "#sigma_{T}" 2.0 L( 0.0 - 5.0)
[fisChls Config]
configStr = BGGauss
x = fisher
mean = -0.4 L(-2.0 - 2.0)
rms =   0.6 L( 0.0 - 1.0)
asym =  0.1 L(-0.5 - 0.5)

[mOSig Config]
configStr = TwoGauss
x = mOmega
meanC =  0.782 L(0.76 - 0.80)
meanT =  0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0.0  - 0.01)
sigmaT = 0.02  L(0.0  - 0.1)
fracC =  0.6   L(0.0  - 1.0)
shift = T "Offset_{mO}" 0.0 C L(-0.1 - 0.1)
scale = T "Scale_{mO}"  1.0 C L( 0.8 - 1.2)
[mOBkg Config]
configStr = AddPdf
Comps = mOSig mOPolyBkg
Coeffs = fracS
fracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mOSig mOSig_shift 0.0011 mOSig_scale 1.05
postPdfFloat = fracS
[mOPolyBkg Config]
configStr = Chebychev
x = mOmega
nOrder = 2
P01 = 0.20 L(-100 - 100)
P02 = 0.02 L(-100 - 100)
postPdfFloat = P01 
[mOChls Config]
configStr = AddPdf
Comps = mOChlsC mOChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.23 L(0 - 1.)
[mOChlsC Config]
configStr = Gaussian
x = mOmega
mean = 0.782 L(0.76 - 0.80)
sigma = 0.01 L(0. - 0.05)
[mOChlsT Config]
configStr = Chebychev
x = mOmega
nOrder = 2
P01 = 0.0 L(-10 - 10)
P02 = 0.0 L(-10 - 10)

[heliSig Config]
configStr = Polynomial
x = heli
nOrder = 2
P01 = -3.5 L(-10. - 10.)
P02 = 70.0 L(  0. - 250.)
[heliBkg Config]
configStr = Polynomial
x = heli
nOrder = 2
P01 =  -3.5  L(-10 - 10)
P02 =  70.  L(-100 - 100)
postPdfFloat = P01 P02
[heliChls Config]
configStr = Polynomial
x = heli
nOrder = 4
P01 =  -3.5  L(-10 - 10)
P02 =  70.  L(-100 - 100)
P03 =  0. L(-50 - 50)
P04 =  0.  L(-50 - 50)

[dtSig Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = deltaT
model = sigResModel
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.7 L(-4.0 - 4.0)
//blindStatus = blind
blindStatus = unblind
blindString = Lets keep omks blind
blindValues = .2 .2 .2 .2
//postPdfFloat = S
postPdfFloat = S C

[sigResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtSigBiasC "Bias_{C}"  -0.16 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  1.0807 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"  -1.1140 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  3.00 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  8. C
fracC  = dtSigFracC "f_{C}"      0.8888 C L(.5 - 1)
fracO  = dtSigFracO "f_{O}"      0.0033 C L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr
xtraGenerators = dtErrGen

[dtErrGen Config]
configStr = Landau
x = dtErr
mean = .75 C L(0 - 2.5)
sigma = .17 C L(0 - .5)

[dummyFlavPdf Config]
configStr = Generic
pdfFit = no
pdfPlot = no
formula = "1" tagFlav

[dtBkg Config]
configStr = BCPGenDecay
projWData_deltaT = yes
x = deltaT
model = bkgResModel
tag = tagFlav
tau = dtBkgTau  0 C L(0.5 - 2.5)
dm  = dtBkgDm   0 C L(0.0 - 1.0)
w   = dtBkgAmtr 0.0  C( 0. - 0.5)
dw  = dtBkgDmtr 0.0 C(-2. - 2.0)
mu  = dtBkgMu   0.0  C(-2. - 2.0)
C = 0.0 C L(-2.0 - 2.0)
S = 0.0 C L(-2.0 - 2.0)
blindStatus = unblind
blindString = Blind the bkg
blindValues = .2 .2 .2 .2
[bkgResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtBkgBiasC "Bias_{C}"   0.0 L(-5 - +5)
sigmaC = dtBkgScfaC "Scale_{C}"  1.0 L(0.0 - 5)
meanT  = dtBkgBiasT "Bias_{T}"   0.0 L(-5 - 5)
sigmaT = dtBkgScfaT "Scale_{T}"  1.00 L(.05 - 5)
meanO  = dtBkgBiasO "Bias_{O}"   0.0 C
sigmaO = dtBkgScfaO "Scale_{O}"  8.0 C
fracC  = dtBkgFracC "f_{C}"      1.00 L(.5 - 1)
fracO  = dtBkgFracO "f_{O}"      0.00 L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr
postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO

[dtChls Config]
configStr = BCPGenDecay
projWData_deltaT = yes
x = deltaT
model = chlsResModel
tag = tagFlav
tau = dtChlsTau  0.0 C L(0.5 - 2.5)
dm  = dtChlsDm   0.0 C L(0.0 - 1.0)
w   = dtChlsAmtr 0.0  C( 0. - 0.5)
dw  = dtChlsDmtr 0.0 C(-2. - 2.0)
mu  = dtChlsMu   0.0  C(-2. - 2.0)
C = 0.0 C L(-2.0 - 2.0)
S = 0.0 C L(-2.0 - 2.0)
//blindStatus = blind
blindStatus = unblind
blindString = Blind the BB
blindValues = .2 .2 .2 .2
//postPdfFloat = C S
[chlsResModel Config]
configStr = TriGaussModel
x = deltaT
meanC  = dtChlsBiasC "Bias_{C}"  -0.16 L(-5 - +5)
sigmaC = dtChlsScfaC "Scale_{C}"  1.0807 L(.5 - 5)
meanT  = dtChlsBiasT "Bias_{T}"  -1.1140 L(-5 - 5)
sigmaT = dtChlsScfaT "Scale_{T}"  3.00 L(.5 - 5)
meanO  = dtChlsBiasO "Bias_{O}"   0. C
sigmaO = dtChlsScfaO "Scale_{O}"  8. C
fracC  = dtChlsFracC "f_{C}"      0.8888 L(.5 - 1)
fracO  = dtChlsFracO "f_{O}"      0.0033 L(0. - 0.2)
msSF = dtErr
protDataVars = dtErr

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = dtBkg
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mOSig mOBkg
//pdfToFit = heliSig helimassBkg
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put here values you want to fix to the control sample, or for any reason
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.0 +/- 0.20000 C L(-0.2 - 0.2)
mesSig_shift =  0.00000000 +/- 0.10000 C L(-0.1 - 0.1)
mesSig_shift_{Data;Run1} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.0000 +/- 0.0001 C L(-.1 - .1)
mOSig_shift_Data = 0.0011 +/- 0.00085288 C L(-0.1 - 0.1)
mOSig_scale_Data =  1.05 +/- 0.29237 C L(0.8 - 1.2)

Frac_nChls_tagCat_04T1 =  0.0869 +/- 0.0010 C L(0 - 1)
Frac_nChls_tagCat_04T2 =  0.1096 +/- 0.0011 C L(0 - 1)
Frac_nChls_tagCat_04T3 =  0.1723 +/- 0.0013 C L(0 - 1)
Frac_nChls_tagCat_04T4 =  0.1378 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T5 =  0.1437 +/- 0.0012 C L(0 - 1)
Frac_nChls_tagCat_04T6 =  0.0957 +/- 0.0010 C L(0 - 1)

Frac_nSig_tagCat_04T1 =  0.0869 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.1096 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.1723 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.1378 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.1437 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.0957 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0307 +/- 0.0032 C L(0 - 1)
dtSigAmtr_04T2 =  0.0524 +/- 0.0036 C L(0 - 1)
dtSigAmtr_04T3 =  0.1538 +/- 0.0037 C L(0 - 1)
dtSigAmtr_04T4 =  0.2348 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T5 =  0.3294 +/- 0.0049 C L(0 - 1)
dtSigAmtr_04T6 =  0.4183 +/- 0.0060 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 = -0.0014 +/- 0.0061 C L(-0.5 - 0.5)
dtSigDmtr_04T2 = -0.0007 +/- 0.0067 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0051 +/- 0.0063 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0181 +/- 0.0074 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0509 +/- 0.0074 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0459 +/- 0.0090 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2) //
dtSigMu_04T1 = -0.0004 +/- 0.0108 C L(-2 - 2) //
dtSigMu_04T2 =  0.0102 +/- 0.0103 C L(-2 - 2) //
dtSigMu_04T3 =  0.0028 +/- 0.0090 C L(-2 - 2) //
dtSigMu_04T4 = -0.0125 +/- 0.0100 C L(-2 - 2) //
dtSigMu_04T5 = -0.0240 +/- 0.0100 C L(-2 - 2) //
dtSigMu_04T6 =  0.0148 +/- 0.0114 C L(-2 - 2) //

dtSigBiasC_04T0 = -0.1850 +/- 0.0138 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0789 +/- 0.0304 C L(-5 - 5)
dtSigBiasC_04T2 = -0.1850 +/- 0.0138 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1850 +/- 0.0138 C L(-5 - 5)
dtSigBiasC_04T4 = -0.1850 +/- 0.0138 C L(-5 - 5)
dtSigBiasC_04T5 = -0.1850 +/- 0.0138 C L(-5 - 5)
dtSigBiasC_04T6 = -0.1850 +/- 0.0138 C L(-5 - 5) //just do 2-6 the same

dtSigScfaC_04T0 =  1.1059 +/- 0.0223 C L(.5 - 5)
dtSigScfaC_04T1 =  1.0610 +/- 0.0459 C L(.5 - 5)
dtSigScfaC_04T2 =  1.1059 +/- 0.0223 C L(.5 - 5)
dtSigScfaC_04T3 =  1.1059 +/- 0.0223 C L(.5 - 5)
dtSigScfaC_04T4 =  1.1059 +/- 0.0223 C L(.5 - 5)
dtSigScfaC_04T5 =  1.1059 +/- 0.0223 C L(.5 - 5)
dtSigScfaC_04T6 =  1.1059 +/- 0.0223 C L(.5 - 5)

[MLAct]
// Datasets config here overrides that in dsi section
Datasets = onData
mlFitData = onData
// mlFit options
mlFit = yes
mlFitOption = emhr
//mlFitOption = ehr
//postMLSignf = nSig measBR
//postMLSysParams = dtSigTau 0.009V dtSigDm 0.005V dtSigAmtr 0.0040V dtSigDmtr 0.0070V Frac_nSig_tagCat 0.001V dtSigBiasC 0.02V dtSigScfaC 0.025V dtSigBiasT 0.1472V dtSigFracC 0.0097V dtSigFracO 0.0006V deSig_scale_Data 0.05V deSig_shift_Data .002V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data 0.0002V mOSig_shift_Data 0.0001V mOSig_scale_Data 0.05V
//postMLSysVars = dtSig_C dtSig_S
//postMLSysParams = deSig_scale_Data .05V deSig_shift_Data .002V mOSig_scale_Data .02V mOSig_shift_Data .0001V fisSig_asym 0.064V fisSig_mean 0.005V fisSig_rms 0.014V mesSig_shift_Data .0002V mOSig_shift_Data 0.0001V mOSig_scale_Data 0.05V
//postMLSysVars = nSig

[eToyAct]
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = onData
toyNexp = 10 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 137
toySrc_nChls = bbMC 46 // nChls embed
toySrc_nBkg = pdf 9000 
preToyReadSecParams = ToyParams

[eToy200BBAct]
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = onData
toyNexp = 10 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 135
toySrc_nChls = bbMC 200 // nChls embed
toySrc_nBkg = pdf 9000 
preToyReadSecParams = ToyParams

[eToy1BBAct]
toyStudy = yes
preToyReadParams = A mlFit
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = onData
toyNexp = 10 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC 200
toySrc_nChls = bbMC 1 // nChls embed
toySrc_nBkg = pdf 9000 
preToyReadSecParams = ToyParams

[eToySCAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = -0.55
dtSig_S = 0.51
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMCSC "@0 nSig"
toySrc_nBkg=pdf 9000 
toySrc_nChls = bbMC 35 // nChls embed
preToyReadSecParams = ToyParams

[eToySCBrecoAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 137 +/- 10 L(0 - 200)
dtSig_C = -0.55
dtSig_S = 0.51
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMCSC "@0 nSig"
toySrc_nBkg=pdf 9000 
toySrc_nChls = bbMC 46 // nChls embed
preToyReadSecParams = ToyParamsBReco

[eToyBrecoAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 137 +/- 10 L(0 - 200)
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = onData
toyNexp = 10 // # experiments
toyNevt = 0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMC "@0 nSig"
toySrc_nBkg=pdf 9000 
toySrc_nChls = bbMC 46 // nChls embed
preToyReadSecParams = ToyParamsBReco

[eToyMixAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
toySrc_nBkg=pdf 9000 
toySrc_nChls = bbMC 35 // nChls embed
preToyReadSecParams = ToyParamsMix

[eToyRandAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = -0.55
dtSig_S = 0.50
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParams

[eToyRandMixAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = -0.55
dtSig_S = 0.50
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParamsMix

[eToyRandBrecoAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = -0.55
dtSig_S = 0.50
protDatasets = onData
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParamsBreco

[eToyScanAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 5000)
preToyRandParams = dtSig_C "@0*cos(@1) R theta" \\
                   dtSig_S "@0*sin(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different C and S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParams

[eToyScanSAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_C = -0.55 +/- 0.05 C L(-4 - 4)
preToyRandParams = dtSig_S "@0*sin(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different S
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParams

[eToyScanCAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 135 +/- 10 L(0 - 200)
dtSig_S = 0.50 +/- 0.05 C L(-4 - 4)
preToyRandParams = dtSig_C "@0*cos(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
// embed w/ different C
postEmbdRandObs = sigMC tagFlav trueDtModel
preToyReadSecParams = ToyParams

[eToyDiffYieldsAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 93 +/- 10 L(0 - 2000)
nBkg = 93 +/- 10 L(0 - 2000)
dtSig_C = 0.00
dtSig_S = 0.70
toyNevt = 186 fixed
toyNexp = 10 // # experiments
toySrc_nSig = sigMC "@0 nSig"
preToyReadSecParams = ToyParams

[pToyScanAct]
toyStudy = yes
preToyReadParams = A mlFit
nSig = 142 +/- 10 L(0 - 200)
preToyRandParams = dtSig_C "@0*cos(@1) R theta" \\
                   dtSig_S "@0*sin(@1) R theta"
preToyRandGenerators = Rpdf thetaPdf
protDatasets = onData
toyNexp = 10 // # experiments

[trueDtModel Config]
configStr = Simultaneous
Comps = trueDtPdf
physModels = the_trueDtPdf
splitCats = tagCat
the_trueDtPdf = tagCat : dtSigAmtr, dtSigDmtr, dtSigMu
[trueDtPdf Config]
// your true dt pdf
configStr = Generic
// See for instance Eqn. 5 in BAD 1109
formula = "0.5*(1+@3*(-@5+@6*(1-2*@4)+(1-2*@4+@3*@6-@5*@6)*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1)))))/(1+@6*(@7*sin(@2*(@0-@1))-@8*cos(@2*(@0-@1))))" \\
dtTrue dtTrueShift dtSigDm tagFlav dtSigAmtr dtSigDmtr dtSigMu dtSig_S dtSig_C
dtTrueShift = dtTrueShift -.000 C

[pToyAct]
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C = -0.43 +/- 10 L(-4 - 4)
dtSig_S = 0.62 +/- 10 L(-4 - 4)
toySrc_nSig = pdf 150
toySrc_nChls = pdf 35
protDatasets = onData
protDataGenLevel = 1
toyNexp = 1 // # experiments
toyNevt = 0 floated
preToyReadSecParams = ToyParams

[pToyNodtAct]
toyStudy = yes
preToyReadParams = A mlFit
preToyReadSecParams = yes
dtSig_C = 0.00 +/- 10 L(-4 - 4)
dtSig_S = 0.70 +/- 10 L(-4 - 4)
toySrc_nSig = pdf 200
toySrc_nChls = pdf 50
protDatasets = onData
protDataGenLevel = 1
toyNexp = 1 // # experiments
toyNevt = 0 floated
preToyReadSecParams = ToyParams

[nodteToyTestBBAct]
toyStudy=yes
preToyReadParams = A mlFit
protDatasets=onData
toyNexp=500 // # experiments
toySrc_nSig=sigMC 125// nSig embed
toySrc_nBkg=pdf 9000 
toySrc_nChls = bbMC 35 // nChls embed
preToyReadSecParams = ToyParams

[Rpdf Config]
configStr = Generic
formula = "@0*@0" R
R = R 0 L(0 - 1)
[thetaPdf Config]
configStr = Generic
formula = "1" theta
theta = theta 0 L(-3.14159265358979323846 - 3.14159265358979323846)

[ToyParamsBReco]
//fit to breco mc
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
mOSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mOSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-1.0 - 1.0)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  0.0879 +/- 0.0010 C L(0 - 1)
Frac_nSig_tagCat_04T2 =  0.1127 +/- 0.0011 C L(0 - 1)
Frac_nSig_tagCat_04T3 =  0.1709 +/- 0.0013 C L(0 - 1)
Frac_nSig_tagCat_04T4 =  0.1401 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T5 =  0.1494 +/- 0.0012 C L(0 - 1)
Frac_nSig_tagCat_04T6 =  0.0987 +/- 0.0010 C L(0 - 1)

dtSigAmtr_04T0 =  0.5 +/- 0.0050000 C L(0 - 1)
dtSigAmtr_04T1 =  0.0294 +/- 0.0040 C L(0 - 1)
dtSigAmtr_04T2 =  0.0655 +/- 0.0046 C L(0 - 1)
dtSigAmtr_04T3 =  0.1651 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T4 =  0.2626 +/- 0.0083 C L(0 - 1)
dtSigAmtr_04T5 =  0.3507 +/- 0.0061 C L(0 - 1)
dtSigAmtr_04T6 =  0.4235 +/- 0.0075 C L(0 - 1)

dtSigDmtr_04T0 =  0.000000 +/- 2.0000 C L(-2 - 2)
dtSigDmtr_04T1 =  0.0016 +/- 0.0071 C L(-0.5 - 0.5)
dtSigDmtr_04T2 =  0.0016 +/- 0.0076 C L(-0.5 - 0.5)
dtSigDmtr_04T3 = -0.0022 +/- 0.0075 C L(-0.5 - 0.5)
dtSigDmtr_04T4 = -0.0186 +/- 0.0090 C L(-0.5 - 0.5)
dtSigDmtr_04T5 =  0.0604 +/- 0.0089 C L(-0.5 - 0.5)
dtSigDmtr_04T6 =  0.0463 +/- 0.0110 C L(-0.5 - 0.5)

dtSigMu_04T0 =  0.0000 +/- 2.0000 C L(-2 - 2)
dtSigMu_04T1 = -0.0041 +/- 0.0137 C L(-2 - 2)
dtSigMu_04T2 =  0.0010 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T3 =  0.0041 +/- 0.0113 C L(-2 - 2)
dtSigMu_04T4 =  0.0106 +/- 0.0128 C L(-2 - 2)
dtSigMu_04T5 = -0.0221 +/- 0.0127 C L(-2 - 2)
dtSigMu_04T6 =  0.0072 +/- 0.0154 C L(-2 - 2)

dtSigBiasC_04T0 = -0.2472 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0618 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.2472 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.2472 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.2472 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.2472 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.2472 +/- 0.0335 C L(-5 - 5)

dtSigBiasT = -1.1782 +/- 0.2670 C L(-5 - 5) // [ps]
dtSigFracC =  0.8894 +/- 0.0121 C L(0.5 - 1)
dtSigFracO =  0.0041 +/- 0.0007 C L(0 - 0.2)
dtSigScfaC =  1.07 +/- 0.0239 C L(0.5 - 5)

[ToyParams]
//fit to omks MC
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
mOSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mOSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  9.16e-02 +/- 5.713e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T2 =  1.067e-01 +/- 6.341e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T3 =  1.683e-01 +/- 7.529e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T4 =  1.387e-01 +/- 6.939e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T5 =  1.460e-01 +/- 7.105e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T6 =  1.012e-01 +/- 5.927e-04 C L(0 - 1) 

dtSigAmtr_04T0 =  5.00000e-01 +/- 5.000e-03 C L(0 - 1) 
dtSigAmtr_04T1 =  5.7570e-03 +/- 8.338e-03 C L(0 - 1) 
dtSigAmtr_04T2 =  6.1478e-02 +/- 7.430e-03 C L(0 - 1) 
dtSigAmtr_04T3 =  1.5231e-01 +/- 6.556e-03 C L(0 - 1) 
dtSigAmtr_04T4 =  2.6527e-01 +/- 7.564e-03 C L(0 - 1) 
dtSigAmtr_04T5 =  3.2801e-01 +/- 7.676e-03 C L(0 - 1) 
dtSigAmtr_04T6 =  3.9767e-01 +/- 9.531e-03 C L(0 - 1) 

dtSigDmtr_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigDmtr_04T1 =  3.4824e-02 +/- 2.416e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T2 = -1.4320e-02 +/- 2.028e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T3 = -3.0573e-02 +/- 1.595e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T4 = -2.1863e-02 +/- 1.434e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T5 =  1.5450e-02 +/- 1.054e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T6 =  5.3913e-03 +/- 8.274e-03 C L(-0.5 - 0.5) 

dtSigMu_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigMu_04T1 =  3.2251e-02 +/- 2.616e-02 C L(-2 - 2) 
dtSigMu_04T2 = -1.8998e-02 +/- 2.354e-02 C L(-2 - 2) 
dtSigMu_04T3 = -3.6455e-02 +/- 2.290e-02 C L(-2 - 2) 
dtSigMu_04T4 =  1.2417e-02 +/- 2.769e-02 C L(-2 - 2) 
dtSigMu_04T5 = -1.3704e-01 +/- 2.886e-02 C L(-2 - 2) 
dtSigMu_04T6 = -2.0701e-01 +/- 3.760e-02 C L(-2 - 2) 

dtSigBiasC_04T0 = -2.0585e-01 +/- 1.252e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T1 = -9.0360e-02 +/- 3.216e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T2 = -1.8644e-01 +/- 2.961e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T3 = -1.7536e-01 +/- 2.601e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T4 = -2.3376e-01 +/- 2.864e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T5 = -1.3127e-01 +/- 2.899e-02 C L(-5 - 5) // [ps]
dtSigBiasC_04T6 = -7.3522e-03 +/- 3.634e-02 C L(-5 - 5) // [ps]

dtSigBiasT = -1.2428e-00 +/- 8.532e-02 C L(-5 - 5) // [ps]
dtSigFracC =  8.8493e-01 +/- 5.460e-03 C L(0.5 - 1) 
dtSigFracO =  7.8013e-03 +/- 4.907e-04 C L(0 - 0.2) 
dtSigScfaC =  1.0786e+00 +/- 1.247e-02 C L(0.5 - 5) // [ps]

[ToyParamsMix]
//fit to omks MC for the tag side and
//fit to breco for the dt shape params
deSig_scale_Data =  1.000 +/- 0.20000 C L(0.8 - 1.2)
deSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mesSig_shift =  0.0000000 +/- 0.10000 C L(-0.1 - 0.1)
mOSig_shift_Data = 0.00 +/- 0.00085288 C L(-0.1 - 0.1)
mOSig_scale_Data =  1.0 +/- 0.29237 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.000 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run5} = 0.000 +/- 0.0001 C L(-.1 - .1)

// dt etoys need to fit with MC params - collect them all here
Frac_nSig_tagCat_04T1 =  9.02755e-02 +/- 5.713e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T2 =  1.14081e-01 +/- 6.341e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T3 =  1.71509e-01 +/- 7.529e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T4 =  1.40433e-01 +/- 6.939e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T5 =  1.48634e-01 +/- 7.105e-04 C L(0 - 1) 
Frac_nSig_tagCat_04T6 =  9.76842e-02 +/- 5.927e-04 C L(0 - 1) 

dtSigAmtr_04T0 =  5.00000e-01 +/- 5.000e-03 C L(0 - 1) 
dtSigAmtr_04T1 =  2.44043e-02 +/- 8.338e-03 C L(0 - 1) 
dtSigAmtr_04T2 =  5.94613e-02 +/- 7.430e-03 C L(0 - 1) 
dtSigAmtr_04T3 =  1.55633e-01 +/- 6.556e-03 C L(0 - 1) 
dtSigAmtr_04T4 =  2.50528e-01 +/- 7.564e-03 C L(0 - 1) 
dtSigAmtr_04T5 =  3.42577e-01 +/- 7.676e-03 C L(0 - 1) 
dtSigAmtr_04T6 =  4.33203e-01 +/- 9.531e-03 C L(0 - 1) 

dtSigDmtr_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigDmtr_04T1 = -1.76872e-02 +/- 2.416e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T2 = -1.43463e-02 +/- 2.028e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T3 = -6.03892e-02 +/- 1.595e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T4 = -4.09762e-02 +/- 1.434e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T5 =  3.51769e-02 +/- 1.054e-02 C L(-0.5 - 0.5) 
dtSigDmtr_04T6 =  3.11314e-02 +/- 8.274e-03 C L(-0.5 - 0.5) 

dtSigMu_04T0 =  0.00000e+00 +/- 2.000e+00 C L(-2 - 2) 
dtSigMu_04T1 = -1.96708e-02 +/- 2.616e-02 C L(-2 - 2) 
dtSigMu_04T2 = -2.23261e-02 +/- 2.354e-02 C L(-2 - 2) 
dtSigMu_04T3 = -6.64012e-02 +/- 2.290e-02 C L(-2 - 2) 
dtSigMu_04T4 = -2.37119e-02 +/- 2.769e-02 C L(-2 - 2) 
dtSigMu_04T5 = -9.53514e-02 +/- 2.886e-02 C L(-2 - 2) 
dtSigMu_04T6 = -8.17353e-02 +/- 3.760e-02 C L(-2 - 2) 

dtSigBiasC_04T0 = -0.2371 +/- 0.0216 C L(-5 - 5)
dtSigBiasC_04T1 = -0.0345 +/- 0.0370 C L(-5 - 5)
dtSigBiasC_04T2 = -0.2037 +/- 0.0353 C L(-5 - 5)
dtSigBiasC_04T3 = -0.1978 +/- 0.0277 C L(-5 - 5)
dtSigBiasC_04T4 = -0.2602 +/- 0.0289 C L(-5 - 5)
dtSigBiasC_04T5 = -0.2360 +/- 0.0275 C L(-5 - 5)
dtSigBiasC_04T6 = -0.2376 +/- 0.0335 C L(-5 - 5)

dtSigBiasT = -1.4997 +/- 0.2670 C L(-5 - 5) // [ps]
dtSigFracC =  0.9149 +/- 0.0121 C L(0.5 - 1)
dtSigFracO =  0.0056 +/- 0.0007 C L(0 - 0.2)
dtSigScfaC =  1.1337 +/- 0.0239 C L(0.5 - 5)

[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
projVars = mes de fisher mOmega heli deltaT
projPlotData_deltaT = onData "tagCat!=tagCat::04T0"
projAsymPlot_deltaT = tagFlav
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
projLRatioCut_mOmega = .925
projLRatioCut_heli = .945
projLRatioCut_deltaT = .975
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 18
plotBins_mOmega = 18
plotBins_heli = 20
plotBins_deltaT = 12
plotRange_deltaT = -6 -4 -2 -1 0 1 2 4 6
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_heli = "heli>0.5"
projOptimRange_deltaT = "abs(deltaT)<3.5"

[nodtProjAct]
// projectionPlot options
projPlot = yes
projPlotData = onData
projComps = dtSigPdf nodtSigPdf // either will be OK (for dt or nodt fit)
projLLRPlots = yes
projVars = mes de fisher mOmega heli
projLRatioCut = .810
projLRatioCut_mes = .835
projLRatioCut_de = .920
projLRatioCut_fisher = .890
projLRatioCut_mOmega = .925
projLRatioCut_heli = .945
plotBins_mes = 20
plotBins_de = 20
plotBins_fisher = 18
plotBins_mOmega = 18
plotBins_heli = 20
projFindOptimCut = yes
projOptimRange_mes = "abs(mes-5.28)<0.006"
projOptimRange_de = "abs(de)<0.07"
projOptimRange_fisher = "fisher<0.0"
projOptimRange_mOmega = "abs(mOmega-0.783)<0.025"
projOptimRange_heli = "heli>0.5"

[SPlotAct]
// sPlot options
sPlot = yes
sPlotData = onData
sPlotComps = all
sPlotVars = mes de fisher mOmega heli deltaT
plotBins_mes = 10
plotBins_de = 10
plotBins_fisher = 18
plotBins_mOmega = 9
plotBins_heli = 10
plotBins_deltaT = 20
sPlotNormIgnoredObs = dtErr tagFlav

[BrScan]
// scanPlot options
scanPlot = yes
scanPlotData = onData
scanVars = measBR 0 15
nScanPoints = 75

[SCContour]
contourPlot = yes
contourPlotData = onData
nContours = 2
contourVars = dtSig_S 0.0 1.2 dtSig_C -1.0 0.2
