//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// $Id: omrho.config,v 1.15 2007/06/29 08:37:45 zhanglei Exp $
//
// This sample config is intended to demonstrate VV fitting
// using omegaRhop mode. When it is adopted for your analysis, please go
// through the config files carefully and make necessary changes.

[Dataset Definition]
include dsd_omrho.config

//[omegarhopDSI]
[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigLMC sigTMC bbData onData \\
           sigMC gsbData desbData

sigLMC   = ascii "sigL MC Data" "mydats/OmegaRhop_SIGMC_L.text" Q // quiet mode
sigTMC   = ascii "sigT MC Data" "mydats/OmegaRhop_SIGMC_T.text" Q // quiet mode
bbData   = ascii "peaking BB Data" "mydats/OmegaRhop_FEED.text" Q
onData   = ascii "onpeak Data" "mydats/OmegaRhop_ONPEAK.text" Q
sigMC    = add "L+T full MC" sigLMC 0 sigTMC 0
gsbData  = reduce "gsd Data"   onData "mes<5.27"
desbData = reduce "de sb Data" onData "(de<-.1)||(de>.1)"

tabulateDatasets = yes

// default master pdf config section
[mlFitter Config]
Comps = yieldModel
// dataset to fit
fitData = onData

//simultaneousFit = no
simultaneousFit = yes
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_yieldModel
physModels = the_yieldModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = DataMC(Data) runBlock
protDataVars = DataMC runBlock
protDataEVars = DataMC runBlock
the_yieldModel  = DataMC :  deSig_scale, mOSig_shift, mOSig_scale \\
                  DataMC,runBlock : mesSig_shift \\
                  runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4], Frac_nChls_runBlock[Run4]

// BR fit master pdf config, use command line option -C BRFit
[BRFit]
Comps = BRModel
// dataset to fit
fitData = onData
preMLReadParams = C "mlFitter Config"

//simultaneousFit = no
simultaneousFit = yes
//yieldSplitMethod = semi
yieldSplitMethod = auto
// SimPdfBuilder configs
//physModels = physCat : Gold=the_BRModel
physModels = the_BRModel // Please remember the RooFit pdf is created with a
                            // "the_" before the name of rarFit object.
splitCats = DataMC(Data) runBlock
protDataVars = DataMC runBlock
protDataEVars = DataMC runBlock
the_BRModel  = DataMC :  deSig_scale, mOSig_shift, mOSig_scale \\
               DataMC,runBlock : mesSig_shift \\
               runBlock : Frac_nSig_runBlock[Run4], Frac_nBkg_runBlock[Run4], Frac_nChls_runBlock[Run4]

[yieldModel Config]
configStr = MLPdf "ml model"
Comps = SigPdf BkgPdf ChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg 20000 L(0 - 40000)
nSig = nSig    56 L(-10 -  200)
nChls= nChls  130 L(0 - 3000)
postPdfFloat = nSig nBkg nChls

[BRModel Config]
configStr = MLPdf "ml model"
Comps = SigPdf BkgPdf ChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg  20000 L(0 - 40000)
nChls= nChls   130 L(0 - 3000)
nSig = nSig RooFormulaVar "@0*@1*@2*@3+@4" measBR nBB prodBR effcorr fitBias
measBR = measBR 10 L(-1 - 100)
nBB = nBB RooRealVar "nBB" 88.9 // run1~2
prodBR = prodBR RooRealVar "prodBR" 0.891
fitBias = fitBias RooRealVar "fitBias" 4.2
effcorr = RooFormulaVar "@0*@1+(1-@0)*@2" fL effL effT
// the following 3 configs should be the same as in [heliSig Config]
fL   = fL "f_{L}" 0.8 L(0. - 1.)
effL = effL 0.051 C
effT = effT 0.09 C
postPdfFloat = measBR nBkg nChls


[SigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = deSig mesSig fisSig mOSig mRSig heliSig
//Comps = deSig mesSig fisSig mOSig mRSig
fitData = sigMC

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
xtraPdfs = mOBkg mRBkg
Comps = deBkg mesBkg fisBkg oHMBkg rHMBkg
//Comps = deBkg mesBkg fisBkg mOBkg mRBkg
fitData = gsbData

[ChlsPdf Config]
configStr = ProdPdf "Chls Pdf"
Comps = deChls mesChls fisChls mOChls oHChls mRChls rHChls
//Comps = deChls mesChls fisChls mOChls mRChls
fitData = bbData

[deSig Config]
configStr = TwoGauss
x = de
meanC = 0. L (-.1 - .1)
meanT = -0.04 L(-.1 - .1)
sigmaC = 0.025 L(0 - 0.15)
sigmaT = 0.09  L(0 - 0.3)
fracC = 0.75   L(0.5 - 1.0)
scale  = 1.0 C L(0.8 - 1.2)
[deBkg Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 P02
[old deChls Config]
configStr = AddPdf
Comps = deChlsC deChlsT
Coeffs = fracC
fracC = 0.6 L(0. - 1.0)
[deChls Config]
//[deChlsC Config]
configStr = TwoGauss
x = de
meanC  =  0.01 L(-.3 - .3)
meanT  = -0.04 L(-.3 - .3)
sigmaC =  0.025 L(0 - 0.3)
sigmaT =  0.3 L(0 - 0.5)
fracC  =  0.75 L(0.5 - 1.0)
[deChlsT Config]
configStr = Polynomial
x = de
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)

[mesSig Config]
configStr = TwoGauss
x = mes
meanC = 5.28 L(5.25 - 5.29)
meanT = 5.27 L(5.25 - 5.29)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.008  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
shift = 0.0 C L(-.1 - .1)
[mesBkg Config]
fitData = desbData
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15. L(-80. - -0.1)
postPdfFloat = c
[mesChls Config]
configStr = AddPdf
Comps = mesChlsC mesChlsT
Coeffs = fracC
fracC = T "f_{C}" 0.6 L(0. - 1.0)
[mesChlsC Config]
configStr = Gaussian
x = mes
mean  = 5.28 L(5.25 - 5.29)
sigma = 0.01 L(0 - 0.15)
[mesChlsT Config]
configStr = ArgusBG
x = mes
max = 5.29 C
c = -15. L(-80. - -0.1)

[fisSig Config]
configStr = BGGauss
x = fisher
mean = -0.5 L(-2. - 2.)
rms =  0.6 L(0. - 1.)
asym = 0.1 L(-0.5 - 0.5)
[fisBkg Config]
configStr = AddPdf
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.)
[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
postPdfFloat = mean rms asym
[fisBkgT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"    0.8 L(-1. - 2.)
sigma =T "#sigma_{T}" 2.0 L(0. - 5.)
[fisChls Config]
configStr = AddPdf
Comps = fisChlsC fisChlsT
Coeffs = fracC
fracC = T "f_{C}" 0.97 L(0.5 - 1.)
[fisChlsC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    0.43 L(-2. - 2.)
rms =  T "#sigma_{C}" 0.6  L(0. - 1.)
asym = T "A_{C}"      0.07 L(-0.5 - 0.5)
[fisChlsT Config]
configStr = Gaussian
x = fisher
mean = T "#mu_{T}"    0.8 L(-1. - 2.)
sigma =T "#sigma_{T}" 2.0 L(0. - 5.)

[mOSig Config]
configStr = TwoGauss
x = mOmega
meanC = 0.782 L(0.76 - 0.80)
meanT = 0.780 L(0.76 - 0.80)
sigmaC = 0.008 L(0. - 0.01)
sigmaT = 0.02 L(0. - .1)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC =  0.6 L(0. - 1.)
[mOBkg Config]
configStr = AddPdf
Comps = mOSig mOPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mOSig shift_mOSig 0.0011 scale_mOSig 1.05
postPdfFloat = FracS
[mOPolyBkg Config]
configStr = Chebychev
x = mOmega
nOrder = 2
P01 = 0.2 L(-100 - 100)
P02 = -0.02 L(-100 - 100)
postPdfFloat = P01 
[mOChls Config]
configStr = AddPdf
Comps = mOChlsC mOChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.23 L(0 - 1.)
[mOChlsC Config]
configStr = Gaussian
x = mOmega
mean = 0.782 L(0.76 - 0.80)
sigma = 0.01 L(0. - 0.05)
[mOChlsT Config]
configStr = Chebychev
x = mOmega
nOrder = 3
P01 = 0.0 L(-10 - 10)
P02 = 0.0 L(-10 - 10)
P03 = 0.0 L(-10 - 10)

[mRSig Config]
configStr = TwoGauss
x = mRho
meanC = 0.722 L(0.6 - 0.9)
meanT = 0.760 L(0.6 - 0.9)
sigmaC = 0.05 L(0. - 0.2)
sigmaT = 0.2 L(0. - .5)
shift = 0.0 C L(-.1 - 0.1)
scale = 1.0 C L(0.8 - 1.2)
fracC = 0.6  L(0. - 1.)
[mRBkg Config]
configStr = AddPdf
Comps = mRSig mRPolyBkg
Coeffs = FracS
FracS = T "f_{S}" 0.23 L(0 - 1.)
prePdfFix = mRSig
postPdfFloat = FracS
[mRPolyBkg Config]
configStr = Chebychev
x = mRho
nOrder = 2
P01 = 0.2 L(-100 - 100)
P02 = -0.02 L(-100 - 100)
postPdfFloat = P01 
[mRChls Config]
configStr = AddPdf
Comps = mRChlsC mRChlsT
Coeffs = FracC
FracC = T "f_{C}" 0.23 L(0 - 1.)
[mRChlsC Config]
configStr = Gaussian
x = mRho
mean = 0.782 L(0.5 - 0.9)
sigma = 0.08 L(0. - 0.3)
[mRChlsT Config]
configStr = Chebychev
x = mRho
nOrder = 3
P01 = 0.0 L(-100 - 100)
P02 = 0.0 L(-100 - 100)
P03 = 0.0 L(-100 - 100)

[heliSig Config]
configStr = AddPdf
Comps = heliLSig heliTSig
Coeffs = fLraw
fLraw = fLraw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL effL effT
fL   = fL "f_{L}" 0.8 L(0. - 1.)
effL = effL 0.051 C
effT = effT 0.09 C
prePdfFix = fL .5 // fix fL to #MC_Long/#MC_Total,
                  // those numbers are from your ORIGINAL MC samples!
postPdfFloat = fL
[heliLSig Config]
configStr = ProdPdf
Comps = oHeliL rHeliL
fitData = sigLMC
[heliTSig Config]
configStr = ProdPdf
Comps = oHeliT rHeliT
fitData = sigTMC
[oHeliL Config]
configStr = Generic
formula = "@0*@0*@1" hOmega hOmegaAccpt
hOmegaAccpt = hOmegaAccpt RooFormulaVar "1./(1.+exp((@0-@1)/@2))" hOmega c1 c2
c1 = T "c1_{#omega}" -.1 L(-.5 - .2)
c2 = T "c2_{#omega}" -.4 L(-5 - -.001)
[oHeliT Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hOmega hOmegaAccpt
[rHeliL Config]
configStr = Generic
formula = "@0*@0*@1" hRho hRhoAccpt
hRhoAccpt = hRhoAccpt RooFormulaVar "1.+@1*@0+@2*@0*@0+@3*@0*@0*@0" hRho c1 c2 c3
c1 = T "c1_{#rho}" 0 L(-10 - 10)
c2 = T "c2_{#rho}" 0 L(-10 - 10)
c3 = T "c3_{#rho}" 0 L(-10 - 10)
[rHeliT Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hRho hRhoAccpt

[oHMBkg Config]
configStr = AddPdf
plotBins_mOmega = -1 // suppress this redundant plot
Comps = oHMsg oHMsd // oHMsg omega Heli mass SiGnalband
                    // oHMsd omega Heli mass SiDeband
compsDataOnPlot = mOBkg
Coeffs = mOBkg_FracS
prePdfFix = mOBkg_FracS mOSig mOPolyBkg
[oHMsg Config]
configStr = ProdPdf
Comps = mOSig oHBkgSG
[oHBkgSG Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hOmega c1 c2 c3
c1 = T "c1_{sg}" 0. L(-20.0 - 20.0)
c2 = T "c2_{sg}" 0. L(-20.0 - 20.0)
c3 = T "c3_{sg}" 0. L(-20.0 - 20.0)
[oHMsd Config]
configStr = ProdPdf
Comps = mOPolyBkg oHBkgSD
[oHBkgSD Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hOmega c1 c2 c3
c1 = T "c1_{sd}" 0. L(-20.0 - 20.0)
c2 = T "c2_{sd}" 0. L(-20.0 - 20.0)
c3 = T "c3_{sd}" 0. L(-20.0 - 20.0)

[rHMBkg Config]
configStr = AddPdf
plotBins_mRho = -1 // suppress this redundant plot
Comps = rHMsg rHMsd
compsDataOnPlot = mRBkg
Coeffs = mRBkg_FracS
prePdfFix = mRBkg_FracS mRSig mRPolyBkg
[rHMsg Config]
configStr = ProdPdf
Comps = mRSig rHBkgSG
[rHBkgSG Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hRho c1 c2 c3
c1 = T "c1_{sg}" 0. L(-20.0 - 20.0)
c2 = T "c2_{sg}" 0. L(-20.0 - 20.0)
c3 = T "c3_{sg}" 0. L(-20.0 - 20.0)
[rHMsd Config]
configStr = ProdPdf
Comps = mRPolyBkg rHBkgSD
[rHBkgSD Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hRho c1 c2 c3
c1 = T "c1_{sd}" 0. L(-20.0 - 20.0)
c2 = T "c2_{sd}" 0. L(-20.0 - 20.0)
c3 = T "c3_{sd}" 0. L(-20.0 - 20.0)

[oHChls Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hOmega c1 c2 c3
c1 = 0.0 L(-20.0 - 20.0)
c2 = 0.0 L(-20.0 - 20.0)
c3 = 0.0 L(-20.0 - 20.0)
[rHChls Config]
configStr = Generic
formula = "(1.0+@1*@0+@2*@0*@0+@3*@0*@0*@0)" hRho c1 c2 c3
c1 = 0.0 L(-20.0 - 20.0)
c2 = 0.0 L(-20.0 - 20.0)
c3 = 0.0 L(-20.0 - 20.0)

[PdfAct]
// pdfFit options
pdfFit = yes
//pdfToFit = deSig deBkg
//pdfToFit = mesSig mesBkg
//pdfToFit = fisSig fisBkg
//pdfToFit = mOChls
//pdfToFit = rHMBkg mRBkg mRSig
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec

[postPdfParamSec]
// put values you want to fix to the control sample, or for any reason
mOSig_shift_Data = 0.0011 +/- 0.00085288 C L(-0.1 - 0.1)
mOSig_scale_Data = 1.05 +/- 0.29237 C L(0.8 - 1.2)
deSig_scale_Data =  1.0500 +/- 0.20000 C L(0.8 - 1.2)
mesSig_shift_{Data;Run1} = 0.0008 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run2} = 0.0006 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run3} = 0.0004 +/- 0.0001 C L(-.1 - .1)
mesSig_shift_{Data;Run4} = 0.0001 +/- 0.0001 C L(-.1 - .1)

[MLAct]
// Datasets config here overrides that in [Dataset Input]
Datasets = onData
// mlFit options
mlFit = yes
//mlFitOption = emhr
preMLReadParams = yes
postMLWriteParams = yes

[eToyAct]
// toy options
toyStudy = yes
preToyReadSecParams = yes // override params listed here
fL=.88 L(0. - 1.2)
nBkg = 20000 L(0 - 40000)
nSig = 56 L(-10 -  200)
nChls= 130 L(0 - 3000)
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
//toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)
toySrc_nSig = sigLMC "@0*@1     nSig fLraw" \\
              sigTMC "@0*(1-@1) nSig fLraw" // nSig embed

[pToyAct]
// toy options
toyStudy = yes
preToyReadSecParams = yes // override params listed here
fL = .88 L(0. - 1.2)
nBkg = 20000 L(0 - 40000)
nSig = 56 L(-10 -  200)
nChls= 130 L(0 - 3000)
protToyData = onData
toyNexp = 1 // # experiments
//toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toyNevt=0 extended // 0 (set to protData #evt), extended (poisson fluctuation)

[BRToyAct]
// toy options
toyStudy = yes
fL=.88 L(0. - 1.2)
protToyData = onData
toyNexp = 1 // # experiments
toyNevt=0 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_measBR = sigLMC "@0*@1     measBR fLraw" \\
                sigTMC "@0*(1-@1) measBR fLraw" // nSig embed
//toySrc_measBR = pdf "@0 measBR" // pure toy
//nChls and nBkg use default, ie pdf nChls and pdf nBkg

[fLvsNsigContour]
// contourPlot options
contourPlot = yes
nContours = 5
contourVars = nSig 0 160 fL .3 1.4
contourRestrictFloatParams = 1 nBkg 2 nChls 0.0001

[fLvsBRContour]
// contourPlot options
contourPlot = yes
preContourPlotReadParams = yes
contourPlotFile = default
nContours = 5
contourVars = measBR -5 35 fL .0 1.5
contourRestrictFloatParams = .0001 nBkg 2 nChls 0.0001

[SPlotAct]
// sPlot options
sPlot = yes
sPlotComps = all //nSig
sPlotVars = mes de fisher mOmega mRho hOmega hRho
sPlotIgnoredVars_mOmega = hOmega hRho mRho
sPlotIgnoredVars_hOmega = hRho mOmega mRho
sPlotIgnoredVars_mRho = hOmega hRho mOmega
sPlotIgnoredVars_hRho = hOmega mOmega mRho
plotBins_mes = 20
plotBins_de = 15
plotBins_fisher = 12
plotBins_mOmega = 20
plotBins_mRho = 25
plotBins_hOmega = 5
plotBins_hRho = 10

