//////////////////////////////////////////////////////////////////////////////
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// Fit to rho0K*+ (K+ pi0)
//////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////
// Define datasets
///////////////////////////////////////////////////////////

[Dataset Definition]
include dsd_rho0Kstp_Kppi0.config

[Dataset Input]

// Specify dataset definition section
dsdSec = Dataset Definition

// Specify datasets to be defined

Datasets = sigLMC sigTMC sigMC\\ 
           f0MC \\
           onData gsbData desbData \\
           bpbm b0b0bar bbbar bbtrueK bbcombK bbtrueR bbcombR \\  
           etaprKst piminKst rhominKst_long rhominKst_tran KshortKst rho0rhop \\
           charmless11 charmless12 charmless13 charmless1 charmless2  \\
           pipiK rhoKpi\\
           fakeData \\
           dataBigKst \\


//sigLMC =         ascii  "L true MC data"   "mydats/hhhp-one-signal-long-true.dat" Q // (quiet mode)
//sigTMC =         ascii  "T true MC data"   "mydats/hhhp-one-signal-tran-true.dat" Q 

sigLMC =         ascii  "L true MC data"   "mydats/hhhp-one-signal-long-reco.dat" Q // (quiet mode)
sigTMC =         ascii  "T true MC data"   "mydats/hhhp-one-signal-tran-reco.dat" Q 

sigMC =          add    "L+T true MC data"  sigLMC 0. sigTMC 0.

f0MC =           ascii  "f0Kstar MC data"  "mydats/hhhp-one-f0Kst.dat" Q   

onData =         ascii  "onpeak data"      "mydats/hhhp-one-data-on-rho12.dat"    Q
gsbData =        reduce "gsb data"         onData "mES<5.27"
desbData =       reduce "dE sb data"       onData "(deltaE<-0.05)||(deltaE>0.05)"

bpbm =           ascii  "B+B-"             "mydats/hhhp-one-bpbm.dat" Q
b0b0bar =        ascii  "B0B0bar"          "mydats/hhhp-one-b0b0bar.dat" Q
bbbar =          add    "BBbar"            bpbm 0.0 b0b0bar 0.0
bbtrueK =        reduce "BBbar true K*"    bbbar "trueK==1"
bbcombK =        reduce "BBbar fake K*"    bbbar "trueK==0"
bbtrueR =        reduce "BBbar true rho"   bbbar "trueR==1"
bbcombR =        reduce "BBbar fake rho"   bbbar "trueR==0"

etaprKst =       ascii  "eta' Kstar"       "mydats/hhhp-one-etaprKst.dat" Q
piminKst =       ascii  "pi- Kstar"        "mydats/hhhp-one-piminKst.dat" Q 
rhominKst_long = ascii  "rho- Kstar lon"   "mydats/hhhp-one-rhominKst-long.dat" Q
rhominKst_tran = ascii  "rho- Kstar tran"  "mydats/hhhp-one-rhominKst-tran.dat" Q
KshortKst      = ascii  "Kshort Kstar"     "mydats/hhhp-one-KshortKst.dat" Q
rho0rhop       = ascii  "rho0 rho+"        "mydats/hhhp-one-rho0rhop.dat" Q


charmless11 =    add    "charmless11"      etaprKst       0.412 piminKst          0.630
charmless12 =    add    "charmless12"      rhominKst_long 0.305 rhominKst_tran    0.338
charmless13 =    add    "charmless13"      charmless11    0.0   charmless12       0.0
charmless1 =     add    "charmless1"       charmless13    0.0   KshortKst         0.0
charmless2 =     reduce "charmless2"       rho0rhop "mES>5.2"   // charmless2 is rho0rhop

pipiK =          ascii  "pipi K*"          "mydats/hhhp-one-pipiKst.dat" Q 
rhoKpi =         ascii  "rho K+ pi0"       "mydats/hhhp-one-rhoKpi.dat" Q 

fakeData =       ascii  "fake data"        "mydats/hhhp-fake-data.dat" Q

dataBigKst =     ascii  "Onpeak big Kst"   "mydats/hhhp-one-data-on-bigKst.dat" Q


tabulateDatasets = yes

//ub_onData = 354b68f7cd190fc94072433111cc5cf8  // 0.9
//ub_onData = da6290d7a97392ea89a12a8c68f38924  // 1.2
ub_onData = cc0b18d2c5e565948550356c686d4585  // 1.1
//ub_onData = c574d3a77cacf1d7d7675ab784ed95cc  // 1.0

ub_dataBigKst = e2457dc444da364a4db69aee099dae06
ub_fakeData = 402bba7a8ea8e5a397a557729f70b34c

///////////////////////////////////////////////////////////

[mlFitter Config]
Comps = yieldModel
fitData = onData

//simultaneousFit = yes
//yieldSplitMethod = auto
//physModels = the_yieldModel
//splitCats = chgCat(Minus,Plus)
//protDataVars = chgCat
//the_yieldModel  = chgCat : Frac_nSig_chgCat[Minus],   \\
//                           Frac_nBkg_chgCat[Minus], \\
//                           Frac_nBBbar_chgCat[Minus], \\
//                           Frac_nChls1_chgCat[Minus], Frac_nChls2_chgCat[Minus], \\
//                           Frac_nf0_chgCat[Minus], \\
//                           Frac_nf0b_chgCat[Minus],\\ 
//                           Frac_nRhoKPi_chgCat[Minus], \\
//                           Frac_nf0KPi_chgCat[Minus]
////                           Frac_nf0bKPi_chgCat[Minus], \\
////                           Frac_nPiPiK_chgCat[Minus]



///////////////////////////////////////////////////////////

[yieldModel Config]
configStr = MLPdf "ml yield model"

//Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf f0Pdf f0bPdf PiPiKPdf RhoKPiPdf f0KPiPdf f0bKPiPdf
//Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf f0Pdf f0bPdf RhoKPiPdf f0KPiPdf
//Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf f0Pdf f0bPdf 
//Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf
Comps = SigPdf BkgPdf

//Coeffs = nSig nBkg nBBbar nChls1 nChls2 nf0 nf0b nPiPiK nRhoKPi nf0KPi nf0bKPi
//Coeffs = nSig nBkg nBBbar nChls1 nChls2 nf0 nf0b nRhoKPi nf0KPi
//Coeffs = nSig nBkg nBBbar nChls1 nChls2 nf0 nf0b
//Coeffs = nSig nBkg nBBbar nChls1 nChls2
Coeffs = nSig nBkg


nSig =    nSig     35 L(-100 - 200)
nf0  =    nf0      62 L(-100 - 500) 
nf0b =    nf0b     20 L(-1000 -  1000)
nBkg =    nBkg  11203 L(1000 - 20000) 
nBBbar =  nBBbar  538 L(-1000 - 10000)
nChls1 =  nChls1   80 L(-1000 -  1000)
nChls2 =  nChls2   50 L(-1000 -  1000)
nPiPiK =  nPiPiK    0 L(-1000 -  1000)
nRhoKPi = nRhoKPi   0 L(-1000 -  1000)
nf0KPi =  nf0KPi    0 L(-100 -  1000)
nf0bKPi = nf0bKPi   0 L(-100 -  1000)


//postPdfFloat = nSig nBkg nBBbar nChls1 nChls2 Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus
//postPdfFloat = nSig nBkg nBBbar nChls1 nChls2 nf0 nf0b Frac_nf0_chgCat_Plus Frac_nBkg_chgCat_Plus
postPdfFloat = nSig nBkg


///////////////////////////////////////////////////////////

[BRFit]
Comps = BRModel
fitData = onData
preMLReadParams = C "mlFitter Config"

simultaneousFit = yes
yieldSplitMethod = auto
physModels = the_BRModel
splitCats = chgCat(Minus,Plus)
protDataVars = chgCat
the_BRModel  = chgCat : Frac_nSig_chgCat[Minus],   \\
                        Frac_nBkg_chgCat[Minus], \\
                        Frac_nBBbar_chgCat[Minus], \\
                        Frac_nChls1_chgCat[Minus], Frac_nChls2_chgCat[Minus], \\
                        Frac_nf0_chgCat[Minus], \\
                        Frac_nf0b_chgCat[Minus], \\
                        Frac_nRhoKPi_chgCat[Minus], \\
                        Frac_nf0KPi_chgCat[Minus]


[BRModel Config]
configStr = MLPdf "ml BR model"

Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf f0Pdf f0bPdf RhoKPiPdf f0KPiPdf
//Comps = SigPdf BkgPdf BBbarPdf Chls1Pdf Chls2Pdf

Coeffs = nSig nBkg nBBbar nChls1 nChls2 nf0 nf0b nRhoKPi nf0KPi
//Coeffs = nSig nBkg nBBbar nChls1 nChls2

nSig =    nSig RooFormulaVar "@0*@1*@2" measBR_Sig nBB eff_Sig
nf0  =    nf0  RooFormulaVar "@0*@1*@2" measBR_f0  nBB eff_f0
nBkg =    nBkg   9950  L(10000 - 20000) 
nBBbar =  nBBbar  384  L(100 -  1000)
nChls1 =  nChls1  99.1 L(-100 -  1000)
nChls2 =  nChls2  31.6 L(-100 -  1000)
nf0b =    nf0b    11.1 L(-100 -  1000)
nRhoKPi = nRhoKPi 23.4 L(-100 -  1000)
nf0KPi =  nf0KPi  13.7 L(-100 -  1000)

measBR_Sig =  measBR_Sig     10 L (0. - 100.)

eff_Sig = eff_Sig RooFormulaVar "(@0*@1+(1-@0)*@2)*@3*@4*@5*@6" fL_fin eff_L eff_T eff_tr eff_fit eff_pi0 p_BR
fL_fin =  fL_fin  RooConstVar   "Combined polarization"   0.913 C
eff_L =   eff_L   RooConstVar   "Longitudinal efficiency" 0.0814 C
eff_T =   eff_T   RooConstVar   "Transverse efficiency"   0.1653 C
eff_tr =  eff_tr  RooConstVar   "Tracking efficiency"     0.985 C
eff_fit = eff_fit RooConstVar   "Fit efficiency"          0.934 C
eff_pi0 = eff_pi0 RooConstVar   "pi0 efficiency"          0.9683 C
p_BR =    p_BR    RooConstVar   "Partial BR"              0.329 C 

//eff_Sig    =  eff_sig        RooConstVar "rhoK* eff" 0.0218 (nominal)        
//eff_Sig    =  eff_sig        RooConstVar "rhoK* eff" 0.0241 (without non-reso, different fL ==> different eff)         
//eff_Sig    =  eff_sig        RooConstVar "rhoK* eff" 0.0239 (m_pipi<1.0+ no f0)

measBR_f0  =  measBR_f0      10 L (0. - 100.)
eff_f0     =  eff_f0         RooConstVar "f0K* eff" 0.0276

nBB        =  nBB            RooConstVar "nBB" 231.74  // run1-4

postPdfFloat =  measBR_Sig measBR_f0 nBkg nBBbar nChls1 nChls2 nf0b Frac_nf0_chgCat_Plus Frac_nBkg_chgCat_Plus
//postPdfFloat =  measBR_Sig nBkg nBBbar nChls1 nChls2 Frac_nSig_chgCat_Plus Frac_nBkg_chgCat_Plus


///////////////////////////////////////////////////////////
// Define composition and categories of PDFs
///////////////////////////////////////////////////////////

[SigPdf Config]
configStr = ProdPdf "Signal Pdf"
Comps = mesSig deSig fisSig mKSig mRSig helSig
//Comps = mesSig deSig fisSig mKSig mRSig helSig chSig
fitData = sigMC

[f0Pdf Config]
configStr = ProdPdf "f0Kst Pdf"
Comps = mesSig deSig fisSig mKSig mf0 hKf0 hRf0
//Comps = mesSig deSig fisSig mKSig mf0 hKf0 hRf0 chf0
fitData = f0MC

[BkgPdf Config]
configStr = ProdPdf "Continuum Pdf"
Comps = mesBkg deBkg fisBkg mhKBkg mhRBkg
//Comps = mesBkg deBkg fisBkg mhKBkg mhRBkg chBkg
fitData = gsbData

[BBbarPdf Config]
configStr = ProdPdf "BBbar Pdf"
Comps = mesBBbar deBBbar fisBBbar mhKBBbar mhRBBbar
//Comps = mesBBbar deBBbar fisBBbar mhKBBbar mhRBBbar chBBbar
fitData = bbbar

[Chls1Pdf Config]
configStr = ProdPdf "Charmless1 Pdf"
Comps = mesChls1 deChls1 fisChls1 mKChls1 mRChls1 hKChls1 hRChls1
//Comps = mesChls1 deChls1 fisChls1 mKChls1 mRChls1 hKChls1 hRChls1 chChls1
fitData = charmless1

[Chls2Pdf Config]
configStr = ProdPdf "Charmless2 Pdf"
Comps = mesChls2 deChls2 fisChls2 mKChls2 mRChls2 hKChls2 hRChls2
//Comps = mesChls2 deChls2 fisChls2 mKChls2 mRChls2 hKChls2 hRChls2 chChls2
fitData = charmless2

[PiPiKPdf Config]
configStr = ProdPdf "PiPiKstar Pdf"
Comps = mesSig deSig fisSig mKSig mRPiPiK helSigLKst hRPiPiK
//Comps = mesSig deSig fisSig mKSig mRPiPiK helSigLKst hRPiPiK chPiPiK
fitData = pipiK

[RhoKPiPdf Config]
configStr = ProdPdf "Rho Kshort Pi Pdf"
Comps = mesSig deSig fisSig mKRhoKPi mRSig hKRhoKPi helSigLRho
//Comps = mesSig deSig fisSig mKRhoKPi mRSig hKRhoKPi helSigLRho chRhoKPi
fitData = rhoKpi

[f0bPdf Config]
configStr = ProdPdf "f0bKst Pdf"
Comps = mesSig deSig fisSig mKSig mf0b hKf0 hRf0
//Comps = mesSig deSig fisSig mKSig mf0b hKf0 hRf0 chf0b
fitData = f0MC

[f0KPiPdf Config]
configStr = ProdPdf "f0 Kshort Pi Pdf"
Comps = mesSig deSig fisSig mKRhoKPi mf0 hKRhoKPi hRf0
fitData = rhoKpi

[f0bKPiPdf Config]
configStr = ProdPdf "f0b Kshort Pi Pdf"
Comps = mesSig deSig fisSig mKRhoKPi mf0b hKRhoKPi hRf0
fitData = rhoKpi


/////////// mES

[mesSig Config]
configStr = TwoGauss "#rho K*"
x = mES
plotBins_mES = 40
meanC  = 5.28   L(5.25 - 5.29)
meanT  = 5.277  L(5.25 - 5.29)
sigmaC = 0.0023 L(0. - .01)
sigmaT = 0.0028 L(0. - .1)
fracC  = 0.785  L(0.5 - 1)
shift  = 0.0 C  L(-.1 - .1)


[mesf0 Config]
configStr = TwoGauss "f0 K*"
x = mES
plotBins_mES = 40
meanC  = 5.28   L(5.25 - 5.29)
meanT  = 5.277  L(5.25 - 5.29)
sigmaC = 0.0023 L(0. - .01)
sigmaT = 0.0028 L(0. - .1)
fracC  = 0.785  L(0.5 - 1)


[mesBkg Config]
configStr = ArgusBG "Continuum"
x = mES
plotBins_mES = 20
fitData = desbData
max = 5.29 C
c   = -24.3 L(-80. - -0.1)


[mesBBbar Config]
configStr = AddPdf "BBbar"
x = mES
plotBins_mES = 20
Comps = mesArgusBB mesGaussBB
Coeffs = fracA
fracA = T "f_{A}" 0.9 L(0.0 - 1.0)

[mesArgusBB Config]
configStr = ArgusBG 
x = mES
max = 5.29 C
c   = -24.3 L(-80. - -0.1)

[mesGaussBB Config]
configStr = Gaussian
x = mES
mean  = 5.28 L(5.27 - 5.29)
sigma = 0.0024 L(0.001 - 0.005)


[mesChls1 Config]
configStr = CBShape "Charmless1"
x = mES
plotBins_mES = 20
mean =  5.28 C
sigma = 0.004 L(0. - 0.01) 
alpha = 0.52  L(0. - 5.0)
n =     0.68  L(0. - 10.0)


[mesChls2 Config]
configStr = CBShape "Charmless2"
x = mES
plotBins_mES = 20
mean =  5.28 C
sigma = 0.004 L(0. - 0.01) 
alpha = 0.52  L(0. - 5.0)
n =     0.68  L(0. - 10.0)


/////////// deltaE

[deSig Config]
configStr = TwoGauss "#rho K*"
x = deltaE
plotBins_deltaE = 50
meanC  =  0.0026 L (-.1 - .1)
meanT  = -0.0021 L(-.1 - .1)
sigmaC =  0.0172 L(0 - 0.15)
sigmaT =  0.0401 L(0 - 0.3)
fracC  =  0.165  L(0.5 - 1.0)
shift  =  0.0 C  L(-.1 - .1)
scale  =  1.0 C  L(0. - 5.)

[def0 Config]
configStr = TwoGauss "f0 K*"
x = deltaE
plotBins_deltaE = 50
meanC  =  0.0026 L (-.1 - .1)
meanT  = -0.0021 L(-.1 - .1)
sigmaC =  0.0172 L(0 - 0.15)
sigmaT =  0.0401 L(0 - 0.3)
fracC  =  0.165  L(0.5 - 1.0)


[deBkg Config]
configStr = Polynomial "Continuum"
x = deltaE
plotBins_deltaE = 20
nOrder = 2
P01    = -1.26 L(-100 - 100)
P02    =  2.04 L(-100 - 100)


[deBBbar Config]
configStr = Polynomial "BBbar"
x = deltaE
plotBins_deltaE = 20
nOrder = 2
P01    = -4.3 L(-100 - 100)
P02    = 11.7 L(-100 - 100)


[deChls1 Config]
configStr = Polynomial "Charmless1"
x = deltaE
plotBins_deltaE = 20
nOrder = 4
P01    =  1.0 L(-10000 - 10000)
P02    =  1.0 L(-10000 - 10000)
P03    =  1.0 L(-10000 - 10000)
P04    =  1.0 L(-10000 - 10000)


[deChls2 Config]
configStr = TwoGauss "Charmless2"
x = deltaE
plotBins_deltaE = 20
meanC  =  0.005 L (-.1 - .1)
meanT  = -0.048 L(-.1 - .1)
sigmaC =  0.03  L(0 - 0.15)
sigmaT =  0.05  L(0 - 0.3)
fracC  =  0.25  L(0 - 1.0)


/////////// Fisher

[fisSig Config] 
configStr = AddPdf "#rho K*"
x = fisher
plotBins_fisher = 50
Comps = fisSigC fisSigT
Coeffs = fracC
fracC = T "f_{C}" 0.992 L(-1.0 - 1.0) 

[fisSigC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    -0.6818 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.456  L(0.0 - 2.0)
asym = T "A_{C}"       0.01   L(-0.5 - 0.5)

[fisSigT Config]
configStr = Gaussian
x = fisher
mean  = T "#mu_{T}"    0.4477 L(-2.0 - 2.0)
sigma = T "#sigma_{T}" 0.790  L(0.0 - 2.0)


[fisf0 Config] 
configStr = AddPdf "f0 K*"
x = fisher
plotBins_fisher = 50
Comps = fisf0C fisf0T
Coeffs = fracC
fracC = T "f_{C}" 0.992 L(-1.0 - 1.0) 

[fisf0C Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    -0.6818 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.456  L(0.0 - 2.0)
asym = T "A_{C}"       0.01   L(-0.5 - 0.5)

[fisf0T Config]
configStr = Gaussian
x = fisher
mean  = T "#mu_{T}"    0.4477 L(-2.0 - 2.0)
sigma = T "#sigma_{T}" 0.790  L(0.0 - 2.0)


[fisBkg Config]
configStr = AddPdf "Continuum"
x = fisher
plotBins_fisher = 50
Comps = fisBkgC fisBkgT
Coeffs = fracC
fracC = T "f_{C}" 0.954  L(-1.0 - 1.0)

[fisBkgC Config]
configStr = BGGauss
x = fisher
mean = T "#mu_{C}"    -0.0464 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.470  L(0.0 - 2.0)
asym = T "A_{C}"       0.01   L(-0.5 - 0.5)

[fisBkgT Config]
configStr = Gaussian
x = fisher
mean  = T "#mu_{T}"    0.0989 L(-2.0 - 2.0)
sigma = T "#sigma_{T}" 0.864  L(0.0 - 2.0)


[fisBBbar Config]
configStr = BGGauss
x = fisher
plotBins_fisher = 50
mean = T "#mu_{C}"    -0.4905 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.4351 L(0.0 - 2.0)
asym = T "A_{C}"       0.01   L(-0.5 - 0.5)


[fisChls1 Config]
configStr = BGGauss
x = fisher
plotBins_fisher = 50
mean = T "#mu_{C}"    -0.83 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.39 L(0.0 - 2.0)
asym = T "A_{C}"       0.01 L(-0.5 - 0.5)


[fisChls2 Config]
configStr = BGGauss
x = fisher
plotBins_fisher = 50
mean = T "#mu_{C}"    -0.83 L(-2.0 - 2.0)
rms =  T "#sigma_{C}"  0.39 L(0.0 - 2.0)
asym = T "A_{C}"       0.01 L(-0.5 - 0.5)


/////////// Resonances

/////////// K*+ mass

[mKSig Config]
configStr = BreitWigner "#rho K*"
x = mKst
plotBins_mKst = 30
mean  = 0.89166 L(0.8 - 1.0)
sigma = 0.0508 L(0.0 - 0.1)


[mKf0 Config]
configStr = BreitWigner "f0 K*"
x = mKst
plotBins_mKst = 30
mean  = 0.8917 L(0.8 - 1.0)
sigma = 0.0508 L(0.0 - 0.1)


[mKBkg Config]
configStr = AddPdf "Continuum"
Comps = mKSig mKPolyBkg
prePdfFix = mKSig
Coeffs = fracS
fracS = T "f_{S}" 0.186 L(0.0 - 1.0)
x = mKst
plotBins_mKst = 30

[mKPolyBkg Config]
configStr = Polynomial
x = mKst
nOrder = 1
P01    = 0.387 L(-100 - 100)


[mKBBbar Config]
configStr = AddPdf "BBbar"
Comps = mKSig mKPolyBBbar
prePdfFix = mKSig
Coeffs = fracS
fracS = T "f_{S}" 0.09 L(0.0 - 1.0)
x = mKst
plotBins_mKst = 30

[mKPolyBBbar Config]
configStr = Polynomial
x = mKst
nOrder = 2
P01    = 1.0 L(-1000 - 1000)
P02    = 1.0 L(-1000 - 1000)


[mKChls1 Config]
configStr = TwoGauss "Charmless1"
x = mKst
plotBins_mKst = 30
meanC  = T "#mu_{C}^{real K* mass}"    0.81 L(0.5 - 1.0)
meanT  = T "#mu_{T}^{real K* mass }"   0.81 L(0.5 - 1.0)
sigmaC = T "#sigma_{C}^{real K* mass}" 0.05 L(0.01 - 0.5)
sigmaT = T "#sigma_{T}^{real K* mass}" 0.05 L(0.01 - 0.5)
fracC  = T "f_{C}^{real K* mass}"      0.8  L(0.1 - 1)


[mKChls2 Config]
configStr = Polynomial "Charmless2"
x = mKst
plotBins_mKst = 30
nOrder = 3
P01 = T "p1_{fake K* mass}" -2.5 L(-100 - 100)
P02 = T "p2_{fake K* mass}"  8.5 L(-100 - 100)
P03 = T "p3_{fake K* mass}"  2.0 L(-100 - 100)


//[mKRhoKPi Config]
//configStr = Polynomial "#rho Kshort #pi"
//x = mKst
//nOrder = 3
//P01 = 1. L(-500 - 500)
//P02 = 1. L(-500 - 500)
//P03 = 1. L(-500 - 500)
//plotBins_mKst = 30

[mKRhoKPi Config]
configStr = Generic
formula = "@1*exp(-(@0-@2)*(@0-@2)/(2.*@3*@3))+@4*exp(-(@0-@5)*(@0-@5)/(2.*@6*@6))" mKst nor1 mea1 sig1 nor2 mea2 sig2
nor1 = T "N1"  15.02 C
mea1 = T "m1"  1.324 C
sig1 = T "#s1" 0.05665 C
nor2 = T "N2"  25.54 C
mea2 = T "m2"  1.204 C
sig2 = T "#s2" 0.2844 C
plotBins_mKst = 30


/////////// rho0 mass

[mRSig Config]
configStr = BreitWigner "#rho K*"
x = mRho
plotBins_mRho = 29
mean  = 0.7758  L(0.7 - 0.8)
sigma = 0.1503  L(0.1 - 0.2)


[mRBkg Config]
configStr = AddPdf "Continuum"
x = mRho
plotBins_mRho = 29
Comps = mRSig mRPolyBkg
prePdfFix = mRSig
Coeffs = fracS
fracS = T "f_{S}" 0.160 L(0.0 - 1.0)

[mRPolyBkg Config]
configStr = Polynomial
x = mRho
nOrder =  1
P01 = -0.0434 L(-100 - 100)


[mRBBbar Config]
configStr = AddPdf "BBbar"
x = mRho
plotBins_mRho = 29
Comps = mRSig mRPolyBBbar 
prePdfFix = mRSig
Coeffs = fracS
fracS = T "f_{S}" 0.06 L(0.0 - 1.0)

[mRPolyBBbar Config]
configStr = Polynomial
x = mRho
nOrder =  1
P01 = 1.373 L(-10000 - 10000)


[mRChls1 Config]
configStr = TriGauss "Charmless1"
x = mRho
plotBins_mRho = 29
meanC  = T "#mu_{C}^{fake #rho mass}"    0.75  L(0.5 - 1.0)
meanT  = T "#mu_{T}^{fake #rho mass}"    0.90  L(0.5 - 1.2)
meanO  = T "#mu_{O}^{fake #rho mass}"    0.94  L(0.9 - 1.0)
sigmaC = T "#sigma_{C}^{fake #rho mass}" 0.10  L(0.1 - 1.0)
sigmaT = T "#sigma_{T}^{fake #rho mass}" 0.40  L(0.0 - 1.0)
sigmaO = T "#sigma_{O}^{fake #rho mass}" 0.015 L(0.0 - 0.2) 
fracC  = T "f_{C}^{fake #rho mass}"      0.5   L (0.0 - 1.0)
fracO  = T "f_{O}^{fake #rho mass}"      0.05  L (0.0 - 1.0)


[mRChls2 Config]
configStr = TwoGauss "Charmless2"
x = mRho
plotBins_mRho = 29
meanC  = T "#mu_{C}^{real #rho mass}"    0.76 L(0.5 - 1.0)
meanT  = T "#mu_{T}^{real #rho mass }"    0.66 L(0.5 - 1.0)
sigmaC = T "#sigma_{C}^{real #rho mass}" 0.06 L(0.01 - 0.5)
sigmaT = T "#sigma_{T}^{real #rho mass}" 0.33 L(0.01 - 0.5)
fracC  = T "f_{C}^{real #rho mass}"      0.8  L(0.1 - 1)


[mRPiPiK Config]
configStr = Polynomial "#pi#pi K*"
x = mRho
nOrder = 3
P01 = 1. L(-500 - 500)
P02 = 1. L(-500 - 500)
P03 = 1. L(-500 - 500)
plotBins_mRho = 29


/////////// f0 mass

[mf0 Config]
configStr = BreitWigner "f0 K*"
x = mRho
plotBins_mRho = 29
mean  = 0.9750  L(0.8 - 1.2)
sigma = 0.044  L(0.0 - 1.0)


/////////// f0b mass

[mf0b Config]
configStr = BreitWigner "f0b K*"
x = mRho
plotBins_mRho = 29
mean  = 0.9750  L(0.8 - 1.6)
sigma = 0.044  L(0.0 - 1.0)


///////////  rho0 Kst signal helicity

[helSig Config]
configStr = AddPdf "rho K*"
fitData = sigMC
plotBins_hKst = 30
plotBins_hRho = 38
Comps = helSigL helSigT
Coeffs = fLraw
fLraw = fLraw RooFormulaVar "@0/((1-@0)*@2/@1+@0)" fL effL effT
fL   = fL "f_{L}" 0.8 L(-1.0 - 2.0)
effL = effL 0.0709 C
effT = effT 0.1502 C
prePdfFix = fL 0.5303 // fix fL to #MC_Long/#MC_Total, from original MC samples
postPdfFloat = fL

[helSigL Config]
configStr = ProdPdf
Comps = helSigLKst helSigLRho

[helSigT Config]
configStr = ProdPdf
Comps = helSigTKst helSigTRho

[helSigLKst Config]
configStr = Generic
formula = "@0*@0*@1" hKst hKstAccpt
hKstAccpt = hKstAccpt RooFormulaVar  "(1.+@1*@0+@2*@0*@0)/(1.+exp((@0-@3)/@4))" hKst c1 c2 c3 c4
c1 = T "c1_{K*}"  0.73    L(-10.0 - 10.0)
c2 = T "c2_{K*}"  0.04    L(-10.0 - 10.0)
c3 = T "c3_{K*}"  4.17e-7 L( 0.0   - 1.0)
c4 = T "c4_{K*}"  0.7     L( 0.001 - 1.0)
pdfFit = no

[helSigTKst Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hKst hKstAccpt

[helSigLRho Config]
configStr = Generic
formula = "@0*@0*@1" hRho hRhoAccpt
hRhoAccpt = hRhoAccpt RooFormulaVar "(1.+@1*@0+@2*@0*@0)/(1.+exp((@0-@3)/@4))*@5" hRho c1 c2 c3 c4 deep
c1 = T "c1_{#rho}"  0.0 C
c2 = T "c2_{#rho}"  0.57 L(-10.0 - 10.0) 
c3 = T "c3_{#rho}"  0.95 L(0.0 - 0.95)
c4 = T "c4_{#rho}"  0.29 L(0.001 - 1.0)
deep = deep RooFormulaVar "1.-@3*exp(-(@0-@1)*(@0-@1)/(2.*@2*@2))/(2.505*@2)" hRho mean sig norm
mean = T "deep_{mean}" 0.857  L (0.82  - 0.90) 
sig  = T "deep_{sig}"  0.0138 L (0.005 - 0.1)
norm = T "deep_{norm}" 0.0086 L (0.006 - 0.010) 
pdfFit = no

[helSigTRho Config]
configStr = Generic
formula = "(1-@0*@0)*@1" hRho hRhoAccpt


/////////// f0 helicities

[hKf0 Config]
configStr = Polynomial
x = hKst
plotBins_hKst = 30
nOrder = 3
P01 = 1.0 L(-1000.0 - 1000.0)
P02 = 1.0 L(-1000.0 - 1000.0)
P03 = 1.0 L(-1000.0 - 1000.0)

[hRf0 Config]
configStr = Generic
formula = "(1.+@2*@0*@0+@3*@0*@0*@0)*@1" hRho deepf p2 p3
deepf= deepf RooFormulaVar "1.-@3*exp(-(@0-@1)*(@0-@1)/(2.*@2*@2))/(2.505*@2)" hRho meanf sigf normf
meanf = T "deep_{mean}" 0.83  L(0.80 - 0.92)
sigf  = T "deep_{sig}"  0.01  L(0.00 - 0.03)
normf = T "deep_{norm}" 0.008 L(0.0 - 0.5)
p2 = T "p2" 1.0 L(-1000. - 1000.)
p3 = T "p3" 1.0 L(-1000. - 1000.)
plotBins_hRho = 38


/////////// Continuum mass-helicities

/////////// K*+

[mhKBkg Config]
configStr = AddPdf "Continuum"
Comps = mhKResBkg mhKComBkg
Coeffs = mKBkg_fracS
prePdfFix = mKBkg_fracS mKSig mKPolyBkg
xtraPdfs = mKBkg hKComBkg
plotBins_mKst = 30
plotBins_hKst = 30


[mhKResBkg Config]
configStr = ProdPdf "Continuum"
Comps = mKSig hKResBkg

[hKResBkg Config]
configStr = Polynomial
x = hKst
plotBins_hKst = 30
nOrder = 1
P01    = 0. C


[mhKComBkg Config]
configStr = ProdPdf "Continuum"
Comps = mKPolyBkg hKComBkg

[hKComBkg Config]
configStr = AddPdf "Continuum"
Comps = hKComBkg1 hKComBkg2
Coeffs = frac1
frac1 = T "f_{P}^{K* hel}" 0.8 L(0.0 - 1.0) 
plotBins_hKst = 30

[hKComBkg1 Config]
configStr = Polynomial
x = hKst
nOrder = 2
P01 = T "p_{1}^{K* hel}" -0.4 L(-10.0 - 10.0)
P02 = T "p_{2}^{K* hel}" 0.2 L(-10.0 - 10.0)

[hKComBkg2 Config]
configStr = Exp
x = hKst
c = T "c_{exp}^{K* hel}" -8.3  L(-15.0 - 0.0)


/////////// rho

[mhRBkg Config]
configStr = AddPdf "Continuum"
Comps = mhRResBkg mhRComBkg
Coeffs = mRBkg_fracS
xtraPdfs = mRBkg 
prePdfFix = mRBkg_fracS mRSig mRPolyBkg
plotBins_mRho = 29
plotBins_hRho = 19


[mhRResBkg Config]
configStr = ProdPdf "Continuum"
Comps = mRSig hRResBkg

[hRResBkg Config]
configStr = Polynomial
x = hRho
plotBins_hRho = 19
nOrder = 1
P01 = 0. C


[mhRComBkg Config]
configStr = Generic "Continuum"
formula = "@0*@1" mRComBkg hRComBkg
plotBins_hRho = 19
plotBins_mRho = -1

mRComBkg = mRComBkg RooFormulaVar "(1.+@1*@0)/(@3-@2+@1/2.*(@3*@3-@2*@2))" mRho slope mmn mmx
slope = mRPolyBkg_P01
mmn = 0.52 C
mmx = 1.2 C


hRComBkg = hRComBkg RooFormulaVar "(1.+@1*@0*@0+@2*exp(@3*@0)-@2*@3*@0)/(@5-@4+@1/3.*(@5*@5*@5-@4*@4*@4)+@2/@3*(exp(@3*@5)-exp(@3*@4))-@2*@3/2.*(@5*@5-@4*@4))" hRho aa bb cc hmn hmx
aa = aa RooFormulaVar "@1.+@2*@0+@3*@0*@0+@4*@0*@0*@0" mRho a0 a1 a2 a3 
a0 = T "a0^{#rho hel}" -20. L(-22.0 - -18.0)
a1 = T "a1^{#rho hel}"  65. L( 60.0 -  70.0)
a2 = T "a2^{#rho hel}" -65. L(-75.0 - -55.0)
a3 = T "a3^{#rho hel}"  17. L( 10.0 -  20.0)
bb = bb RooFormulaVar "@1.+@2*@0+@3*@0*@0+@4*@0*@0*@0" mRho b0 b1 b2 b3 
b0 = T "b0^{#rho hel}"   1.4 L( -5.0 -  5.0)
b1 = T "b1^{#rho hel}"  -4.3 L(-10.0 -  0.0)
b2 = T "b2^{#rho hel}"   3.7 L(  0.0 - 10.0)
b3 = T "b3^{#rho hel}"  -0.2 L( -5.0 -  5.0)
cc = T "c_{exp}^{#rho hel}" 3.0 C
hmn = 0.00 C
hmx = 0.95 C


/////////// BBbar mass-helicities

/////////// K*

[mhKBBbar Config]
configStr = AddPdf "BBbar"
Comps = mhKResBBbar mhKComBBbar
Coeffs = mKBBbar_fracS
xtraPdfs = mKBBbar hKResBBbar hKComBBbar
prePdfFix = mKBBbar_fracS mKSig mKPolyBBbar
plotBins_mKst = 30
plotBins_hKst = 30

[mhKResBBbar Config]
configStr = ProdPdf "BBbar"
Comps = mKSig hKResBBbar

[hKResBBbar Config]
configStr = Polynomial
x = hKst
plotBins_hKst = 30
fitData = bbtrueK
nOrder = 3
P01 = T "p_{1}^{res}" -0.6 L(-100. - 100.)
P02 = T "p_{2}^{res}"  2.0 L(-100. - 100.)
P03 = T "p_{3}^{res}" -1.0 L(-100. - 100.)

[mhKComBBbar Config]
configStr = ProdPdf "BBbar"
Comps = mKPolyBBbar hKComBBbar

[hKComBBbar Config]
configStr = Polynomial
x = hKst
plotBins_hKst = 30
fitData = bbcombK
nOrder = 3
P01 = T "p_{1}^{com}" -0.9 L(-10.0 - 10.0)
P02 = T "p_{2}^{com}"  1.2 L(-10.0 - 10.0)
P03 = T "p_{3}^{com}"  1.0 L(-10.0 - 10.0)


/////////// rho

[mhRBBbar Config]
configStr = AddPdf "BBbar"
Comps = mhRResBBbar mhRComBBbar
Coeffs = mRBBbar_fracS
xtraPdfs = mRBBbar hRResBBbar hRComBBbar
prePdfFix = mRBBbar_fracS mRSig mRPolyBBbar
plotBins_mRho = 29
plotBins_hRho = 19

[mhRResBBbar Config]
configStr = ProdPdf "BBbar"
Comps = mRSig hRResBBbar

[hRResBBbar Config]
configStr = Polynomial
x = hRho
plotBins_hRho = 19
fitData = bbtrueR
nOrder = 3
P01 =  T "p_{1}^{#rho res}"    0.  C
P02 =  T "p_{2}^{#rho res}"  2.9 L(-100.0 - 100.0)
P03 =  T "p_{3}^{#rho res}" -3.3 L(-100.0 - 100.0)

[mhRComBBbar Config]
configStr = ProdPdf "BBbar"
Comps = mRPolyBBbar hRComBBbar

[hRComBBbar Config]
configStr = Generic
plotBins_hRho = 19 
fitData = bbcomR
formula = "(1.+@1*@0*@0+@2*@0*@0*@0)/(1.+exp((@0-@3)/@4))" hRho p2 p3 x0 ip
p2 = T "p2_{#rho com}" -5.4  L(-50.0 - 50.0)
p3 = T "p3_{#rho com}" 20.0  L(-50.0 - 50.0)
x0 = T "x0_{#rho com}"  0.9674 L(0.85 - 0.99)
ip = T "ip_{#rho com}"  0.055  L(0.01 - 0.09)


/////////// Charmless1 helicities

[hKChls1 Config]
configStr = Polynomial
x = hKst
nOrder = 3
P01 = T "p_{1}^{real K* hel}" 1.0 L (-100. - 100.)
P02 = T "p_{2}^{real K* hel}" 1.0 L (-100. - 100.)
P03 = T "p_{3}^{real K* hel}" 1.0 L (-100. - 100.)
plotBins_hKst = 15


[hRChls1 Config]
configStr = AddPdf "Charmless1"
Comps = hRChls11 hRChls12
Coeffs = frac1
frac1 = T "f_{P}^{fake #rho hel}" 0.8 L(0.0 - 1.0) 
plotBins_hRho = 19

[hRChls11 Config]
configStr = Polynomial
x = hRho
nOrder = 2
P01 = T "p_{1}^{fake #rho hel}" 0.0 C
P02 = T "p_{2}^{fake #rho hel}" 0.3475 L(0.01 - 10.0)

[hRChls12 Config]
configStr = Exp
x = hRho
c =  T "c^{fake #rho hel}" 16.0 L(0.0 - 20.0)


/////////// Charmless2 helicities

[hKChls2 Config]
configStr =  AddPdf "Charmless2"
Comps = hKChls21 hKChls22
Coeffs = frac1
frac1 = T "f_{P}^{fake K* hel}" 0.2 L(0.0 - 1.0) 
plotBins_hKst = 15

[hKChls21 Config]
configStr = Polynomial
x = hKst
plotBins_hKst = 15
nOrder = 2
P01 = T "p_{1}^{fake K* hel}" -13.16 C L (-14.0 - 11.0)
P02 = T "p_{2}^{fake K* hel}"  21.15 C L (15.0 - 25.0)

[hKChls22 Config]
configStr = Exp
plotBins_hKst = 15
x = hKst
c =  T "c^{fake K* hel}" -3.8 L (-6.0 - 0.0)


[hRChls2 Config]
configStr =  AddPdf "Charmless2"
Comps = hRChls21 hRChls22
Coeffs = frac1
frac1 = T "f_{P}^{real #rho hel}" 0.8 L(0.0 - 1.0) 
plotBins_hRho = 19

[hRChls21 Config]
configStr = Polynomial 
x = hRho
plotBins_hRho = 19
nOrder = 2
P01 = T "p1_{real #rho hel}"   0.0 C
P02 = T "p2_{real #rho hel}" 100.0 L(-1000.0 - 1000.0)

[hRChls22 Config]
configStr = Exp
plotBins_hRho = 19
x = hRho
c =  T "c^{real #rho hel}" 1.0 L (-10.0 - 10.0)


/////////// PiPi K* helicities

[hKPiPiK Config]
configStr = Polynomial "#pi #pi K*"
x = hKst
nOrder = 3
P01 = 1.0 L(-100.0 - 100.0)
P02 = 1.0 L(-100.0 - 100.0)
P03 = 1.0 L(-100.0 - 100.0)
plotBins_hKst = 15


[hRPiPiK Config]
configStr = Polynomial "#pi #pi K*"
x = hRho
nOrder = 3
P01 = 0.0 C
P02 = 1.0 L(-100.0 - 100.0)
P03 = 1.0 L(-100.0 - 100.0)
plotBins_hRho = 19


/////////// Rho Kshort Pi helicities

[hKRhoKPi Config]
configStr = Polynomial "#rho Kshort #pi"
x = hKst
nOrder = 3
P01 = 1.0 L(-100.0 - 100.0)
P02 = 1.0 L(-100.0 - 100.0)
P03 = 1.0 L(-100.0 - 100.0)
plotBins_hKst = 15


[hRRhoKPi Config]
configStr = Polynomial "#rho Kshort #pi"
x = hRho
nOrder = 3
P01 = 0.0 C 
P02 = 1.0 L(-100.0 - 100.0)
P03 = 1.0 L(-100.0 - 100.0)
plotBins_hRho = 19


/////////// Charge

[chSig Config]
configStr = Step "#rho K*"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chSig_H00


[chf0 Config]
configStr = Step "f0 K*"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chf0_H00


[chf0b Config]
configStr = Step "f0 K*"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chf0b_H00


[chBkg Config]
configStr = Step "Continuum"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chBkg_H00


[chBBbar Config]
configStr = Step "BBbar"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chBBbar_H00


[chChls1 Config]
configStr = Step "Charmless 1"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chChls1_H00


[chChls2 Config]
configStr = Step "Charmless 2"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
postPdfFloat = chChls2_H00


[chPiPiK Config]
configStr = Step "#pi#pi K"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
//postPdfFloat = chPiPiK_H00


[chRhoKPi Config]
configStr = Step "#rho K #pi"
x = charge
nBins = 2
limits = -1.5 0.0 1.5
H00 = 0.5 L (0. - 0.66667)
plotBins_charge = 2
//postPdfFloat = chRhoKPi_H00


///////////////////////////////////////////////////////////
// PDFs fit options
//////////////////////////////////////////////////////////

[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes


///////////////////////////////////////////////////////////
// ML fit options
///////////////////////////////////////////////////////////

[MLAct]
mlFit = yes
mlFitData = onData
//mlFitData = fakeData
//mlFitData = dataBigKst

postMLSignf = nSig nf0 fL

//preMLReadParams = yes
preMLReadSecParams = ParamDataSec  // To overwrite some parameters

[ParamDataSec]
mesSig_shift =  0.0006 C
deSig_shift  = -0.0035 C
deSig_scale  =  1.0250 C

mKSig_mean   =  0.89166 C
mKSig_sigma  =  0.0508 C

mRSig_mean   =  0.7758 C
mRSig_sigma  =  0.1503 C

mf0_mean     =  0.9750 C 
mf0_sigma    =  0.044 C
 
mf0b_mean    =  1.350 C
mf0b_sigma   =  0.200 C

nRhoKPi = 23.4 C
nf0KPi = 13.7 C

//nf0 =     0.0 C
//nf0b =    0.0 C
//nRhoKPi = 0.0 C
//nf0KPi =  0.0 C
//nf0bKPi = 0.0 C


///////////////////////////////////////////////////////////
// Embedded toys options
///////////////////////////////////////////////////////////

[eToyAct]
toyStudy = yes
protToyData = onData
toyNexp = 10
//toyNevt = 0 notfixed
toyNevt = 10000 notfixed

//toySrc_nSig   = sigLMC      29
toySrc_nSig   = sigLMC      50
//toySrc_nSig   = sigMC      29
//toySrc_nSig   = sigTMC      29
//toySrc_nSig   = sigLMC 20 sigTMC 9 
//toySrc_nf0    = f0MC        46
//toySrc_nChls1 = charmless1 106   
//toySrc_nChls2 = charmless2  38
toySrc_nBkg   = pdf       9933
//toySrc_nBBbar = pdf        415
//toySrc_nf0b   = pdf         10

preToyReadParams = yes
toyDataFilePrefix = F "prova" N "eToyAct"
  // To generate/fit only
toyGenerate = no   
toyFit = yes


///////////////////////////////////////////////////////////
// Projection plots
///////////////////////////////////////////////////////////

[ProjAct]
projPlot = yes
projPlotData = onData
projLLRPlots = yes
preProjPlotReadParams = yes
//projComps = SigPdf
projComps = f0Pdf
projVars = mES deltaE fisher mKst mRho hKst hRho
//projVars = mES deltaE fisher

// mES
plotBins_mES = 20
projLRatioCut_mES = 0.97
//projFindOptimCut_mES = yes
//projOptimStep_mES = 0.005
//projOptimRange_mES = "mES>5.274 && mES<5.286"

// deltaE
plotBins_deltaE = 20
projLRatioCut_deltaE = 0.97
//projFindOptimCut_deltaE = yes
//projOptimStep_deltaE = 0.005
//projOptimRange_deltaE = "abs(deltaE)<0.05"

// fisher
plotBins_fisher = 20
projLRatioCut_fisher = 0.97
//projFindOptimCut_fisher = yes
//projOptimStep_fisher = 0.005

// mKst
plotBins_mKst = 15
projLRatioCut_mKst = 0.97
//projFindOptimCut_mKst = yes
//projOptimStep_mKst = 0.005
//projOptimRange_mKst = "mKst>0.841 && mKst<0.942"

 // mRho
plotBins_mRho = 29
projLRatioCut_mRho = 0.97
//projFindOptimCut_mRho = yes
//projOptimStep_mRho = 0.005
//projOptimRange_mRho = "mRho> 0.6255 && mRho<0.9261"
//projOptimRange_mRho = "mRho> 0.9 && mRho<1.1"

// hKst
plotBins_hKst = 15
projLRatioCut_hKst = 0.97
//projFindOptimCut_hKst = yes
//projOptimStep_hKst = 0.005
//projOptimRange_hKst = "abs(hKst)>0.5"

// hRho
plotBins_hRho = 19
projLRatioCut_hRho = 0.97
//projFindOptimCut_hRho = yes
//projOptimStep_hRho = 0.005
//projOptimRange_hRho = "abs(hRho)>0.5"


///////////////////////////////////////////////////////////
// S- plots
///////////////////////////////////////////////////////////

[SPlotAct]
sPlot = yes
sPlotData = onData
preSPlotReadParams = yes
sPlotComps = all
sPlotVars = mES deltaE fisher mKst mRho hKst hRho
sPlotIgnoredVars_mRho = hRho
sPlotIgnoredVars_hRho = mRho
plotBins_mES = 20
plotBins_deltaE = 20
plotBins_fisher = 20
plotBins_mKst = 15
plotBins_mRho = 14
plotBins_hKst = 15
plotBins_hRho = 19


///////////////////////////////////////////////////////////
// Scan
///////////////////////////////////////////////////////////

[fLScan]
scanPlot = yes
scanPlotData = onData
scanVars = fL 0. 1.15
nScanPoints = 100
//scanVars = fL 0.82 0.84
//nScanPoints = 10  


[BRScan]
scanPlot = yes
scanPlotData = onData
//scanVars = measBR_Sig 0.0 15.0
scanVars = measBR_f0 0.0 12.0
nScanPoints = 100


[AScan]
scanPlot = yes
scanPlotData = onData
scanVars = Frac_nf0_chgCat_Plus 0. 1.
nScanPoints = 50


///////////////////////////////////////////////////////////
// Contour
///////////////////////////////////////////////////////////

[fLBRContour]
contourPlot = yes
contourPlotData = onData
preContourPlotReadParams = yes
contourPlotFile = default
contourVars = measBR_Sig 0.0 15.0 fL 0. 1.15
contourRestrictFloatParams = yes
nContours = 3
