//
// Project: BaBar detector at the SLAC PEP-II B-factory
// Package: RooRarFit
// $Id: sxfSig.config,v 1.4 2007/06/29 08:37:45 zhanglei Exp $
//
//Q: I would like to include a component in my fit for self crossfeed signal
//   events.  I will then fix the fraction of self crossfeed, and then in my
//   final fit just float the total signal yield.
//A: Sample configs dealing with sxf Pdf in that fashion are shown below.
//   Please notice that the config file is NOT complete.

[mlFitter Config]
Comps = yieldModel

[yieldModel Config]
configStr = MLPdf "ml model"
Comps = SigPdf BkgPdf ChlsPdf
Coeffs = nSig nBkg nChls
nBkg = nBkg  6000 L(0 - 10000)
nSig = nSig   156 L(-10 - 500)
nChls= nChls 1300 L(0 - 3000)
postPdfFloat = nBkg nSig nChls

xtraPdfs =  realSigPdf sxfSigPdf

[SigPdf Config]
configStr = AddPdf "Signal Pdf"
Comps = realSigPdf sxfSigPdf
Coeffs = fracR
fracR = .9 C // you can replace it with what you get from #McTruth/#total.
             // In principle, you should be able to float this fraction
             // in your final ml fit.
pdfFit = no

[realSigPdf Config]
configStr = ProdPdf "Real Signal Pdf"
Comps = deSigR mesSigR ...
fitData = sigMC "McTruth==1"

[sxfSigPdf Config]
configStr = ProdPdf "SXF Signal Pdf"
Comps = deSigX mesSigX ...
fitData = sigMC "McTruth==0"

