Fields = Exp Run EvtNum Cand isSig Mbc DeltaE Mphi cThHelPhi csVar DeltaT DeltaTErr customIsSig

Exp           = RooRealVar "Exp" -1 4000 B(40)
Run           = RooRealVar "Run" -1 100000 B(40)
EvtNum        = RooRealVar "EvtNum" -1 1000000000 B(40)
Cand          = RooRealVar "Cand" -1 9 B(10)
isSig	      = RooRealVar "isSig" -1 2
Mbc    	      = RooRealVar "M_{bc}" 5.25 5.295 B(45) "GeV"
DeltaE 	      = RooRealVar "#DeltaE" -0.2 0.2 B(40) "GeV"
Mphi 	      = RooRealVar "M(#phi)" 1. 1.05 B(50) "GeV"
cThHelPhi     = RooRealVar "cos(#theta_{hel})" -1. 1. B(40)
csVar	      = RooRealVar "csVar" -10 10 B(40)
DeltaT	      = RooRealVar "#Deltat" -2500 2500 B(50) "ps"         // for now include also events with bad DeltaT
DeltaTErr     = RooRealVar "#Deltat error" -2500 2500 B(50) "ps"
customIsSig   = RooRealVar "customIsSig" -1 2
