// rarFit configuration file 
// for B0 -> phi(KK) Ks

[Dataset Definition]
include dsd_PhiKs_ch1.config


[Dataset Input]
dsdSec = Dataset Definition
Fields = Exp Run EvtNum Cand isSig Mbc DeltaE Mphi cThHelPhi csVar DeltaT DeltaTErr customIsSig
Datasets = sigMC sigMCR sigMCX mcCont nonRes BBbar blindData mbcSBdata deSBdata ichepData

sigMC = ascii "sigMC R" "../flatFiles/PhiKs/flatFile_signal_BGx1.text" Q // quiet mode
sigMCR = reduce "real sigMC" sigMC "isSig==1" Q
sigMCX = reduce "sxf sigMC" sigMC "isSig==0 && customIsSig==0" Q
mcCont = ascii "continuum MC" "../flatFiles/PhiKs/flatFile_continuum_BGx1.text" Q // quiet mode
nonRes = ascii "non-resonant MC"  "../flatFiles/PhiKs/flatFile_nonRes_BGx1.text" Q
BBbar = ascii "BBbar MC"  "../flatFiles/PhiKs/flatFile_BBbar_BGx1.text" Q

blindData = ascii "blindData" "../flatFiles/PhiKs/flatFile_PhiKs_ICHEP_blind.text" Q

mbcSBdata = reduce "mbc SB data" blindData "Mbc < 5.27" Q
deSBdata = reduce "de SB data" blindData "DeltaE < -0.1 || DeltaE > 0.1" Q

ichepData = ascii "ICHEP data" "../flatFiles/PhiKs/flatFile_PhiKs_ICHEP_unblind.text" Q


// unblindind strings:

ub_ichepData = eea8ffab5e9c9df47a5268db269e1a0c



[mlFitter Config]
Comps = yieldModel
fitData = ichepData


[yieldModel Config]
configStr = MLPdf "ml model"
Comps = RealSigPdf SxfSigPdf BkgPdf NonResPdf BBbarPdf 
Coeffs = nSig nSXF nBkg nNonRes nBBbar
nSig = nSig        0.0 L(-300 -  10000)
nSXF = nSXF        0.0 L(-300 -  1000)
nBkg = nBkg        100 L(-300 -  1000)
nNonRes = nNonRes  1.9 L(-300 -  1000)
nBBbar  = nBBbar   3.4 L(-300 -  1000)
postPdfFloat = nSig nBkg


[RealSigPdf Config]
configStr = ProdPdf " Real Signal Pdf"
Comps = MbcR DeltaER csVarR MphiR HelPhiSigR
fitData = sigMCR

[SxfSigPdf Config]
configStr = ProdPdf " Sxf Signal Pdf"
Comps = MbcX DeltaEX csVarX MphiX HelPhiSigX
fitData = sigMCX

[BkgPdf Config]
configStr = ProdPdf " Bkg Pdf"
Comps = MbcBkg DeltaEBkg csVarBkg MphiBkg HelPhiBkg
fitData = blindData

[NonResPdf Config]
configStr = ProdPdf " NonRes Pdf"
Comps = MbcNonRes DeltaENonRes csVarNonRes MphiNonRes HelPhiNonRes
fitData = nonRes

[BBbarPdf Config]
configStr = ProdPdf " BBbar Pdf"
Comps = MbcBBbar DeltaEBBbar csVarBBbar MphiBBbar HelPhiBBbar
fitData = BBbar


//--- PDF definitions


[MbcR Config]
configStr = TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MbcX Config]
configStr =  TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MbcBkg Config]
configStr = ArgusBG
fitData = deSBdata
x = Mbc
max = 5.29 L(5.285 - 5.292)
c = -15.0 L(-80. - -0.1)
postPdfFloat = c


[MbcNonRes Config]
configStr = TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MbcBBbar Config]
configStr = AddPdf
Comps = MbcBBC MbcBBT
Coeffs = fracC
fracC = T "f_{C}" 0.6 L(0. - 1.0)
[MbcBBC Config]
configStr = Gaussian
x = Mbc
mean  = 5.28 L(5.25 - 5.2893)
sigma = 0.01 L(0 - 0.15)
[MbcBBT Config]
configStr = ArgusBG
x = Mbc
max = 5.29 C
c = -15. L(-200. - -0.1)
pow = 0.5 L(-2.0 - 2.0)



[DeltaER Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = -0.01 L(-0.1 - 0.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[DeltaEX Config]
configStr = Polynomial
x = DeltaE
nOrder = 4
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
P03 =  0.0 L(-100 - 100)
P04 =  0.0 L(-100 - 100)


[DeltaEBkg Config]
configStr = Polynomial
fitData = mbcSBdata
x = DeltaE
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01 


[DeltaENonRes Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = -0.01 L(-0.1 - 0.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[DeltaEBBbar Config]
configStr = Polynomial
x = DeltaE
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)



[csVarR Config]
configStr = TriGaussModel
x = csVar
meanC = 0.01 L(-1. - 10.)
meanT = -0.01 L(-10. - 10.)
meanO = -1 L(-10 - 10)
sigmaC = 2 L(0. - 5)
sigmaT = 3 L(0. - 5)
sigmaO = 2 L(0. - 5)
fracC =  0.6 L(0.1 - 0.75)
fracO =  0.1 L(0.01 - 0.2)


[csVarX Config]
configStr = TwoGauss
x = csVar
meanC  = 2 L(1 - 5.)
sigmaC = 0.6 L(0.1 - 2.)
meanT  = 0 L(-2. - 2.)
sigmaT = 1.4 L(.5 - 5)
fracC  = 0.3 L(.01 - 1)


[csVarBkg Config]
configStr = TriGaussModel
x = csVar
//fitData = mcCont
meanC = 0.01 L(-1. - 10.)
meanT = -0.01 L(-10. - 10.)
meanO = -1 L(-10 - 10)
sigmaC = 2 L(0. - 5)
sigmaT = 3 L(0. - 5)
sigmaO = 2 L(0. - 5)
fracC =  0.6 L(0.1 - 0.75)
fracO =  0.1 L(0.01 - 0.2)
postPdfFloat = meanT        // the "dominant" gaussian is the tail here


[csVarNonRes Config]
configStr = TwoGauss
x = csVar
meanC  = 2 L(1 - 5.)
sigmaC = 0.6 L(0.1 - 2.)
meanT  = 0 L(-2. - 2.)
sigmaT = 1.4 L(.5 - 5)
fracC  = 0.3 L(.01 - 1)


[csVarBBbar Config]
configStr = TwoGauss
x = csVar
meanC  = 4 L(3 - 5.)
sigmaC = 0.6 L(0.1 - 2.)
meanT  = 3 L(-2. - 5.)
sigmaT = 1.4 L(.5 - 5)
fracC  = 0.3 L(.01 - 1)



[MphiR Config]
configStr = AddPdf
Comps = MphiRBW MphiRG
Coeffs = fracRBW
fracRBW = T "f_{RBW}" 0.9 L(0. - 1.0)
[MphiRBW Config]
configStr = RelBreitWigner
x = Mphi		   
mean  = 1.02 L(0.95 - 1.1)  
width = 0.004 L(0.002 - 1.0) 
mass_a = 0.4937 C
mass_b = 0.4937 C
spin = 1
[MphiRG Config]
configStr = Gaussian
x = Mphi
mean =  1.02 L (1. - 1.03)
sigma = 0.01 L(0 - 0.15)


[MphiX Config]
configStr = AddPdf
Comps = MphiRBWX MphiPolyX
Coeffs = fracRBWX
fracRBWX = T "f_{RBWX}" 0.9 L(0. - 1.0)
[MphiRBWX Config]
configStr = RelBreitWigner
x = Mphi		   
mean  = 1.01952 C
width = 0.004378 C
mass_a = 0.4937 C
mass_b = 0.4937 C
spin = 1
[MphiPolyX Config]
configStr = Polynomial
x = Mphi
nOrder = 4
P01 = T "mPhiBkg_p1X" -1.5 L(-100 - 100)
P02 = T "mPhiBkg_p2X"  2.0 L(-100 - 100)
P03 = T "mPhiBkg_p3X"  0.0 L(-100 - 100)
P04 = T "mPhiBkg_p4X"  0.0 L(-100 - 100)


[MphiBkg Config]
configStr = AddPdf
Comps = Mphi2G MphiPolBkg
Coeffs = frac2G
frac2G = T "f_{2G}" 0.8 L(0.1 - 0.9)
postPdfFloat = frac2G
[Mphi2G Config]
configStr = TwoGauss
x = Mphi
meanC = 1.02 L(0.95 - 1.1)
meanT = 1.05 L(0.95 - 1.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
[MphiPolBkg Config]
configStr = Polynomial
x = Mphi
nOrder = 4
P01 = T "mPhiBkg_p1" -1.5 L(-100 - 100)
P02 = T "mPhiBkg_p2"  2.0 L(-100 - 100)
P03 = T "mPhiBkg_p3"  0.0 L(-100 - 100)
P04 = T "mPhiBkg_p4"  0.0 L(-100 - 100)
postPdfFloat = P01


[MphiNonRes Config]
configStr = Polynomial
x = Mphi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)


[MphiBBbar Config]
configStr = Polynomial
x = Mphi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)



[HelPhiSigR Config]
configStr = Generic
formula = "@0*@0*@1" cThHelPhi AccptSigR
// for the acceptance, use only the linear term + some even components
AccptSigR = AccptSigR RooFormulaVar "1. + @1*@0 + @2*@0*@0 + @3*@0*@0*@0*@0 + @4*@0*@0*@0*@0*@0*@0" cThHel c1R c2R c4R c6R
c1R = T "c1_{sHelR}" 0 L(-10 - 10)
c2R = T "c2_{sHelR}" 0 L(-10 - 10)
c4R = T "c4_{sHelR}" 0 L(-10 - 10)
c6R = T "c6_{sHelR}" 0 L(-10 - 10)


[HelPhiSigX Config]
configStr = Polynomial
x = cThHelPhi
nOrder = 4
P01 = 0. L(-100 - 100)
P02 = 0. L(-100 - 100)
P03 = 0. L(-100 - 100)
P04 = 0. L(-100 - 100)


[HelPhiBkg Config]
configStr = Polynomial
x = cThHelPhi
nOrder = 4
P01 = 0. L(-100 - 100)
P02 = 0. L(-100 - 100)
P03 = 0. L(-100 - 100)
P04 = 0. L(-100 - 100)


[HelPhiNonRes Config]
configStr = Polynomial
x = cThHelPhi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)


[HelPhiBBbar Config]
configStr = Polynomial
x = cThHelPhi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)




//--- Fitter "actions"

[PdfAct]
pdfFit = yes
//pdfToFit = MphiX MphiBkg
//pdfToFit = MbcBBbar DeltaEBBbar csVarBBbar MphiBBbar HelPhiBBbar
postPdfMakePlot = yes
postPdfWriteParams = yes
//postPdfReadSecParams = postPdfParamSec


[MLAct]
mlFitData = ichepData
// mlFit options
mlFit = yes
mlFitOption = emhr
preMLReadParams = yes
postMLWriteParams = yes
//postMLSignf = nSig


[ToyParams]
nSig = 250 L(-300. -  3000.)
nSXF = 25 L(-300. -  3000.)
nBB  = 120 L(-300. -  3000.)
nNR  = 100 L(-300. -  3000.)
nBkg = 1000 L(0. - 40000.)


[eToyAct]
toyStudy = yes
preToyReadSecParams = ToyParams 
postToyWriteParams=yes
toyDataFilePrefix=savedToys
dtSig_C = 0.0
dtSig_S = 0.70
dtSigNR_C = 0.0
dtSigNR_S = -0.70
dtBB_C = 0.0
dtBB_S = 0.0
//protDatasets = onData
toyNexp = 3 // # experiments
toyNevt = 1495 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMCR 250
toySrc_nSXF = sigMCX 25
toySrc_nNR  = sigNR 100
toySrc_nBB  = pdf 120 
toySrc_nBkg = pdf 1000 
//preToyReadSecParams = ToyParams


[ProjAct]
// projectionPlot options
projPlot = yes
projPlotData = ichepData
projComps = RealSigPdf
projLLRPlots = yes
projVars = Mbc DeltaE csVar Mphi cThHelPhi
projLRatioCut = .5
//projLRatioCut_Mbc = 0.5
//projLRatioCut_DeltaE = 0.5
//projLRatioCut_csVar = 0.
//projLRatioCut_Mphi = 0.
//projLRatioCut_cThHelPhi = 0.5
plotBins_Mbc = 18
plotBins_DeltaE = 20
plotBins_csVar = 20
plotBins_Mphi = 25
plotBins_cThHelPhi = 20
